@font-face {
  font-family: 'ts-icons';
  src:  url('../fonts/ts-icons/ts-icons.eot?rreui1');
  src:  url('../fonts/ts-icons/ts-icons.eot?rreui1#iefix') format('embedded-opentype'),
  url('../fonts/ts-icons/ts-icons.ttf?rreui1') format('truetype'),
  url('../fonts/ts-icons/ts-icons.woff?rreui1') format('woff'),
  url('../fonts/ts-icons/ts-icons.svg?rreui1#ts-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ts-icons' !important;
  font-display: swap;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-floors {
  font-family: $defaultFont!important;
  font-display: swap;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  vertical-align: top;
  font-weight: bold;
  font-size: 11px;
  &:after {
    content: "\e900";
    font-family: 'ts-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    bottom: 0;
    right: 0;
  }

}

.icon-call:before {
  content: "\e901";
}
.icon-car:before {
  content: "\e902";
}
.icon-chair:before {
  content: "\e903";
}
.icon-grid:before {
  content: "\e904";
}
.icon-heart:before {
  content: "\e905";
}
.icon-list:before {
  content: "\e906";
}
.icon-map:before {
  content: "\e907";
}
.icon-map-point:before {
  content: "\e908";
}
.icon-metro:before {
  content: "\e909";
}
.icon-refregerator:before {
  content: "\e90a";
}
.icon-tv:before {
  content: "\e90b";
}
.icon-washinigmashine:before {
  content: "\e90c";
}

.icon-filters:before {
  content: "\e90d";
}

.icon-tour:before {
  content: "\e939";
}

.icon-video-line:before {
  content: "\e93a";
}

.icon-photo:before {
  content: "\e93b";
}

.icon.icon-count-room {
  font-family: $defaultFont!important;
  display: block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  background: #4e5051;
  border-radius: 50%;
}

.icon-arrows {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  &:after {
    content: ' ';
    width: 7px;
    height: 7px;
  }
  &.down {
    &:after {
      display: block;
      border-right: 2px solid rgba(34, 36, 37, 0.8);
      border-bottom: 2px solid rgba(34, 36, 37, 0.8);
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -3px;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &.up {
    &:after {
      display: block;
      border-left: 2px solid rgba(34, 36, 37, 0.8);
      border-top: 2px solid rgba(34, 36, 37, 0.8);
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: 3px;
      transform: translate(-50%, -50%) rotate(45deg);
    }
  }
  &.left {
     &:after {
       display: block;
       border-left: 2px solid rgba(34, 36, 37, 0.8);
       border-top: 2px solid rgba(34, 36, 37, 0.8);
       position: absolute;
       left: 50%;
       top: 50%;
       margin-left: 3px;
       transform: translate(-50%, -50%) rotate(-45deg);
     }
  }
  &.right {
    &:after {
      display: block;
      border-right: 2px solid rgba(34, 36, 37, 0.8);
      border-bottom: 2px solid rgba(34, 36, 37, 0.8);
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -3px;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

}

.icon-callback:before {
  content: "\e90e";
}
.icon-envelope:before {
  content: "\e90f";
}
.icon-no:before {
  content: "\e910";
}
.icon-share:before {
  content: "\e911";
}
.icon-skype:before {
  content: "\e912";
}
.icon-viber:before {
  content: "\e913";
}
.icon-yes:before {
  content: "\e914";
}
.icon-question:before {
  content: "\e915";
}
.icon-mts:before {
  content: "\e916";
}
.icon-life:before {
  content: "\e917";
}
.icon-velcom:before {
  content: "\e918";
}
.icon-bus:before {
  content: "\e919";
}
.icon-metro:before {
  content: "\e91a";
}
.icon-trolleybus:before {
  content: "\e91b";
}
.icon-route:before {
  content: "\e91c";
}
.icon-star:before {
  content: "\e91d";
}
.icon-plan:before {
  content: "\e91e";
}
.icon-teapot:before {
  content: "\e91f";
}
.icon-hairdryer:before {
  content: "\e920";
}
.icon-shape:before {
  content: "\e921";
}
.icon-cap:before {
  content: "\e922";
}
.icon-bed:before {
  content: "\e923";
}
.icon-bed1:before {
  content: "\e924";
}
.icon-towels:before {
  content: "\e925";
}
.icon-iron:before {
  content: "\e926";
}
.icon-calendar:before {
  content: "\e927";
}
.icon-facebook:before {
  content: "\e928";
}
.icon-instagram:before {
  content: "\e929";
}
.icon-telegram:before {
  content: "\e92a";
}
.icon-viber:before {
  content: "\e92b";
}
.icon-vk:before {
  content: "\e92c";
}
.icon-youtube:before {
  content: "\e92d";
}
.icon-calculator:before {
  content: "\e92e";
}
.icon-video:before {
  content: "\e92f";
}
.icon-wh:before {
  content: "\e92f";
}
.icon-whatsapp:before {
  content: "\e930";
}
.icon-weaving:before {
  content: "\e931";
}