.row {
  width: auto;
  margin-left: -$defaultPaddings;
  margin-right: -$defaultPaddings;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.col-auto {
  min-height: 1px;
  padding-left: $defaultPaddings;
  padding-right: $defaultPaddings;
  width: auto;
}

.col {
  min-height: 1px;
  padding-left: $defaultPaddings;
  padding-right: $defaultPaddings;

  &-lg {
    &-1 {
      @extend .col;
      width: 6.25%;
    }

    &-2 {
      @extend .col;
      width: 12.5%;
    }

    &-3 {
      @extend .col;
      width: 18.75%;
    }

    &-4 {
      @extend .col;
      width: 25%;
    }

    &-5 {
      @extend .col;
      width: 31.25%;
    }

    &-6 {
      @extend .col;
      width: 37.5%;
    }

    &-7 {
      @extend .col;
      width: 43.75%;
    }

    &-8 {
      @extend .col;
      width: 50%;
    }

    &-9 {
      @extend .col;
      width: 56.25%;
    }

    &-10 {
      @extend .col;
      width: 62.5%;
    }

    &-11 {
      @extend .col;
      width: 68.75%;
    }

    &-12 {
      @extend .col;
      width: 75%;
    }

    &-13 {
      @extend .col;
      width: 81.25%;
    }

    &-14 {
      @extend .col;
      width: 87.5%;
    }

    &-15 {
      @extend .col;
      width: 93.75%;
    }

    &-16 {
      @extend .col;
      width: 100%;
    }
  }
}

@media (max-width: 1199px) {
  .col {
    min-height: 1px;
    padding-left: $defaultPaddings;
    padding-right: $defaultPaddings;

    &-md {
      &-1 {
        width: 10%;
      }

      &-2 {
        width: 20%;
      }

      &-3 {
        width: 30%;
      }

      &-4 {
        width: 40%;
      }

      &-5 {
        width: 50%;
      }

      &-6 {
        width: 60%;
      }

      &-7 {
        width: 70%;
      }

      &-8 {
        width: 80%;
      }

      &-9 {
        width: 90%;
      }

      &-10 {
        width: 100%;
      }
    }
  }
}

@media (max-width: 767px) {
  .col {
    min-height: 1px;
    padding-left: $defaultPaddings;
    padding-right: $defaultPaddings;

    &-xs {
      &-1 {
        width: 10%;
      }

      &-2 {
        width: 20%;
      }

      &-3 {
        width: 30%;
      }

      &-4 {
        width: 40%;
      }

      &-5 {
        width: 50%;
      }

      &-6 {
        width: 60%;
      }

      &-7 {
        width: 70%;
      }

      &-8 {
        width: 80%;
      }

      &-9 {
        width: 90%;
      }

      &-10 {
        width: 100%;
      }
    }
  }
}