/* ++++++++++++ Header styles ++++++++++++ */
.drop-down-menu__lessor--td{
  background:  url(../images/programs/td-small.png) no-repeat right bottom #ec2220;
}
.list-no-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  &__top-panel {
    width: 100%;
    height: 42px;
    background-color: #2f3f55;
  }

  &__page-panel {
    width: 100%;
    height: 66px;
    background-color: #d13338;
  }
}

.top-panel {
  &__container {
    height: 100%;
  }

  &__row {
    height: 100%;
    justify-content: space-between;
  }

  &__logo {
    padding-right: 0;
  }

  &__menu {
    margin-left: -$defaultPaddings;
    padding: 0;
  }

  &--main {
    background-color: #004d90;

    .top-logo__img {
      visibility: hidden;
    }
  }
}

.top-menu {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    height: 100%;
    margin-right: 18px;

    ul {
      display: none;
    }

    &:last-child {
      margin-right: 0;
    }

    &.active {
      a {
        border-top: 4px solid #fff;
      }

      ul {
        display: block;
      }
    }

    @include respond(tablet) {
      &:hover {
        a {
          border-top: 4px solid #fff;
        }

        ul {
          display: block;
        }
      }
    }

    a {
      display: block;
      font-size: 12px;
      text-decoration: none;
      font-weight: bold;
      color: #d5d8dd;
      line-height: 34px;
      height: 100%;
      border-top: 4px solid transparent;
      transition: all ease-in 0.15s;
      white-space: nowrap;
    }
  }

  &__item-submenu {
    display: none;
  }
}

.top-logo {
  &__row {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__text {
    font-size: 12px;
    color: #ffe400;
    display: inline-block;
    padding-left: 15px;
    position: absolute;
    margin-top: -8px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

.top-likes {
  line-height: 42px;
  text-align: right;
  color: #ff6a7e;

  a {
    color: #ff6a7e;
    text-decoration: none;
  }
}

.page-panel {
  &__container {
    height: 100%;
  }

  &__row {
    height: 100%;
  }
}

.page-logo {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  text-decoration: none;

  &__img {
    width: 123px;

    &--mobile {
      display: none;
    }
  }

  &__text {
    font-size: 15px;
    line-height: 1.2;
    color: #fff;
    text-decoration: none;
  }
}

.page-menu {
  height: 100%;

  &__list {
    margin: 0;
    padding: 0 0 0 $defaultPaddings;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__item {
    height: 100%;

    &.active {
      > a {
        background-color: #ac2a2e;
      }
    }

    &:hover {
      @extend .active;
    }

    > a {
      display: block;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      height: 100%;
      line-height: 66px;
      padding-left: 12px;
      padding-right: 12px;
      text-decoration: none;
      transition: all ease-in 0.15s;
    }
  }

  @media (min-width: 1200px) {
    &__item-sub {
      padding-right: 10px !important;

      a {
        padding-right: 30px;
        display: inline-block;
      }

      &:after {
        content: ' ';
        display: inline-block;
        width: 9px;
        height: 9px;
        border-left: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        position: relative;
        top: -2px;
        margin-left: 8px;
        transform: rotate(-135deg);
      }

    }
    &__item-hover {
      &:hover {
        .drop-down-menu {
          transform: scaleY(1);
          opacity: 1;
        }
      }
    }
  }
}

.header-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 30%;
    margin-top: -10px;
    transform: scale(1, -1);
  }

  &__dropdown{
    position: absolute;
    background: #fff;
    color: #333;
    font-size: 15px;
    top: 66px;
    z-index: 999;
    box-shadow: 0px 0px 11px #ababab;
    border-radius: 3px;
    user-select: none;
    width: 325px;
    padding: 10px 20px;
    left: 50%;
    margin-left: -160px;
    font-size: 12px;
    ul.list-phones{
      text-decoration: none;
      list-style: none;
      padding: 0px;
    }
    ul.list-phones li a.head-txt{
      color: #2a55a4;
    }
    ul.list-phones li a.head-ph{
      font-weight: 100;
      color: #333;
      text-decoration: none;
    }
    ul.list-phones li a.head-ph:hover{
      color: #6886be;
    }
    ul.list-phones li a.head-ph span{
      font-size: 15px;
    }
    ul.list-phones li{
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
    }
    small{
      font-size: 12px;
      color: #727272;
      font-weight: 100;
      display: inline-block;
      margin-top: 15px;
    }
    .call_small{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      margin-bottom: 15px;
    }
    .list-socials{
      padding: 0;
      margin-top: 15px;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-size: 28px;
      margin-bottom: 10px;
    }
    .list-socials li{
      position: relative;
      width: 30px;
      height: 30px;
    }
    .list-socials li a{
      text-decoration: none;
      color: #fff;
      position: absolute;
      transform: scale(1, 1);
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0px;
    }
    .list-socials li.circle{
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #7a7c7c;
    }
    .list-socials li.circle:hover{
      background-color: #4b70b2;
    }
    .list-socials li.a-hover a:hover{
      color: #4b70b2!important;
    }
  }
  
  &__phone {
    width: 50%;
    font-weight: bold;
    text-align: right;
    height: auto;
    color: #fff;
    padding-left: $defaultPaddings * 2;
    
    &--number {
      font-size: 16px;
      font-weight: bold;
      line-height: 1.31;
      color: #fff;
      text-decoration: none;
      position: relative;
      padding-left: 30px;
      white-space: nowrap;
    }

    &--number-new{
      padding-left: 0px;
    }
    
    &--text {
      font-size: 12px;
      line-height: 1;
    }
    &--text-small {
      font-size: 9px;
      line-height: 1;
    }
  }

  &__phone-new.active .header-contact__dropdown{
    display: block!important;
  }
  
  &__phone-new{
    width: 75%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-left: 33px;
    padding-right: 30px;
    padding-top: 6px;
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
      background-color: #ac2a2e;
    }
    &:after{
      content: ' ';
      display: inline-block;
      width: 9px;
      height: 9px;
      border-left: 1px solid #ffffff;
      border-top: 1px solid #ffffff;
      position: relative;
      top: -21px;
      right: -118px;
      margin-left: 8px;
      transform: rotate(-135deg);
    }
  }
  
  @media only screen and (max-width: 1200px){
    &__phone-new{
      width: auto;
      &:after{
        right: -100px;
      }
    }
  }
  
  @media only screen and (max-width: 768px){
    .header-contact__phone--text-small{
      display: none;
    }
    .header-contact__dropdown{
      display: none;
    }
    .header-contact__phone--number-new{
      right: -62px;
    }
    &__phone-new{
      width: auto;
      position: relative;
      top: 0;
      right: -62px;
      &:after{
        display: none;
      }
      &:hover{
        background-color: transparent;
      }
    }
    .header-contact__phone-new .icon{
      font-size: 19px;
    }
    .header-contact__phone{
      display: none;
    }
  }
  
  &__phone-new.active { 
    background-color: #ac2a2e;
  }
  
  &__phone-new .icon { 
    font-size: 13px;
    left: -23px;
  }
  
  &__button {
    &--wrapper {
      width: 100%;
      padding-left: 30px;

      .white_button {
        width: 100%;
        letter-spacing: 1.3px;
      }
    }
  }
}

.box {
  height: 20px;
  width: 100%;
  background: #000;
}

.top-info {
  padding-top: 13px;
  padding-bottom: 13px;

  &__update {
    font-size: 12px;
    line-height: 1;
    color: #222425;
    text-align: right;

    &--date {
      display: inline-block;
      margin-right: 10px;
    }

    &--text {
      display: inline-block;
    }

    &--result {
      position: relative;
      padding-right: 14px;
      display: inline-block;

      &:before {
        content: ' ';
        width: 2px;
        height: 100%;
        position: absolute;
        right: 2px;
        top: 0;
      }

      &:after {
        content: ' ';
        width: 4px;
        height: 4px;
        position: absolute;
        right: 0;
      }

      &.update_up {
        color: #ac1416;

        &:before {
          background-color: #ac1416;
        }

        &:after {
          content: ' ';
          border-top: 2px solid #ac1416;
          border-left: 2px solid #ac1416;
          transform: rotate(45deg);
          top: 0;
        }
      }

      &.update_down {
        color: #389a12;

        &:before {
          background-color: #389a12;
        }

        &:after {
          content: ' ';
          border-bottom: 2px solid #389a12;
          border-right: 2px solid #389a12;
          transform: rotate(45deg);
          bottom: 0;
        }
      }
    }
  }

  &__currency {
    display: inline-block;
    margin-left: 13px;

    &--mobile {
      text-align: right;
      margin: 19px 22px 25px 0;
      display: none;
      @include respond(phone) {
        display: block;
      }
    }

    .fake-select {
      width: inherit;
      height: inherit;
    }

    .fake-select__value {
      border: none;
      font-size: 12px;
      padding: 0 17px 0 0;
      height: inherit;
      line-height: inherit;
    }

    .fake-select__list {
      padding: 8px 0;

      label {
        font-size: 16px;
        padding: 0 8px;
      }
    }

    .fake-select__value:after {
      content: ' ';
      border-left: 1px solid rgba(34, 36, 37, 0.8);
      border-top: 1px solid rgba(34, 36, 37, 0.8);
      width: 5px;
      height: 5px;
      right: 2px;
      top: 9px;
    }
  }
}

.breadcrumbs {
  margin: 0;
  padding: 0 $defaultPaddings;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1;

  &__item {
    display: block;
    margin-right: 7px;
    line-height: 1;
    height: auto;
    font-size: 12px;

    &:last-child {
      margin-right: 0;
    }

    &--link {
      display: inline-block;
      font-size: 12px;
      line-height: 1;
      color: #222425;
      text-decoration: none;
      padding-right: 16px;
      position: relative;

      &:after {
        content: ' ';
        width: 5px;
        height: 5px;
        display: block;
        border-right: 1px solid rgba(34, 36, 37, 0.8);
        border-top: 1px solid rgba(34, 36, 37, 0.8);
        position: absolute;
        right: 3px;
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
    }

    &--current {
      font-size: 12px;
      line-height: 1;
      color: #222425;
      display: inline-block;
      padding-right: 16px;
      position: relative;

      &:after {
        content: ' ';
        width: 5px;
        height: 5px;
        display: block;
        border-right: 1px solid rgba(34, 36, 37, 0.8);
        border-top: 1px solid rgba(34, 36, 37, 0.8);
        position: absolute;
        right: 2px;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
      }
    }
  }
}

.page {
  &__header {
    padding-top: 6px;
    padding-bottom: 11px;
    line-height: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &--title {
      margin: 0;
      padding: 0;
      font-size: 30px;
      font-weight: bold;
      line-height: 30px;
      color: #222425;
    }

    &--result {
      font-size: 15px;
      line-height: 1;
      color: rgba(34, 36, 37, 0.4);
      margin-left: 11px;
      padding-top: 5px;
    }

    &--soc{
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
      align-items: baseline;
    }

  }

  &__header-sub {
    margin-bottom: 11px;
    @include respond(phone) {
      display: none;
    }
  }
}

.rent {
  &__links {
    &--item {
      font-size: 15px;
      line-height: 1.4;
      text-decoration: none;
      color: #345591;
      margin-right: 15px;
      margin-bottom: 6px;
      display: inline-block;
    }

    &--count {
      font-size: 12px;
      line-height: 1;
      color: rgba(34, 36, 37, 0.4);
    }

    &--bottom {
      margin: 0 0 60px 0;
    }

    &--district {
      margin-bottom: 20px;
    }

    &--subdistrict {
      margin-bottom: 40px;
    }
  }

  &__filter {
    padding-top: 30px;
    padding-bottom: 25px;
    position: relative;

    &--sorting {
      position: absolute !important;
      bottom: -38px;
    }
  }

  &__panel {
    margin-bottom: 3px;

    &--row {
      justify-content: space-between;
    }

    &--views {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: flex-end;

      li {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        text-align: center;
        line-height: 36px;
        background: transparent;
        color: #2a55a4;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active {
          background-color: rgba(34, 36, 37, 0.4);
          color: #fff;
        }

        .icon-map {
          font-size: 16.4px;
        }
      }
    }

    &--sorting {
      max-width: 276px;
      width: 100%;
      position: relative;

      .fake-select {
        width: 100%;
        height: 34px;
        line-height: 32px;

        &__value {
          width: 279px;
          display: flex;
          justify-content: flex-start;
          border: 0;
          align-items: center;
          font-size: 15px;
          color: #222425;
          line-height: 32px;
          height: 34px;
          padding-left: 0;

          &:after {
            position: static;
            display: inline-block;
            margin-top: -5px;
            margin-left: 10px;
          }
        }

        &__list {
          label {
            font-size: 15px;
            padding: 5px 12px;
          }
        }
      }
    }
  }

  &__grid {
    border-top: solid 1px #d3d3d3;
    margin-bottom: 50px;
  }

  &__slider {
    margin-bottom: 60px;

    .slider-block__box {
      margin-left: -24px;
      margin-right: -24px;
    }

    .slider-block__header {
      margin-bottom: 16px;
    }

    .slick-list {
      padding-left: 12px;
    }

    .slider-block .slick-prev {
      right: 53px;
    }

    .slider-block .slick-next {
      right: 24px;
    }

    .slider-block__link {
      right: 106px
    }

    .slick-slide {
      margin-top: 12px;
      margin-bottom: 20px;
    }

    .slick-slide:hover {
      -webkit-box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
      box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
    }
  }

  &__slider-bottom {
    margin-bottom: 20px;
  }
}

.tile-view {
  &__cards {
    padding-top: 16px;

    > .row {
      margin: 0;
      justify-content: space-between;
      align-items: stretch;
    }
  }

  &__map {
    overflow: hidden;
  }

}

.bottom-navigation {
  height: 60px;
  background-color: #2a55a4;
  line-height: 60px;
  display: flex;
  justify-content: space-between;

  &__pagination {
    width: 61px;
    height: 100%;
    border-left: 1px solid #fff;
  }

  &__showmore {
    width: 100%;
    font-size: 19px;
    color: #ffffff;
    text-decoration: none;
  }
}

.select-place {
  &__button {
    width: 204px;
    border: solid 1px rgba(34, 36, 37, 0.2);
    border-radius: 3px;
    height: 48px;
    line-height: 46px;
    text-align: center;
    font-size: 19px;
    color: #222425;
    background-color: #ffffff;
    cursor: pointer;
  }
}

.card-item {
  width: 278px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;

  &__like {
    position: absolute;
    top: 8px;
    left: 16px;
    width: 18px;
    height: 18px;
    line-height: 1;
    font-size: 18px;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.8);
    z-index: 2;
    color: rgba(34, 36, 37, 0.6);
    transition: color ease-in 0.15s;
    cursor: pointer;

    &:hover {
      color: #ff6a7e;
      text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
    }
  }

  &__link {
    text-decoration: none;
    font-size: 15px;
    line-height: 1.4;
    color: #222425;
  }

  &__metro {
    @extend .mini-card__metro;
    line-height: 21px;
  }

  &__img {
    width: 100%;
    height: 162px;
    overflow: hidden;
    position: relative;
    margin-bottom: 7px;

    img {
      width: 100%;
      height: auto;
    }
  }
  &__archive{
    width: 80%;
    height: 77px;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  &__offer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    height: 21px;
    background-color: #d13338;
    line-height: 21px;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;

    &--grey {
      background-color: $colorWarmGrey;
    }

    &--blue {
      background-color: $colorDarkSkyBlue;
    }
    &--green {
      background-color: $colorNewbuild;
    }
  }

  &__header {
    font-weight: bold;
    line-height: 21px;
    margin-bottom: 3px;
  }

  &__location {
    line-height: 21px;
  }

  &__distance {
    line-height: 21px;
  }

  &__params {
    margin: 8px 0 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    &--flats {
      justify-content: space-between;
    }
    &--item {
      margin-right: 7px;
      color: #4e5051;
      font-size: 16px;
      vertical-align: middle;
    }

    .icon-chair {
      font-size: 20px;
    }

    .icon-tv {
      font-size: 18px;
    }
  }

  &__price {
    @extend .card-item__header;
    line-height: 24px;
    margin-bottom: 0;
  }

  &:hover {
    border-radius: 2px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
    box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
  }

  img {
    max-width: 100%;
  }
}

.mini-card {
  width: 192px + $defaultPaddings * 4;
  padding: 12px;
  position: relative;
  transition: all ease-in 0.2s;

  &__img {
    width: 100%;
    height: 114px;
    overflow: hidden;
    margin-bottom: 7px;
    position: relative;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__img-gray {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    background: $colorGreyishBrown;
    position: absolute;
  }

  &__header {
    @extend .card-item__header;
  }

  &__link {
    @extend .card-item__link;
  }

  &__like {
    @extend .card-item__like;
    top: 21px;
    left: 23px;
  }

  .card-item__like {
    top: 21px;
    left: 23px;
  }

  &__params {
    @extend .card-item__params;

    &--item {
      @extend .card-item__params--item;
    }
  }

  &__metro {
    position: relative;
    padding-left: 20px;
    margin-bottom: 7px;

    .icon {
      position: absolute;
      margin-right: 5px;
      left: 0;
      top: 6px;
    }
  }

  &__price {
    @extend .card-item__price;
  }

  &__sales {
    color: #d13338;
    margin-top: 5px;
  }
  &__area {
    margin: 5px 0;
  }

}

.list-view {
  &__pagination {
    margin-left: -24px;
    padding-left: 24px;
  }
}

.map-view {
  &__box {
    overflow: hidden;
    margin-left: -24px;
    margin-right: -24px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.bottom-menu {
  margin-bottom: 70px;

  &__header {
    font-size: 12px;
    line-height: 1;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    color: $colorBlack;
  }

  &__col {
    width: 160px;
    margin-right: 30px;
    padding-left: $defaultPaddings;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &--item {
      display: block;
      line-height: 1;
      margin-bottom: 10px;

      a {
        font-size: 12px;
        text-decoration: none;
        color: #000;
      }
    }
  }
}

.list-view__description, .list-view__offer {
  display: none;
}

.views__map {
  transition: all ease-in 0.2s;
}

.tile {
  > .row {
    align-items: stretch;
  }

  .cards-box {
    align-items: stretch;
    padding-top: 16px;

    .card-item {
      width: 50%;
      padding: 0 6px;
    }
  }

  .views__cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .bottom-navigation {
    margin-left: -24px;
    padding-left: 24px;
    margin-right: -12px;
  }
}

.map-view {
  .views__cards {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    min-height: 0;
  }

  .views__map {
    width: 100%;
  }

  .map_box {
    margin-left: -24px;
    width: 100%;

    & > div {
      width: 100%;
    }
  }

  #mapbase {
    width: 100%;
  }
}

.list-view {
  .views__map {
    visibility: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    min-height: 0;
  }

  .views__cards {
    width: 100%;
  }

  &__bed {
    margin: 8px 0 0;
  }

  .list-view__description {
    display: block;
    font-size: 15px;
    line-height: 1.4;
    color: #222425;
  }

  .bottom-navigation {
    margin-left: -24px;
    margin-right: -24px;
    padding-left: 24px;
  }

  .cards-box {
    margin-left: -24px;
    margin-right: -24px;
  }

  .card-item {
    width: 100%;
    padding-top: 12px;
    border-bottom: solid 1px #d3d3d3;
    padding-left: 18px;
    padding-right: 18px;
    margin-bottom: 0;
    transition: background ease-in 0.2s;

    &:hover {
      background: #f8f8f8;
    }

    &__link {
      display: flex;
    }

    &__img {
      width: 132px;
      height: 78px;
    }

    &__like {
      top: 19px;
      left: 34px;
    }
  }

  .list-view__img {
    width: 12.5%;
    padding: 0 6px;
  }

  .list-view__header {
    width: 38%;
    padding: 0 6px;
  }

  .list-view__location {
    width: 62%;
    padding: 0 6px;
  }

  .list-view__description {
    width: 31.25%;
    padding: 0 6px;
  }

  .list-view__price {
    width: 12.5%;
    text-align: right;
    padding: 0 6px;
  }

  .list-view__params {
    padding: 0 6px;
    width: 12.5%;
  }

  .list-view__offer {
    display: block;
    @extend .card-item__offer;
  }

  .list-view__mobile-col {
    width: 31.25%;
    display: flex;
  }
}

.map_box {
  margin-right: -24px;
}

.mobile-likes {
  display: none;
}

.full-card {
  padding-top: 3px;

  &__images {
    margin-bottom: 60.8px;
    /*overflow: hidden;*/
    &--box {
      display: flex;
      justify-content: flex-start;
      overflow: auto;
      -ms-overflow-style: none;
      overflow: -moz-scrollbars-none;
      /* хром, сафари */
      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-start;
  }

  &__top {
    @include respond(phone) {
      display: flex;
      justify-content: space-between;
    }

    .top-info__currency--mobile {
      margin: 26px 0px 21px;
    }
  }
}

.full-info {
  margin-bottom: 23px;

  &__offer {
    min-width: 168px;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    line-height: 21px;
    height: 21px;
    border-radius: 2px;
    background-color: #d13338;
    padding: 0 10px;
  }

  &__offer--blue {
    background-color: #4a90e2;
    cursor: pointer;
  } 
  
  &__offer--blue:hover { 
    box-shadow: 0px 0px 1px #333;
  }
      
  &__archive{
    width: 80%;
    height: 77px;
    font-size: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  &__header {
    margin: 0 0 7px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    color: #222425;
  }

  &__prices {
    margin-bottom: 10px;
  }

  &__price {
    display: inline-block;
    font-size: 19px;
    line-height: 1.26;
    color: #222425;
    margin-right: 13px;
  }

  &__price-usd {
    display: inline-flex;
    font-size: 12px;
    line-height: 1;
    color: rgba(34, 36, 37, 0.4);

    .icon {
      font-size: 16px;
      margin-left: 4px;
    }
  }

  &__address {
    font-size: 15px;
    line-height: 1.4;
    color: #345591;
    margin-bottom: 14px;
  }

  .mini-card__params {
    margin-top: 0;
  }

  &__params {
    margin-right: 14px;

    &--box {
      display: flex;
      justify-content: flex-start;
    }

    &--text {
      font-size: 15px;
      line-height: 1.4;
      color: #222425;
    }
  }

  &__href {
    color: #345591;
    text-decoration: none;
  }
}

.full-card__buttons {
  text-align: right;
}

.full-slider {
  &__img {
    margin-right: 3px;
  }
}

.full-content {
  &__text {
    font-size: 15px;
    line-height: 1.4;
    color: #222425;
    padding-right: 6.25%;
    margin-bottom: 15px;

    &--date {
      font-size: 15px;
      line-height: 1.4;
      color: #222425;
      margin-bottom: 22px;
    }

    a {
      color: $colorBlueLink;
      text-decoration: none;
    }
  }

  &__params {
    margin: 0 0 11px 0;
    padding: 0 6.25% 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    @include respond(phone) {
      flex-wrap: wrap;
      padding: 0;
    }
  }
  &__area {
    margin: 0 0 11px 0;
    padding: 0 6.25% 0 0;
    @include respond(phone) {
      padding: 0;
    }

  }
  &__info {
    margin-left: 15px;
    @include respond(phone) {
      margin-left: 0px;
      display: block;
    }
  }
  &__li {
    @include respond(phone) {
      width: 33%;
    }
  }

  &__value {
    font-weight: bold;
  }

  &__label {
    color: #a7a7a8;
  }

  &__video {
    margin-bottom: 22px;
  }

  &__props {
    margin-bottom: 58px;
  }
  &__btn {
    @include respond(phone) {
      margin-bottom: 22px;
    }
  }
}

.full-call {
  max-width: 420px;
  height: auto;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 19px 30px 19px 31px;
  border: solid 1px rgba(34, 36, 37, 0.2);
  color: #222425;

  &__top {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 2px;
  }

  &__main {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.26;
  }

  &__address {
    font-size: 15px;
    line-height: 1.4;
    color: #222425;
  }

  &__links {
    display: flex;
    margin-bottom: 34px;

    &--phones {
      @extend .list-no-style;
      margin-right: 24px;

      li {
        font-size: 15px;
        line-height: 1;
      }

      a {
        font-size: 15px;
        line-height: 1.4;
        color: #222425;
        text-decoration: none;
      }
    }

    &--networks {
      @extend .list-no-style;

      li {
        font-size: 15px;
        line-height: 1;
      }

      a {
        font-size: 15px;
        line-height: 1.4;
        color: #345591;
        text-decoration: none;
        padding-left: 21px;
        position: relative;

        .icon {
          position: absolute;
          left: 0;
          top: 2px;
          margin-right: 3px;
          font-size: 16px;
          color: #2a55a4;

          &.icon-envelope {
            font-size: 18px;
          }
        }
      }
    }
  }

  &__buttons {
    margin-bottom: 19px;
  }

  &__img {
    width: 66px;
    height: 54px;
    overflow: hidden;
    border-radius: 4px;

    img {
      max-width: 100%;
    }
  }

  &__img-circle {
    border-radius: 50px;
    width: 68px;
    overflow: hidden;

    img {
      max-width: 100%;
    }
  }

  &__col {
    position: relative;
  }

  &__soc {
    a {
      text-decoration: none;
      margin-right: 14px;
    }

    .icon {
      color: $colorBlack;
    }
  }
}

.full-pros {
  display: flex;
  margin-bottom: 22px;

  &__list {
    margin: 0 49px 0 0;
    padding: 0;
    list-style: none;

    &:nth-child(2) {
      margin: 0 32px 0 0;
    }

    li {
      font-size: 15px;
      line-height: 1.4;
      color: #222425;
      position: relative;
      margin-bottom: 9px;
      padding-left: 21px;

      .icon {
        font-size: 13px;
        display: block;
        width: 13px;
        position: absolute;
        left: 0;
        top: 4px;
        text-align: center;

        &.icon-yes {
          color: #4c8b2b;
        }

        &.icon-no {
          color: #a7a7a8;
        }
      }
    }
  }

  &__youtube {
    width: 700px;
    height: 392px;
    margin: 0px auto 15px;
    @include respond(phone) {
      height: 200px;
    }
  }
}

.news-button{
  color: #333!important;
}

.top-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 11px;
}

.buttons-group {
  padding-top: 8px;

  .filter-button {
    margin-bottom: 18px;
    line-height: 48px;
  }

  .button {
    margin-bottom: 18px;
  }

  &__links {
    text-align: right;

    a {
      font-size: 12px;
      line-height: 1;
      text-decoration: none;
      color: #345591;
      display: inline-flex;
      align-items: center;
      margin-left: 31px;

      .icon {
        font-size: 18px;
        margin-left: 6px;
      }

      &:first-child {
        margin-left: 0px;
      }
    }
  }

}

.full-mini-card {
  border: solid 1px rgba(34, 36, 37, 0.2);
  border-radius: 5px 0 0 5px;
  padding: 42px 35px 44px 37px;
  @include respond(tablet) {
    min-height: 315px;
  }
  &__img {
    width: 276px;
    height: 162px;
    border-radius: 2px;
    overflow: hidden;
    margin-bottom: 9px;

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__header {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.26;
    color: #222425;
    margin-bottom: 7px;
  }

  &__text {
    font-size: 15px;
    line-height: 1.4;
    color: #345591;
  }

  &__price {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
    color: #222425;
    margin-bottom: 3px;
  }

  &__price-usd {
    font-size: 15px;
    line-height: 1.4;
    color: #222425;
  }

  .buttons-group {
    padding-top: 20px;

    .filter-button {
      width: 100%;
    }

    &__links {
      text-align: left;
      justify-content: flex-start;
      padding-left: 2px;

      a {
        margin-left: 0;
        margin-right: 31px;

        .icon {
          margin-left: 0;
          margin-right: 6px;
        }
      }
    }
  }
}

.full-point {
  margin-bottom: 44px;

  &__map {
    border-radius: 0 5px 5px 0;
    overflow: hidden;
    margin-left: -12px;
  }

  &__card {
    display: flex;
  }

  &__wraper {
    @include respond(planshet) {
      overflow: hidden;
      overflow-x: scroll;
    }
    @include respond(phone) {
      overflow: hidden;
      overflow-x: scroll;
    }
  }
  &__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0;
    @include respond(planshet) {
      width: 1200px;
    }
    @include respond(phone) {
      width: 1200px;
    }
  }
  &__href {
    text-decoration: none;
    color: $dusk-blue;
  }
  &__li {
    &--active {
      padding-bottom: 10px;
      border-bottom: 3px solid $colorBlack;
      .full-point__href {
        color: $colorBlack;
      }
    }
  }
}

.back-link-mobile {
  display: none;
  font-size: 12px;
  line-height: 1;
  color: #222425;
  padding-left: 12px;
  position: relative;
  text-decoration: none;
  margin-top: 19px;
  margin-bottom: 21px;

  &:after {
    content: ' ';
    display: block;
    width: 9px;
    height: 9px;
    border-left: 1px solid #4e5051;
    border-top: 1px solid #4e5051;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%) rotate(-45deg);
  }
}

.nav-slider {

  .slick-track {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 4px;
  }

  &__item {
    padding: 2px 0;
    height: 40px;

  }

  .slick-current {
    > div {
      position: relative;

      &:after {
        content: ' ';
        width: 160%;
        height: 108%;
        display: block;
        border-radius: 2px;
        border: solid 2px #222425;
        position: absolute;
        top: -2px;
        left: 0px;
        padding-left: 2px;
      }
    }
  }
}

.lessor {
  &__header {
    &--title {
      font-size: 30px;
      font-weight: bold;
      line-height: 1;
      color: #222425;
      margin: 0;
    }

    &__row {
      position: relative;
      z-index: 2;
    }

    margin-bottom: 29px;
  }

  &__button {
    text-align: right;
  }

  &__counters {
    padding-top: 30px;

    &--row {
      margin-bottom: 48px;
    }
  }

  &__content {
    margin-bottom: 74px;

    &--steps {
      padding-right: 6.25%;
    }

    &--text {
      font-size: 19px;
      line-height: 1.26;
      color: #222425;
      margin-bottom: 21px;
    }

    &--button {
      margin-bottom: 40px;
    }

    &--link {
      margin-bottom: 20px;

      a {
        font-size: 19px;
        line-height: 1.26;
        color: #2a55a4;
        text-decoration: none;
      }

      .icon {
        font-size: 16px;
        margin-right: 10px;
      }
    }
  }

  &__contact {
    .full-call__links {
      display: block;
      margin-bottom: 24px;
    }

    .full-call__buttons {
      margin-bottom: 8px;
    }

    .top-row__text {
      padding-right: 30px;
    }

    .full-call__links--phones a {
      line-height: 1.6;
    }

    .full-call__links--networks li {
      margin-bottom: 3px;
    }
  }

  .filter-button {
    line-height: 48px;
  }
}

.big-images {
  display: flex;
  justify-content: flex-start;
  border-radius: 5px;
  overflow: hidden;
  height: 288px;
  margin: 0 -1px 33px;

  a {
    text-decoration: none;
  }

  &__col {
    width: 400px;
    padding: 0 1px;

    &.big-col {
      width: 800px;
    }

    &.last-col {
      width: 354px;
      padding-left: 0;
    }
  }

  &__col-50 {
    width: 100%;
    padding: 0 1px;
    @include respond(tablet) {
      width: 100%;
    }

    &.last-col {
      padding-left: 0;
    }
  }

  &__item {
    width: 100%;
    height: 100%;
    padding: 25px 38% 25px 29px;
    color: #222425;

    &.clock-bg {
      background: url('../images/big-img/clock.jpg') no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

    &.note-bg {
      background: url('../images/big-img/note.jpg') no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

    &.arenda-viber {
      background: url('../images/big-img/arenda-viber.jpg') no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

    &.arenda-corporate {
      background: url('../images/big-img/arenda-corporate.jpg') no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
    }

    &.tie-block {
      padding-right: 60%;

      .big-images {
        &__pre-header {
          font-size: 15px;
          line-height: 1.4;
          color: #222425;
        }

        &__header {
          font-size: 48px;
          font-weight: bold;
          line-height: 1;
          color: #222425;
          margin-bottom: 25px;
        }

        &__text {
          font-size: 19px;
          line-height: 1.26;
          color: #222425;
        }
      }
    }

    &.big-images__item-block {
      padding-right: 60%;

      .big-images {
        &__pre-header {
          font-size: 15px;
          line-height: 1.4;
          color: #222425;
        }

        &__header {
          font-size: 48px;
          font-weight: bold;
          line-height: 1;
          color: #222425;
          margin-bottom: 25px;
        }

        &__text {
          font-size: 19px;
          line-height: 1.26;
          color: #222425;
        }
      }
    }
  }

  &__pre-header {
    font-size: 12px;
    line-height: 1;
    margin-bottom: 1px;
  }

  &__header {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 19px;
    line-height: 1.26;
    color: #222425;
  }

  &__item-block {
    &--cooperation {
      width: 100%;
      background: url('../images/programs/cooperation.jpg') no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      @include respond(phone) {
        background-position: 100%;
      }
    }
  }
}

.image-cards {
  background-color: rgba(34, 36, 37, 0.03);
  height: 100%;
  border-radius: 0 5px 5px 0;
  border-top: 1px solid rgba(34, 36, 37, 0.2);
  border-bottom: 1px solid rgba(34, 36, 37, 0.2);
  border-right: 1px solid rgba(34, 36, 37, 0.2);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

  &__item {
    height: 50%;
  }
}

.two-col {
  padding: 0 1px 0 0;

  .image-cards {
    border-radius: inherit;
  }

  .image-cards__item {
    &:first-child {
      margin-bottom: 1px;
    }
  }
}

.big-images-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(34, 36, 37, 0.2);
  padding: 16px 23px 16px 30px;

  &__text {
    width: 80%;
    color: #222425;
  }

  &__header {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.26;
  }

  &__subtext {
    font-size: 15px;
    line-height: 1.4;
  }

  &__img {
    width: 40%;
    text-align: right;
    padding-left: 3%;

    img {
      width: 109px;
      height: auto;
    }
  }

  &:last-child {
    border: 0;
  }
}

.counters {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  color: #222425;

  &.lessor__counters {
    padding-top: 15px;
    padding-bottom: 30px;
    padding-right: 31.25%;
  }

  &__big {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 4px;
  }

  &__small {
    font-size: 15px;
    line-height: 1.4;
  }
}

.page-steps {
  margin-top: 21px;
  margin-bottom: 51px;

  &__header {
    margin-top: 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    color: #222425;
    margin-bottom: 28px;
  }
}

.steps-item {
  border-bottom: solid 1px rgba(34, 36, 37, 0.2);

  &.active {
    .steps-item__body {
      display: block;
    }

    .steps-item__header--step {
      display: inline;
    }
  }

  &:first-child {
    border-top: solid 1px rgba(34, 36, 37, 0.2);
  }

  &__header {
    padding-left: 72px;
    padding-right: 33px;
    position: relative;
    height: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;

    &--title {
      font-size: 19px;
      font-weight: bold;
      line-height: 1.26;
      color: #222425;
    }

    &--num {
      position: absolute;
      left: 0;
      top: 51%;
      width: 52px;
      text-align: right;
      font-size: 15px;
      font-weight: bold;
      line-height: 1.26;
      letter-spacing: 1.3px;
      color: #222425;
      text-transform: uppercase;
      white-space: nowrap;
      transform: translateY(-50%);
    }

    .icon-arrows {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }

    &--step {
      display: none;
    }
  }

  &__body {
    display: none;
    padding-left: 72px;
    padding-bottom: 21px;

    &--row {
      display: flex;
      justify-content: space-between;
    }

    &--col {
      width: auto;
      padding-right: 12px;
      font-size: 15px;
      line-height: 1.4;
      color: #222425;
      min-width: 276px;

      &.big {
        font-size: 19px;
        line-height: 1.26;
      }

      &:last-child {
        padding-right: 0;
      }

      p {
        margin: 0 0 25px;
      }
    }
  }
}

.personal {
  margin-bottom: 60px;

  &__slider {
    margin: 0 -6px;
  }

  .slider-block {
    padding-right: 9.25%;
  }

  .slider-block .slick-next {
    right: 7px;
  }

  .slider-block .slick-prev {
    right: 36px;
  }

  .slider-block__header {
    margin-top: 0;
    &--buy {
      margin-bottom: 11px;
    }
  }
  .slick-slide {
    margin: 10px 0;
  }
  .slick-slide:hover {
    -webkit-box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
    box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
  }
}

.associate {
  width: 145px;
  padding: 0 6px;

  &__link {
    text-decoration: none;
  }

  &__img {
    width: 133px;
    height: 133px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 7px;

    img {
      width: 100%;
      height: auto;
    }
  }

  &__header {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
    color: #222425;
  }

  &__text {
    font-size: 12px;
    line-height: 1.25;
    color: #222425;
  }
}

.hot-line {
  &__subheader {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 1.3px;
    color: #222425;
    text-transform: uppercase;
  }

  &__number {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    color: #222425;
    text-decoration: none;
    display: block;
    margin-bottom: 13px;
    margin-left: -26px;
  }

  &__content {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 21px;
  }

  &__text {
    width: 204px;
    padding-right: 12px;

    &--name {
      font-size: 15px;
      font-weight: bold;
      line-height: 1.4;
      color: #222425;
      margin-bottom: 2px;
    }

    &--info {
      font-size: 15px;
      line-height: 1.4;
      color: #222425;
    }
  }

  &__img {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.reviews {
  margin-bottom: 61px;

  .slider-block__box {
    margin-left: -18px;
    margin-right: -24px;
  }

  .reviews-all-button {
    padding-left: 18px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .slick-list {
    overflow: visible;
  }

  .slider-block__link {
    right: 106px;
  }
}

.review-item {
  padding: 13px 18px 31px;
  width: 300px;
  transition: all ease-in 0.2s;
  background: #fff;
  position: relative;

  &:hover {
    box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
    z-index: 3;
  }

  &__name {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.4;
    color: #222425;
    margin-bottom: 4px;
  }

  &__rating {
    margin: 0 0 5px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;

    &.one-star {
      li {
        &:first-child {
          color: #ffe400;
        }
      }
    }

    &.two-stars {
      li {
        &:first-child, &:nth-child(2) {
          color: #ffe400;
        }
      }
    }

    &.three-stars {
      li {
        &:first-child, &:nth-child(2), &:nth-child(3) {
          color: #ffe400;
        }
      }
    }

    &.four-stars {
      li {
        &:first-child, &:nth-child(2), &:nth-child(3), &:nth-child(4) {
          color: #ffe400;
        }
      }
    }

    &.full-stars {
      li {
        color: #ffe400;
      }
    }

    li {
      margin: 0 1px;
      font-size: 16px;
      line-height: 1;
      color: rgba(34, 36, 37, 0.2);
    }
  }

  &__text {
    font-size: 15px;
    line-height: 1.4;
    color: #222425;
    margin-bottom: 6px;
  }

  &__part {
    font-size: 12px;
    line-height: 1;
    color: rgba(34, 36, 37, 0.4);
  }
}

.twodays-hour {
  &__header {
    background: url('../images/programs/bg.jpg') bottom right;
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 61px;
    height: auto;
  }

  &__subtitle {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1.3px;
    color: #222425;
    text-transform: uppercase;
    margin-top: -2px;
  }

  .lessor__header__row {
    margin-bottom: 20px;
  }

  .lessor__header--title {
    line-height: 1;
  }

  .top-info {
    margin-bottom: 2px;
  }

  &__info-text {
    font-size: 19px;
    line-height: 1.26;
    color: #222425;
    margin-bottom: 59px;
  }

  .twodays-hour__counters.counters {
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 30px;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;

    li {
      padding: 0 20px;
      margin-bottom: 20px;
    }
  }

  &__list {
    list-style: none;
    padding: 0 0 0 26px;
    margin: 14px 0 0 0;
    font-size: 19px;
    position: relative;

    li {
      margin: 0 0 9px 0;
    }

    i {
      position: absolute;
      color: rgba(34, 36, 37, 0.8);
      left: 0;
    }

    @include respond(phone) {
      display: none;
    }
  }
}

.programs {
  &__header {
    -webkit-background-size: cover;
    background-size: cover;
    margin-bottom: 61px;
    height: auto;
    background-position: bottom right;

    &--doverenost {
      background-image: url('../images/programs/dover_pr.png');
    }

    &--biznes {
      background-image: url('../images/programs/corp-corp_progr.png');
    }

    &--payment {
      background-image: url('../images/programs/online.png');
    }

    &--v-newbuild {
      background-image: url('../images/programs/big-v-newbuild.jpg');
      @include respond(phone) {
        background-position: 74%;
      }
    }

    &--p-kredit {
      background-image: url('../images/programs/p-kredit.jpg');
    }

    &--compl-project {
      background-image: url('../images/programs/complited-project.png');
      @include respond(phone) {
        background-image: url('../images/programs/complited-project-mobil.png');
        .lessor__content--link {
          margin-top: 20px;
        }
      }
    }

    &--exkursii {
      background-image: url('../images/programs/exkursii.png');
      @include respond(phone) {
        background-image: url('../images/programs/excursii-mobil.png');
      }
    }

    &--bonus {
      background-image: url('../images/programs/bonus.png');
      @include respond(planshet) {
        background-position: 85%;
      }
      @include respond(phone) {
        background-image: url('../images/programs/bonus-mobil.png');
      }
    }

    &--analytical-review {
      background-image: url('../images/programs/analyt-jil-ned.jpg');
      background-color: #7dd4b1;
      @include respond(planshet) {
        background-size: 100%;
        background-repeat: no-repeat;
      }
      @include respond(phone) {
        background-size: 150%;
        background-repeat: no-repeat;
      }
    }

    &--investment {
      background-image: url('../images/programs/investment.jpg');
      background-color: #2a9ed9;
      @include respond(planshet) {
        background-size: 100%;
        background-repeat: no-repeat;
      }
      @include respond(phone) {
        background-size: 150%;
        background-repeat: no-repeat;
      }
    }

    &--analytical-comm {
      background-image: url('../images/programs/analyt-com-ned.jpg');
      background-color: #65c9e9;
      @include respond(planshet) {
        background-size: 100%;
        background-repeat: no-repeat;
      }
      @include respond(phone) {
        background-size: 150%;
        background-repeat: no-repeat;
      }
    }

    &--analytical-consulting {
      background-image: url('../images/programs/analyt-consalting.jpg');
      background-color: #d3d3d3;
      @include respond(planshet) {
        background-size: 150%;
        background-repeat: no-repeat;
      }
      @include respond(phone) {
        background-size: 200%;
        background-repeat: no-repeat;
      }
    }

    &--market {
      background-image: url('../images/programs/market-price.jpg');
      background-color: #61a4ea;
      @include respond(planshet) {
        background-size: 150%;
        background-repeat: no-repeat;
      }
      @include respond(phone) {
        background-size: 200%;
        background-repeat: no-repeat;
      }
    }

    &--reviews {
      background-image: url('../images/programs/reviews.jpg');
      background-color: #f1f1f1;
      background-repeat: no-repeat;
      margin-bottom: 30px;
      @include respond(planshet) {
        background-size: 100%;
      }
      @include respond(phone) {
        background-size: 200%;
      }
    }

    &--history {
      background-image: url('../images/programs/history.jpg');
      background-color: #7dd4b1;
      background-repeat: no-repeat;
      margin-bottom: 30px;
      @include respond(planshet) {
        background-position: 69%;
        .twodays-hour__counters.counters {
          width: auto !important;
        }
      }
      @include respond(phone) {
        background-position: 54%;
      }
    }

    &--responsibilyty {
      background-image: url('../images/programs/responsibilyty.jpg');
      background-repeat: no-repeat;
      background-color: #af1b57;
      margin-bottom: 30px;
      margin-top: 1px;

      .lessor__header--title, .twodays-hour__info-text {
        color: #ffffff;
      }

      @include respond(planshet) {
        background-size: 100%;
      }
      @include respond(phone) {
        background-size: 150%;
      }
    }

    &--rewards {
      background-image: url('../images/programs/rewards.jpg');
      background-color: #fff6b1;
      background-repeat: no-repeat;
      margin-bottom: 30px;
      @include respond(planshet) {
        background-size: 90%;
        .twodays-hour__counters.counters {
          width: auto !important;
        }
      }
      @include respond(phone) {
        background-size: 180%;
      }
    }

    &--license {
      background-image: url('../images/programs/licenz.jpg');
      background-color: #d0eef8;
      background-repeat: no-repeat;
      margin-bottom: 30px;
      @include respond(planshet) {
        background-size: 90%;
      }
      @include respond(phone) {
        background-size: 180%;
      }
    }

    &--stolich {
      background-image: url('../images/programs/stolich.jpg');
      background-color: #ff9273;
      background-repeat: no-repeat;
      margin-bottom: 30px;
      @include respond(planshet) {
        background-size: 90%;
        .twodays-hour__counters.counters {
          width: auto !important;
        }
      }
      @include respond(phone) {
        background-size: 180%;
      }
    }

    &--services {
      background-image: url('../images/programs/services.jpg');
      background-color: #2486c3;
      background-repeat: no-repeat;
      @include respond(planshet) {
        background-image: url('../images/programs/servisec-pad.jpg');
      }
      @include respond(phone) {
        background-image: url('../images/programs/servises-mob.jpg');
      }
    }

    &--job {
      background-image: url('../images/programs/job.jpg');
      background-color: #f8f8f8;
      background-repeat: no-repeat;
      @include respond(planshet) {
        background-position: 61%;
      }
      @include respond(phone) {
        background-size: 200%;
      }
    }

    &--eurogames {
      background-image: url('../images/programs/eurogames.jpg');
      background-color: #f8f8f8;
      background-repeat: no-repeat;
      @include respond(planshet) {
        background-position: 61%;
      }
      @include respond(phone) {
        background-size: 200%;
        background-image: url('../images/programs/eurogames.jpg'), linear-gradient(255deg, #2d9dc4, #1f75a7 49%, #2e667c 73%, #408ca6);
      }

      .lessor__header--title {
        color: #ffffff;
      }

      .twodays-hour__info-text {
        color: #ffffff;
      }

      .counters {
        color: #ffffff;
      }
    }

    &--classification {
      background-image: url('../images/programs/classification.jpg');
      background-color: $seafoam-blue;
      background-repeat: no-repeat;
      @include respond(planshet) {
        background-position: 77%;
      }
      @include respond(phone) {
        background-size: 200%;
      }
    }

    &--buy-house {
      background-image: url('../images/programs/buy-in-house.jpg');
      background-repeat: no-repeat;
      @include respond(tablet) {
        min-height: 410px;
      }
      @include respond(planshet) {
        background-position: 77%;
      }
      @include respond(phone) {
        background-size: 200%;
      }
    }
  }

  &__subtitle {
    font-size: 15px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1.3px;
    color: #222425;
    text-transform: uppercase;
    margin-top: -2px;
  }

  .lessor__header__row {
    margin-bottom: 20px;
  }

  .lessor__header--title {
    line-height: 1;
  }

  .top-info {
    margin-bottom: 13px;
  }

  &__info-text {
    font-size: 19px;
    line-height: 1.26;
    color: #222425;
    margin-bottom: 59px;
  }

  .twodays-hour__counters.counters {
    padding-right: 0;
    padding-top: 0;
    margin-bottom: 30px;
    flex-wrap: wrap;
    margin-left: -20px;
    margin-right: -20px;

    li {
      padding: 0 20px;
      margin-bottom: 20px;
    }
  }

}

.halva {
  &__header {
    background-color: #f8f8f8;
    position: relative;
    border-bottom: 1px solid rgba(34, 36, 37, 0.2);
    min-height: 375px;
    margin-bottom: 61px;

    &:after {
      content: ' ';
      display: block;
      width: 447px;
      height: 246px;
      background: url('../images/halva/halva-desktop.jpg') no-repeat;
      -webkit-background-size: cover;
      background-size: cover;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    &--subtext {
      font-size: 19px;
      line-height: 1.26;
      color: #222425;
      margin-bottom: 60px;
      position: relative;
      z-index: 3;

      a {
        color: #2a55a4;
        text-decoration: none;
      }
    }

    &--link {
      font-size: 19px;
      line-height: 1.26;
      color: #2a55a4;
      margin-bottom: 67px;
      position: relative;
      z-index: 2;

      a {
        color: #2a55a4;
        text-decoration: none;
      }

      .icon {
        display: inline-block;
        width: 24px;
        height: 24px;
        font-size: 18px;
        text-align: center;
        margin-right: 6px;
      }
    }
  }

  .lessor__header {
    margin-bottom: 0;
  }
}

.payment {
  &__header {
    background-color: #f8f8f8;

    &:after {
      width: 100%;
      height: 100%;
      background: url('../images/programs/online.png') bottom right;
      z-index: 0;
    }
  }
}

.tie-block {
  width: 100%;
  background: url('../images/tenant/bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

.hidden {
  display: none !important;
}

.show-xs {
  display: none;
}

.mobile-counters {
  display: none;
}

.halva__mobile {
  display: none;
}

.resident label span {
  margin-left: 25px;
  font-size: 14px;
}

.resident {
  margin: 5px 0 10px 0;
}

.resident .fake-select__checkbox:not(checked) + label:before {
  left: 0px
}

.credit-blocks {
  display: flex;
  margin-bottom: 50px;
  @include respond(phone) {
    flex-direction: column;
  }
  &__item { 
    width: 100%;
    max-width: 312px;
    box-shadow: 0px 0px 4px #d4d4d4;
    min-height: 224px;
    margin-right: 10px;
    border-radius: 3px;
    @include respond(phone) {
      margin-bottom: 15px;
    }
  }
  &__header{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
  }
  &__flexbox { 
    display: flex;
    font-size: 10px;
    color: #9b9b9b;
    padding: 7px;
    padding-left: 20px;
    padding-right: 20px;
    background: #f7f9fe;
    justify-content: space-between;
  }
  &__flexbox-another { 
    background: transparent;
    color: #333;
    font-size: 19px;
    justify-content: flex-start;
    margin-top: 10px;
    position: relative;
  }
  &__years{
    position: relative;
  }
  &__years:before{
    content: '';
    background: url(../images/graph.png);
    width: 15px;
    height: 20px;
    position: absolute;
    left: -36px;
    top: 5px;
    cursor: pointer;
  }
  &__small{
    font-size: 12px;
    color: #4a4a4a;
    display: flex;
  }
  &__href{
    color: #1a6bca;
    font-size: 10px;
    text-decoration:none;
    padding: 20px;
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 0px;
  }
  &__button{
    margin: 20px;
  }
}

.banner_info-line{
  color: #fff;
  max-width: 665px;
  display: flex;
  margin-top: 6px;
}

.flex__banner-row {
  display: flex;
  justify-content: center!important;
  align-items: center;
}

.programs__header--test-drive{
  background-image: url(../images/programs/bg-test-drive.png);
  background-repeat: no-repeat;
  background-color: #faf2cc;
}

.flex_test_drive{
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  @include respond(phone) {
    flex-direction: column;
  }
}

.flex_test_drive > div{
  margin-left: 20px;
  @include respond(phone) {
    margin-left: 0px;
  }
  &:first-child{
    margin-left: 0px;
  }
}

.flex_test_drive ul{
  list-style: none;
  font-size: 13px;
  li{
    margin-bottom: 6px;
    position: relative;
		&:last-child{
		  margin-bottom: 0px;
		}
	}
}
.icon-valik:before{content:"\e938";color:#4e5051}

@media screen and (max-width:768px){
.list-view{
  .card-item-new{
    .list-view__img {
      width:auto!important;
    }
  }
  }
}
.list-view{
  .card-item-new{
    .list-view__img {
      width: 14.5%;
      margin-right: 10px;
      @include respond(planshet) {
        width: auto;
      }
      @include respond(tablet) {
        width: auto;
      }
    }
    
    .card-item__img{
      height: 100px;
      width: 154px;
      position: relative;
    }
    .card-item__video{
      position: absolute;
      top: 0px;
      right: 5px;
      top: 5px;
      color: #d13338;
      text-shadow: 0px 0px 2px #fff;
    }
  
    &:hover .list-view__connect{
      display: block;
      @include respond(phone) {
        display:none;
      }
    }
    .list-view__mobile-col{
      @include respond(phone) {
        padding-right: 117px;
      }
    }
  }
}

.flex_test_drive ul li:before{
  content: '\2713';
  position: absolute;
  left: -21px;
  top: 0px;
}

.history-main__list{
  padding-right: 15px!important;
}

.dru__button-z a{
  color: #fff!important;
  padding-right: 63px!important;
  padding-left: 63px!important;
  text-transform: uppercase; 
}


.menu-header-fixed{
  height: 55px !important;
  position: fixed!important;
  top:0px;
  z-index:900 !important;

  .page-panel__logo, .page-panel__contact{
    display: none;
  }
  .header-contact__button--wrapper .white_button{
    top:10px;
  }
  .header-contact__phone--number{
    top:10px;
  }
}
.menu-mobile-fixed{
  position: fixed !important;
  top: 55px !important;
}
@media (min-width: 1200px) {
  .mobile_display {
    display: none;
  }
  .mobile-menu-btn{
    display: none;
  }
}

.video__request{
  position:relative;
  background:#81cce1;
  padding:5px 30px;
  margin-top:20px;
  border-radius:3px;
  max-width:420px;
  margin-bottom:30px
}
.video__request__text{
  max-width:285px
}
.video__request__submit{
  width:100%;
  cursor:pointer;
  margin-bottom:20px;
  margin-top:20px
}
.video__request__covid{
  position:absolute;
  right:21px;
  top:18px
}

.video__request.rent{
  width: 100%;
  max-width: none;
  padding-left: 100px;
  @include respond(planshet) {
    max-width: min-content;
    padding-left: 30px;
  }
  @include respond(phone) {
    max-width: min-content;
    padding-left: 30px;
  }
}

.video__request.rent form{
  display: flex;
  align-items: center;
  @include respond(planshet) {
    flex-direction: column;
    align-items: flex-start;
  }
  @include respond(phone) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.video__request.rent .video__request__text{
  font-size: 12px;
  max-width: 394px;
  padding-right: 35px;
  margin-top: 3px;
  margin-bottom: 3px;

}

.video__request.rent h3{
  font-size: 19px;
  margin: 0px;
}

.video__request.rent input{
  margin-right: 15px;
}

.video__request.rent .video__request__submit{
  max-width: 294px;
  margin-left: 15px;
  @include respond(planshet) {
    margin-left: 0px;
  }
  @include respond(phone) {
    margin-left: 0px;
    font-size: 14px;
  }
}

.video__request-group{
  @include respond(planshet) {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 66px;
  }
  @include respond(phone) {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 66px;
  }
}

.video__request.rent .video__request__covid{
  left:20px;
  width: 62px;
  height: 54px;
  @include respond(planshet) {
    right: 20px;
    left: auto;
  }
  @include respond(phone) {
    right: 20px;
    left: auto;
  }
}
.list-view__connect{
  display:none;
}

.tippy-box{position:relative;background-color:#b7b7b7;color:#fff;border-radius:4px;font-size:10px;line-height:1.4;outline:0;transition-property:transform,visibility,opacity}
.tippy-arrow{width:16px;height:16px;color:#b7b7b7}
@media screen and (max-width:520px){
  .favorites .connect_form{
    display: none;
  }
  .favorites .card-item__link{
    padding-right: 110px;
  }
}
.favorites .card-item__like.js-add-favorites.ux-favorite{
  color: #ff6a7e;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
}
.favorites .connect_form{
  display: none;
}
.favorites .card-item:hover .connect_form{
  display: block;
}
.favorites{
  .card-item{
    .pl{
      font-size: 14px;
    }
    .item_small{
      opacity: .5;
      display:block;
    }
    .list-view__img{
      margin-right: 15px;
    }
  }
}
@media only screen and (min-width: 768px){
  .mobile-menu-phone-btn{
    display: none;
  }
}
