@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
  .big-images {
    &__item {
      &.clock-bg {
        background: url('../images/big-img/clock2x.jpg') no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
      &.note-bg {
        background: url('../images/big-img/note2x.jpg') no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
      }
    }
  }


}