//default
$defaultFont: 'PT Sans', sans-serif;
$defaultPaddings: 6px;
$colorBlack: #222425;
$colorNewbuild: #4c8b2b;
$defaultBorderRadius: 5px;
$colorBlueLink: #345591;
$colorBlueLinkHover: #1358d8;
$colorWarmGrey: #9b9b9b;
$colorGreyishBrown: #4a4a4a;
$colorDarkSkyBlue: #4a90e2;
$colorLightblue: #65c9e9;
$dusk-blue: #2a55a4;
$dark-pink: #b72855;
$seafoam-blue: #7cd4b0;
$melon: #ff7750;
$dodger-blue: #6093ff;
$about: #af1b57;
$break-small: 767px;
$break-large: 1200px;
$white-gray: rgba(#d8d8d8,.2);
$warmGrey: #9b9b9b;
