/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

@font-face {
  font-family: 'ts-icons';
  src: url("../fonts/ts-icons/ts-icons.eot?rreui1");
  src: url("../fonts/ts-icons/ts-icons.eot?rreui1#iefix") format("embedded-opentype"), url("../fonts/ts-icons/ts-icons.ttf?rreui1") format("truetype"), url("../fonts/ts-icons/ts-icons.woff?rreui1") format("woff"), url("../fonts/ts-icons/ts-icons.svg?rreui1#ts-icons") format("svg");
  font-weight: normal;
  font-style: normal; }
.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ts-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-floors {
  font-family: "PT Sans", sans-serif !important;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  vertical-align: top;
  font-weight: bold;
  font-size: 11px; }
  .icon-floors:after {
    content: "\e900";
    font-family: 'ts-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    font-size: 16px;
    bottom: 0;
    right: 0; }

.icon-call:before {
  content: "\e901"; }

.icon-car:before {
  content: "\e902"; }

.icon-chair:before {
  content: "\e903"; }

.icon-grid:before {
  content: "\e904"; }

.icon-heart:before {
  content: "\e905"; }

.icon-list:before {
  content: "\e906"; }

.icon-map:before {
  content: "\e907"; }

.icon-map-point:before {
  content: "\e908"; }

.icon-metro:before {
  content: "\e909"; }

.icon-refregerator:before {
  content: "\e90a"; }

.icon-tv:before {
  content: "\e90b"; }

.icon-washinigmashine:before {
  content: "\e90c"; }

.icon-filters:before {
  content: "\e90d"; }

.icon.icon-count-room {
  font-family: "PT Sans", sans-serif !important;
  display: block;
  width: 18px;
  height: 18px;
  line-height: 18px;
  color: #fff;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  background: #4e5051;
  border-radius: 50%; }

.icon-arrows {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative; }
  .icon-arrows:after {
    content: ' ';
    width: 7px;
    height: 7px; }
  .icon-arrows.down:after {
    display: block;
    border-right: 2px solid rgba(34, 36, 37, 0.8);
    border-bottom: 2px solid rgba(34, 36, 37, 0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -3px;
    transform: translate(-50%, -50%) rotate(45deg); }
  .icon-arrows.up:after {
    display: block;
    border-left: 2px solid rgba(34, 36, 37, 0.8);
    border-top: 2px solid rgba(34, 36, 37, 0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: 3px;
    transform: translate(-50%, -50%) rotate(45deg); }
  .icon-arrows.left:after {
    display: block;
    border-left: 2px solid rgba(34, 36, 37, 0.8);
    border-top: 2px solid rgba(34, 36, 37, 0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: 3px;
    transform: translate(-50%, -50%) rotate(-45deg); }
  .icon-arrows.right:after {
    display: block;
    border-right: 2px solid rgba(34, 36, 37, 0.8);
    border-bottom: 2px solid rgba(34, 36, 37, 0.8);
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -3px;
    transform: translate(-50%, -50%) rotate(-45deg); }

.icon-callback:before {
  content: "\e90e"; }

.icon-envelope:before {
  content: "\e90f"; }

.icon-no:before {
  content: "\e910"; }

.icon-share:before {
  content: "\e911"; }

.icon-skype:before {
  content: "\e912"; }

.icon-viber:before {
  content: "\e913"; }

.icon-yes:before {
  content: "\e914"; }

.icon-question:before {
  content: "\e915"; }

.row {
  width: auto;
  margin-left: -6px;
  margin-right: -6px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16 {
  min-height: 1px;
  padding-left: 6px;
  padding-right: 6px; }
  .col-lg-1 {
    width: 6.25%; }
  .col-lg-2 {
    width: 12.5%; }
  .col-lg-3 {
    width: 18.75%; }
  .col-lg-4 {
    width: 25%; }
  .col-lg-5 {
    width: 31.25%; }
  .col-lg-6 {
    width: 37.5%; }
  .col-lg-7 {
    width: 43.75%; }
  .col-lg-8 {
    width: 50%; }
  .col-lg-9 {
    width: 56.25%; }
  .col-lg-10 {
    width: 62.5%; }
  .col-lg-11 {
    width: 68.75%; }
  .col-lg-12 {
    width: 75%; }
  .col-lg-13 {
    width: 81.25%; }
  .col-lg-14 {
    width: 87.5%; }
  .col-lg-15 {
    width: 93.75%; }
  .col-lg-16 {
    width: 100%; }

@media (max-width: 1199px) {
  .col, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-13, .col-lg-14, .col-lg-15, .col-lg-16 {
    min-height: 1px;
    padding-left: 6px;
    padding-right: 6px; }
    .col-md-1 {
      width: 10%; }
    .col-md-2 {
      width: 20%; }
    .col-md-3 {
      width: 30%; }
    .col-md-4 {
      width: 40%; }
    .col-md-5 {
      width: 50%; }
    .col-md-6 {
      width: 60%; }
    .col-md-7 {
      width: 70%; }
    .col-md-8 {
      width: 80%; }
    .col-md-9 {
      width: 90%; }
    .col-md-10 {
      width: 100%; } }
* {
  box-sizing: border-box; }
  *:focus {
    outline: 0 !important; }

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  line-height: 1.4;
  font-size: 16px;
  color: #222425; }

.container {
  width: 1200px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  min-height: 1px;
  min-width: 320px; }

.main-wrapper {
  overflow: hidden;
  border-left: solid 1px #d3d3d3;
  border-right: solid 1px #d3d3d3; }

.white_button {
  display: inline-block;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 5px;
  line-height: 34px;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap; }

.fake-select {
  width: 132px;
  height: 48px;
  font-size: 1em;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #4a4a4a;
  text-align: left;
  position: relative;
  overflow: visible;
  background: #ffffff; }
  .fake-select.opened .fake-select__list {
    transform: scaleY(1);
    opacity: 1; }
  .fake-select__value {
    width: 100%;
    height: 48px;
    line-height: 46px;
    padding: 0 28px 0 15px;
    border-radius: 3px;
    border: solid 1px rgba(34, 36, 37, 0.2);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    cursor: pointer;
    font-size: 19px;
    color: #222425; }
    .fake-select__value:after {
      content: ' ';
      display: block;
      width: 9px;
      height: 9px;
      border-left: 1px solid #000;
      border-top: 1px solid #000;
      position: absolute;
      top: 50%;
      right: 12px;
      margin-top: -7px;
      transform: rotate(-135deg); }
  .fake-select__list {
    font-family: inherit;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    overflow: auto;
    height: auto;
    min-width: 100%;
    max-width: 290px;
    max-height: 400px;
    margin: 2px 0 0 0;
    padding: 0;
    box-shadow: 0 2px 17px 0 rgba(186, 186, 186, 0.5);
    background: #fff;
    z-index: 10;
    border-radius: 3px;
    transform-origin: left top;
    transform: scaleY(0);
    opacity: 0;
    transition: all ease-in 0.2s; }
    .fake-select__list li {
      padding: 0;
      display: block;
      height: auto; }
    .fake-select__list label {
      display: block;
      width: 100%;
      height: 100%;
      padding: 15px 12px;
      cursor: pointer;
      font-size: 19px;
      line-height: 1.2;
      transition: all ease-in 0.15s; }
      .fake-select__list label:hover {
        background: #4d9dd2;
        color: #fff; }
      .fake-select__list label.checked {
        background: #0162d2;
        color: #fff; }
    .fake-select__list input {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1;
      opacity: 0; }

.inline-form {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .inline-form .form-group {
    display: inline-block;
    margin-right: 10px; }
    .inline-form .form-group:last-child {
      margin-right: 0; }

.price-range {
  display: flex;
  justify-content: flex-start; }
  .price-range__text {
    margin-left: 10px;
    position: relative;
    height: 48px; }
    .price-range__text--current-currency {
      font-size: 15px;
      font-weight: bold;
      color: #222425;
      display: block;
      line-height: 48px; }
    .price-range__text--other-currency {
      font-size: 12px;
      line-height: 1;
      color: rgba(34, 36, 37, 0.4);
      position: absolute;
      bottom: -3px;
      left: 0;
      display: inline-block;
      border-bottom: 1px dashed rgba(34, 36, 37, 0.4); }
  .price-range__border {
    width: 276px;
    height: 48px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px rgba(34, 36, 37, 0.2);
    display: flex;
    justify-content: flex-start; }
  .price-range__min {
    width: 50%;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    border-right: solid 1px rgba(34, 36, 37, 0.2);
    position: relative;
    text-align: right; }
    .price-range__min--text, .price-range__max--text {
      width: 20%;
      line-height: 44px;
      font-size: 19px;
      color: rgba(34, 36, 37, 0.4); }
    .price-range__min--price {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      padding-left: 12px;
      padding-right: 12px; }
      .price-range__min--price input {
        border: 0;
        background: transparent;
        text-align: right;
        display: block;
        height: 48px;
        max-width: 100%;
        font-size: 19px;
        font-weight: bold;
        line-height: 1.26;
        color: #222425; }
        .price-range__min--price input:focus {
          outline: 0; }
    .price-range__min--currency, .price-range__max--currency {
      background: #fff;
      display: inline-block;
      font-size: 12px;
      line-height: 1;
      text-align: right;
      padding: 0 3px;
      color: rgba(34, 36, 37, 0.4);
      position: absolute;
      bottom: -3px;
      right: 12px; }
  .price-range__max {
    width: 50%;
    height: 100%;
    padding-left: 12px;
    padding-right: 12px;
    position: relative;
    text-align: left; }
    .price-range__max--price {
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      padding-left: 12px;
      padding-right: 12px; }
      .price-range__max--price input {
        border: 0;
        background: transparent;
        text-align: right;
        display: block;
        height: 48px;
        max-width: 100%;
        font-size: 19px;
        font-weight: bold;
        line-height: 1.26;
        color: #222425; }
        .price-range__max--price input:focus {
          outline: 0; }

.filter-button {
  display: inline-block;
  height: 48px;
  border-radius: 5px;
  padding: 0 30px;
  background-color: #ffe400;
  box-shadow: 0 2px 2px 0 rgba(34, 36, 37, 0.2), inset 0 -1px 1px 0 rgba(34, 36, 37, 0.4);
  font-size: 20px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 1.5px;
  text-align: center;
  color: #222425;
  text-transform: uppercase;
  cursor: pointer;
  border: 0;
  transition: all ease-in 0.2s;
  position: relative;
  text-decoration: none;
  white-space: nowrap; }
  .filter-button:after {
    content: ' ';
    box-sizing: border-box;
    display: block;
    border: solid 2px #c0ad13;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all ease-in 0.2s; }
  .filter-button:hover {
    background-color: #efd70d; }
  .filter-button:focus:after {
    opacity: 1;
    visibility: visible; }
  .filter-button:active {
    background-color: #efd70d;
    box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5); }
    .filter-button:active:after {
      display: none; }

.icon-button {
  display: inline-block;
  height: 36px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px rgba(34, 36, 37, 0.2);
  line-height: 34px;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  color: #222425;
  position: relative;
  padding-left: 45px;
  padding-right: 19px;
  transition: all ease-in 0.15s;
  white-space: nowrap; }
  .icon-button:hover {
    background-color: rgba(34, 36, 37, 0.03);
    border: solid 1px rgba(34, 36, 37, 0.2); }
  .icon-button:after {
    opacity: 0;
    visibility: hidden;
    content: ' ';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -2px;
    left: -2px;
    border-radius: 5px;
    border: solid 2px rgba(34, 36, 37, 0.2);
    transition: all ease-in 0.15s; }
  .icon-button:focus:after {
    opacity: 1;
    visibility: visible; }
  .icon-button:active {
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
    background-color: rgba(34, 36, 37, 0.03); }
    .icon-button:active:after {
      opacity: 0;
      visibility: hidden; }
  .icon-button .icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%); }

.icon-button-blue {
  display: inline-block;
  height: 36px;
  border-radius: 5px;
  background-color: #2a55a4;
  border: 2px solid transparent;
  line-height: 34px;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  color: #fff;
  position: relative;
  padding-left: 40px;
  padding-right: 15px;
  transition: all ease-in 0.15s;
  white-space: nowrap; }
  .icon-button-blue:hover {
    background-color: #154090; }
  .icon-button-blue:focus {
    background-color: #2a55a4;
    border: solid 2px #002f86; }
  .icon-button-blue:active {
    background-color: #154090;
    box-shadow: inset 0 1px 3px 0 #222425; }
  .icon-button-blue .icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%); }

.blue-button {
  display: inline-block;
  height: 36px;
  border-radius: 5px;
  background-color: #2a55a4;
  border: 2px solid transparent;
  line-height: 34px;
  text-decoration: none;
  font-size: 15px;
  text-align: center;
  color: #fff;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  transition: all ease-in 0.15s;
  white-space: nowrap; }
  .blue-button:hover {
    background-color: #154090; }
  .blue-button:focus {
    background-color: #2a55a4;
    border: solid 2px #002f86; }
  .blue-button:active {
    background-color: #154090;
    box-shadow: inset 0 1px 3px 0 #222425; }

.form-button {
  margin-left: 10px; }

.pagination-dropdown:hover > .pagination-dropdown__list {
  transform: scaleY(1);
  opacity: 1; }
.pagination-dropdown__current {
  width: 100%;
  text-align: center;
  font-size: 19px;
  color: #ffffff;
  cursor: pointer; }
  .pagination-dropdown__current--text {
    display: inline-block;
    position: relative;
    padding-right: 13px; }
    .pagination-dropdown__current--text:after {
      content: ' ';
      display: block;
      width: 9px;
      height: 9px;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -6px;
      border-left: 1px solid #fff;
      border-bottom: 1px solid #fff;
      transform: rotate(-45deg); }
.pagination-dropdown__list {
  border-radius: 0 0 5px 5px;
  box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
  background-color: #ffffff;
  border: solid 1px rgba(34, 36, 37, 0.2);
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  transform-origin: left top;
  transform: scaleY(0);
  opacity: 0;
  transition: all ease-in 0.15s;
  position: relative;
  z-index: 10;
  overflow: hidden; }
  .pagination-dropdown__list--item {
    height: 36px;
    line-height: 36px;
    text-align: left;
    font-size: 19px;
    letter-spacing: normal;
    color: #222425; }
    .pagination-dropdown__list--item:last-child {
      padding-bottom: 0; }
    .pagination-dropdown__list--item a {
      display: inline-block;
      width: 100%;
      height: 100%;
      font-size: 19px;
      padding-left: 13px;
      letter-spacing: normal;
      color: #222425;
      transition: all ease-in 0.15s;
      text-decoration: none; }
      .pagination-dropdown__list--item a:hover {
        background-color: rgba(34, 36, 37, 0.2); }
    .pagination-dropdown__list--item span {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding-left: 13px;
      background-color: rgba(34, 36, 37, 0.2); }

.slider-block__header {
  font-size: 30px;
  font-weight: bold;
  line-height: 1;
  color: #222425;
  margin-top: 15px;
  margin-bottom: 28px; }
.slider-block__box {
  position: relative;
  z-index: 1; }
.slider-block__link {
  position: absolute;
  right: 89px;
  top: -48px;
  display: inline-block;
  font-size: 15px;
  line-height: 1.4;
  color: #345591;
  text-decoration: none; }
.slider-block .slick-arrow {
  top: -52px;
  transform: none;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: solid 1px rgba(34, 36, 37, 0.2); }
.slider-block .slick-prev {
  border-radius: 5px 0 0 5px;
  left: auto;
  right: 53px; }
  .slider-block .slick-prev:before {
    content: ' ';
    display: block;
    width: 9px;
    height: 9px;
    border-left: 1px solid rgba(34, 36, 37, 0.8);
    border-top: 1px solid rgba(34, 36, 37, 0.8);
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translate(-40%, -50%) rotate(-45deg);
    opacity: 1; }
.slider-block .slick-next {
  border-radius: 0 5px 5px 0;
  right: 24px; }
  .slider-block .slick-next:before {
    content: ' ';
    display: block;
    width: 9px;
    height: 9px;
    border-right: 1px solid rgba(34, 36, 37, 0.8);
    border-bottom: 1px solid rgba(34, 36, 37, 0.8);
    position: absolute;
    left: 46%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    opacity: 1; }

.footer {
  height: 72px;
  background-color: #d13338;
  overflow: hidden; }
  .footer .container {
    height: 100%; }
  .footer__row {
    justify-content: space-between;
    align-items: center;
    height: 100%; }
  .footer__copyright {
    color: #fff; }
  .footer__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end; }
    .footer__menu--item {
      margin-left: 26px; }
      .footer__menu--item a {
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        white-space: nowrap; }

.mobile-menu-button, .top-menu-mobile-close, .filter-mobils-button, .mobile-filter-close {
  display: none; }

/*# sourceMappingURL=common.css.map */
