@import "_variables.scss";
@import "_mixin.scss";

.icon-video:before {
    content: "\e92f";
    background-color: #fff;
    border-radius: 50%
}

.flex-block-organization{
  display: flex;
  flex-wrap: wrap;
}

.programs__header--buy-house-ppd{
  background-image: url(../images/programs/ppd.jpg);
  background-repeat: no-repeat;
  background-color: #faf2cd;
}

.flex-block-organization>div{
  max-width: 490px;
  margin-right: 20px;
}

.flex-block-organization>div:last-child{
  margin-left: 0px;
}

.clearfix:after, .clearfix:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before {
    content: " ";
    display: table
}

.clearfix:after, .modal-footer:after, .modal-header:after {
    clear: both
}

.card-item img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-view .card-item img{
  cursor: default;
}

.list-view .card-item-new .card-item__params--flats {
    margin-top: 0;
}

.list-view .card-item-new .list-view__description {
    width: 31.25%;
    text-align: justify;
}

.list-view .card-item-new .list-view__price {
    width: 13%;
}
.tile .card-item-new .single img:last-child {
    display: none;
}
.ndb .list-view .card-item-new .list-view__price {
    width: 18%;
}
.ndb .list-view .card-item-new .list-view__mobile-col {
    width: 19.25%;
}
.list-view__price.connect {
    display: flex;
    justify-content: flex-end;
}

.list-view .card-item-new .list-view__params {
    padding: 0 6px;
    width: 19.5%;
}

.list-view .card-item-new .list-view__mobile-col {
    width: 19.25%;
}
@media screen and (max-width: 720px) {
    .list-view .card-item-new .list-view__mobile-col,.list-view .card-item-new .list-view__params,.list-view .card-item-new .list-view__price{
        width: auto;
    }
}

.video__request {
    position: relative;
    background: #81cce1;
    padding: 5px 30px;
    margin-top: 20px;
    border-radius: 3px;
    max-width: 420px;
    margin-bottom: 30px;
}
.video__request__text {
    max-width: 285px;
}
.video__request__submit {
    width: 100%;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 20px;
}
.video__request__covid {
    position: absolute;
    right: 21px;
    top: 18px;
}
.full-info__archive {
    width: 80%;
    height: 77px;
    font-size: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
}
#r_form {
    width: 1200px;
    margin-left: -600px;
    height: 640px;
}
#close_banner {
    font-size: 35px;
    color: #fff;
    opacity: 1;
}
#banner_r_img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: left;
}
.banner-r_form {
    max-width: 400px;
    position: absolute;
    bottom: 30px;
    left: 110px;
}
@media only screen and (max-width: 1200px) {
    #r_form {
        width: 100%;
        margin-left: -50%;
        height: 640px;
    }
}
@media only screen and (max-width: 992px) {
    #r_form {
        height: 570px;
    }
}
@media only screen and (max-width: 768px) {
    #r_form {
        margin-left: 0;
    }
}
@media only screen and (min-width: 768px) {
    .hidden-planshet {
        display: none;
    }
    .footer_phmob {
        display: none;
    }
    .footer-soc__mobile {
        display: none;
    }
}
@media only screen and (max-width: 768px) {
    .footer__row > .col-lg-7 {
        height: 150px;
    }
    .footer:after {
        height: 150px;
    }
    .footer__soc {
        display: none;
    }
    .footer_phmob {
        display: block;
        color: #fff;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .footer_phmob a {
        text-decoration: none;
        color: #fff;
    }
    .footer_phmob b {
        margin-right: 10px;
    }
    .footer_phmob .icon {
        margin-right: 10px;
    }
    .footer__menu {
        display: flex;
        width: 225px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer__menu--item {
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .footer-soc__mobile {
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
    }
    .footer-soc__mobile .icon {
        font-size: 20px;
    }
    .footer-soc__mobile a {
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
    }
    .icon-inst-new:before {
        content: "\e933";
    }
    .icon-tel-new:before {
        content: "\e934";
    }
    .icon-face-new:before {
        content: "\e935";
    }
    .icon-vk-new:before {
        content: "\e936";
    }
    .icon-youtube-new:before {
        content: "\e937";
    }
}
.video__request.rent {
    width: 100%;
    max-width: none;
    padding-left: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .video__request.rent {
        max-width: -webkit-min-content;
        max-width: -moz-min-content;
        max-width: min-content;
        padding-left: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .video__request.rent {
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;
        padding-left: 30px;
    }
}
.video__request.rent form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .video__request.rent form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
@media only screen and (max-width: 767px) {
    .video__request.rent form {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
.video__request.rent .video__request__text {
    font-size: 12px;
    max-width: 394px;
    padding-right: 35px;
    margin-top: 3px;
    margin-bottom: 3px;
}
.video__request.rent h3 {
    font-size: 19px;
    margin: 0;
}
.video__request.rent input {
    margin-right: 15px;
}
.video__request.rent .video__request__submit {
    max-width: 294px;
    margin-left: 15px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .video__request.rent .video__request__submit {
        margin-left: 0;
    }
}
@media only screen and (max-width: 767px) {
    .video__request.rent .video__request__submit {
        margin-left: 0;
        font-size: 14px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .video__request-group {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 66px;
    }
}
@media only screen and (max-width: 767px) {
    .video__request-group {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 66px;
    }
}
.video__request.rent .video__request__covid {
    left: 20px;
    width: 62px;
    height: 54px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .video__request.rent .video__request__covid {
        right: 20px;
        left: auto;
    }
}
@media only screen and (max-width: 767px) {
    .video__request.rent .video__request__covid {
        right: 20px;
        left: auto;
    }
}
.icon-valik:before {
    content: "\e938";
    color: #4e5051;
}
@media screen and (max-width: 768px) {
    .list-view .card-item-new .list-view__img {
        width: auto !important;
    }
}
.list-view .card-item-new .list-view__img {
    width: 14.5%;
    margin-right: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .list-view .card-item-new .list-view__img {
        width: auto;
    }
}
@media only screen and (min-width: 1200px) {
    .list-view .card-item-new .list-view__img {
        width: auto;
    }
}
.list-view .card-item-new .card-item__img {
    height: 124px;
    width: 186px;
    position: relative;
}
.list-view .card-item-new .single {
    height: 100%;
}
.list-view .card-item-new .single .slick-slide > div {
    height: 100%;
}
.card-item-new .card-item__video {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 17px;
    top: 5px;
    color: #d13338;
    text-shadow: 0 0 2px #fff;
}
.list-view__connect{
  cursor: pointer;
}
.list-view .card-item-new:hover .list-view__connect {
    display: block;
}
@media only screen and (max-width: 767px) {
    .list-view .card-item-new:hover .list-view__connect {
        display: none;
    }
}
@media only screen and (max-width: 767px) {
    .list-view .card-item-new .list-view__mobile-col {
        padding-right: 83px;
    }
}
@media only screen and (max-width: 520px) {
    .ndb .list-view .card-item-new .list-view__mobile-col {
        padding-right: 0;
        width: 70%;
    }
    .ndb .list-view .card-item-new .list-view__price {
        width: 30%;
    }
    .ndb .list-view .card-item-new .list-view__params {
        padding: 0;
    }
    .ndb .card-item-new .card-item__params.card-item__params--flats {
        width: 190px;
        padding: 0;
    }
}
.list-view__connect {
    display: none;
}
.tippy-box {
    position: relative;
    background-color: #b7b7b7;
    color: #fff;
    border-radius: 4px;
    font-size: 10px;
    line-height: 1.4;
    outline: 0;
    -webkit-transition-property: visibility, opacity, -webkit-transform;
    transition-property: visibility, opacity, -webkit-transform;
    transition-property: transform, visibility, opacity;
    transition-property: transform, visibility, opacity, -webkit-transform;
}
.tippy-arrow {
    width: 16px;
    height: 16px;
    color: #b7b7b7;
}
@media only screen and (min-width: 1200px) {
    .list-card__connection {
        display: inline-block;
        position: absolute;
        right: 30px;
        bottom: 12px;
        height: 36px;
        border-radius: 5px;
        background-color: #d13338;
        line-height: 36px;
        text-decoration: none;
        font-size: 15px;
        text-align: center;
        padding: 0 15px;
        color: #fff;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all ease-in 0.15s;
        transition: all ease-in 0.15s;
    }
    .list-card__connection:hover {
        background-color: #d13338;
    }
    .list-card:hover .list-card__connection {
        opacity: 1;
        visibility: visible;
    }
}
.error-valid-message {
    position: absolute;
    padding-top: 12px;
    padding-bottom: 9px;
    padding-left: 45px;
    padding-right: 25px;
    background: #e83e54;
    left: 0;
    color: #fff;
    font-size: 10px;
    text-align: left;
    margin-top: 10px;
    border-radius: 3px;
    bottom: -52px;
    z-index: 10;
    display: none;
}
.error-valid-message .icon {
    position: absolute;
    left: 14px;
    top: 14px;
    font-size: 14px;
}
.error-valid-message:before {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #e83e54;
    position: absolute;
    content: "";
    top: -10px;
    left: 15px;
}
.icon-warning:before {
    content: "\e93c";
}
@media screen and (max-width: 520px) {
    .favorites .connect_form {
        display: none;
    }
    .favorites .card-item__link,
    .favorites .mini-card__link {
        padding-right: 110px;
    }
}
.favorites .card-item__like.js-add-favorites.ux-favorite-active,
.favorites .js-add-favorites.ux-favorite.mini-card__like {
    color: #ff6a7e !important;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}
.favorites .connect_form {
    display: none;
}
.favorites .card-item:hover .connect_form {
    display: block;
}
.favorites .card-item .pl {
    font-size: 14px;
    white-space: nowrap;
}
.favorites .card-item__header {
    margin-right: 30px;
}
.favorites .card-item .item_small {
    opacity: 0.5;
    display: block;
}
.favorites .card-item .list-view__img {
    margin-right: 15px;
}
.single .slick-arrow {
    display: none !important;
}
.single:hover .slick-arrow {
    display: block !important;
}
.list-view .card-item.banner {
    display: none;
}
.ndb .list-view .card-item-new .list-view__description {
    width: 46.25%;
}

@media only screen and (max-width: 520px) {
	.list-view .card-item-new .list-view__price {
	   width: 40%;
	}
}
@media only screen and (max-width: 767px) {
.list-view .card-item-new .card-item__params--flats {
        padding-left: 0;
        padding-right: 30px;
    }
}

.page-menu__item > a {
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    height: 100%;
    line-height: 66px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    -webkit-transition: all ease-in 0.15s;
    transition: all ease-in 0.15s;
}

.card-item__archive {
    width: 80%;
    height: 77px;
    font-size: 38px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 15px;
}

.icon-tour:before {
    content: "\e939";
}

.icon-video-line:before {
    content: "\e93a";
}

.icon-photo:before {
    content: "\e93b";
}

.pages-disable{
  color: #89a0cc;
}

.favorites .card-item__like.js-add-favorites.ux-favorite-active,
.ux-favorite-active,{
  color: #d13338 !important;
}

.card-item__like:hover, .mini-card__like:hover{
  color: #d13338 !important;
}

.favorites .card-item__like.js-add-favorites.ux-favorite-active,
.favorites .js-add-favorites.ux-favorite-active.mini-card__like,
.favorites .js-add-favorites.ux-favorite.mini-card__like{
  color: #d13338 !important;
}

.favorites .card-item__price{
  margin-right: 0px;
}

.favorites .card-item__like.js-add-favorites.ux-favorite-active:hover{
  color: rgb(105,107,106)!important;
}

.ux-favorite-active:hover{
  color: rgb(105,107,106)!important;
}

.mp-filter.map-view {
  display: none;
}

.list-view .card-item-new .wd-100{
  width: 100%;
}

.modal .mdisp-none{
  display: none;
}

@media screen and (max-width:1200px){
  .mobile_display{
    display: contents;
  }
}

@media screen and (min-width:1200px){
  .mobile_display{
    display: none;
  }
}

.flex-items__offer{
  display: flex;
  position: absolute;
  bottom: 0;
}

.flex-items__offer .card-item__offer{
  position: relative;
  width: auto;
  padding: 0px 10px;
  border-radius: 3px;
}

.tippy-bg-red .tippy-backdrop{ 
  background-color: #d13338!important;
}

.tippy-bg-green .tippy-backdrop{ 
  background-color: #4c8b2b!important;
}

.tippy-bg-blue .tippy-backdrop{ 
  background-color: #4a90e2!important;
}

.buy .full-card__info-box > div:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.buy .full-card__info-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.buy .full-card__info-box .icon {
    font-size: 28px;
}
.buy .full-card__info-box .full-card__info-box__icon {
    position: absolute;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.buy .full-card__info-box .full-card__info-box__icon b {
    margin-top: 5px;
}
.buy .full-card__info-box div {
    cursor: pointer;
    background-color: rgba(51, 51, 51, 0.2);
    overflow: hidden;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 95px;
    height: 128px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 2px solid #fff;
    position: relative;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-right: 1px;
    margin-bottom: 1px;
}
.buy .full-card__info-box div:hover {
    border: 2px solid #d13338;
}
.buy .full-card__info-box div.active {
    border: 2px solid #d13338;
}
.buy .full-card__info-box div img {
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.buy .full-card__nav {
    margin-left: 96px;
}
@media screen and (max-width: 768px) {
    .buy .full-card__info-box {
        display: none;
    }
    .buy .full-card__nav {
        margin-left: 0;
    }
    .buy .scrollbar {
        left: 0 !important;
    }
}

.hot-line-rev__img img {
    max-width: 100%;
    object-fit: cover;
    object-position: top;
}

.obmen .selectize-dropdown-content{
  max-height: 240px!important;
}

@media screen and(max-width: 480px){
  #r_form{
    height: 40%;
  }
}

.td-block-new{
  padding: 60px 0px;
  ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    li{
      max-width: 200px;
      position: relative;
      margin-left: 70px;
      margin-top: 20px;
      img{
        position: absolute;
        left: -65px;
      }
    }
  }
}
