@import "_variables.scss";
@import "_mixin.scss";

@media only screen and (min-width: 1200px) {
  .list-card {
    &__connection {
      display: inline-block;
      position: absolute;
      right: 30px;
      bottom: 12px;
      height: 36px;
      border-radius: 5px;
      background-color: #2a55a4;
      line-height: 36px;
      text-decoration: none;
      font-size: 15px;
      text-align: center;
      padding: 0 15px;
      color: #ffffff;
      opacity: 0;
      visibility: hidden;
      transition: all ease-in 0.15s;
      &:hover {
        background-color: #2a55a4 * 0.8;
      }
    }
    &:hover {
      .list-card__connection {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  body {
    background: #f2f2f2;
  }
  .main-wrapper {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    position: relative;
  }
  .page-logo__text {
    display: none;
  }
}

@media only screen and (max-width: 1199px) {
  .hide-mobile {
    display: none;
  }
  .container {
    width: 768px;
  }

  .top-info__breadcrumbs, .top-info__update {
    width: 50%;
  }

  .tile-view__map {
    display: none;
  }

  .tile-view__cards {
    width: 100%;
  }

  .card-item {
    width: 234px;
  }

  .price-range__border {
    width: 262px;
  }

  .inline-form .form-group {
    margin-bottom: 20px;
  }

  .form-button {
    margin-left: 0;
  }

  .inline-form {
    flex-wrap: wrap;
  }

  .page-panel {
    height: 120px;
    position: relative;
    z-index: 2;
    &:after {
      content: ' ';
      display: block;
      width: 100%;
      height: 54px;
      background: #ac1416;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  .page-panel__row {

  }

  .header-contact__button--wrapper .white_button {
    width: 145px;
    height: 36px;
  }

  .header-contact__button--wrapper {
    width: auto;
  }

  .header-contact__phone {
    width: auto;
  }

  .header-contact {
    justify-content: flex-end;
  }

  .page-panel__logo {
    order: 1;
    width: 30%;
    height: 66px;
  }

  .top-panel {
    height: auto;
    position: absolute;
    top: 66px;
    z-index: 11;
    transform: scaleY(0);
    transform-origin: left top;
    opacity: 0;
    transition: all ease-in 0.15s;
  }

  .menu-opened {
    .top-panel {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  .top-logo {
    display: none;
  }

  .top-likes {
    display: none;
  }

  .top-menu {
    width: 100%;
    padding: 27px 37px;
    position: relative;
  }

  .top-menu__list {
    flex-wrap: wrap;
  }

  .top-panel__menu {
    margin-left: 0;
  }

  .top-menu__item {
    width: 33.33334%;
    height: auto;
    margin-right: 0;
    line-height: 1;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    a {
      max-width: 100%;
      display: inline-block;
      width: auto;
      border-top: 0;
      font-size: 16px;
      font-weight: bold;
      color: #ffffff;
      line-height: 36px;
      height: 36px;
      padding: 0 16px;
      border-radius: 16px;
    }
  }

  .top-menu__item.active a, .top-menu__item:hover a {
    border-top: 0;
    height: 36px;
    /*background-color: rgba(255, 255, 255, 0.2);*/
  }

  .page-panel__menu {
    order: 3;
    width: 100%;
    background: #ac1416;
    height: 54px;
  }

  .page-menu__item.active a, .page-menu__item:hover a {
    background-color: #8e1012;
  }

  .page-menu__item a {
    line-height: 54px;
    padding-left: 10px;
    padding-right: 15px;
  }

  .page-panel__contact {
    order: 2;
    width: 70%;
    height: 66px;
  }

  .page-logo {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .page-logo__img {
    &--mobile {
      width: 18px;
      height: auto;
      display: block;
      margin-right: 18px;
    }
  }

  .bottom-menu__row {
    margin-bottom: -40px;
  }

  .bottom-menu__col {
    margin-bottom: 40px;
  }

  .page-logo__text {
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    display: block;
  }

  .tile-view__footer {
    margin-right: -24px;
  }

  .card-item__img {
    height: 150px;
  }

  .footer__copyright, .footer__menu--item a {
    font-size: 15px;
  }

  .page-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .page-menu__list {
    width: 100%;
    overflow-y: hidden;
  }
  .mobile-menu-button {
    display: flex;
    width: 18px;
    height: 12px;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 6px;
    &__line {
      display: block;
      width: 18px;
      height: 2px;
      background: #fff;
    }
  }

  .top-menu-mobile-close {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 20px;
    &:before, &:after {
      content: ' ';
      display: block;
      width: 18px;
      height: 2px;
      background: #fff;
      position: absolute;
      top: 50%;
      left: 6px;
      border-radius: 2px;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  .mobile-likes {
    display: inline-block;
    position: relative;
    padding-left: 20px;
    margin-left: 30px;
    color: #fff;
    text-decoration: none;
    .icon-heart {
      margin-top: -4px;
      width: 15px;
      height: 15px;
      font-size: 15px;
      transform: none;
    }
    &--main {
      position: absolute;
      top: 23px;
      right: 24px;
    }
  }

  .main-wrapper {
    border: 0;
  }

  .container {
    width: 100%;
  }

  .card-item {
    width: 100%;
  }

  .tile .views__cards {
    width: 100%;
  }

  .tile .views__map {
    display: none;
  }

  .tile .cards-box {
    justify-content: flex-start;
  }
  .tile .cards-box .card-item {
    width: 33.33334%;
    max-width: 280px;
  }
  .tile .cards-box .card-item__img {
    height: auto;
  }

  .list-view .list-view__mobile-col {
    display: block;
    width: auto;
  }

  .list-view .list-view__header {
    width: 100%;
  }

  .list-view .list-view__location {
    width: 100%;
  }

  .list-view .list-view__img {
    width: auto;
  }

  .tile .bottom-navigation {
    margin-right: -24px;
  }

  .full-content__text {
    width: 100%;
  }

  .full-content__call {
    width: 100%;
    margin-bottom: 61px;
  }

  .mobile-hide {
    display: none;
  }

  .lessor__header {
    &__row {
      justify-content: space-between;
    }
  }

  .lessor__title, .lessor__button {
    width: auto;
  }

  .lessor__content--steps, .lessor__content--contact {
    width: 100%;
  }

  .big-images {
    flex-wrap: wrap;
    height: auto;
    .first-col, .two-col {
      width: 50%;
      padding-left: 0;
    }
    .last-col {
      width: 100%;
    }
  }

  .image-cards {
    flex-direction: row;
    align-items: stretch;
    border-radius: 0 0 5px 5px;
    border-top: 0;
    border-bottom: 1px solid rgba(34, 36, 37, 0.2);
    border-right: 1px solid rgba(34, 36, 37, 0.2);
    border-left: 1px solid rgba(34, 36, 37, 0.2);
  }

  .big-images-item {
    min-height: 144px;
    border-bottom: 0;
    &:last-child {
      border-left: 1px solid rgba(34, 36, 37, 0.2);
    }
  }

  .counters.lessor__counters {
    padding-right: 0;
  }

  .twodays-hour {
    &__header {
      background: #7cd4b0;
      position: relative;
      &:after {
        content: ' ';
        width: 298px;
        height: 263px;
        display: block;
        background: url('../images/programs/clock.jpg') no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }

    .twodays-hour__counters.counters {
      justify-content: flex-start;
      li {
        padding: 0 20px;
        margin-bottom: 20px;
      }
    }
  }

  .halva__header--subtext {
    width: 50%;
  }

  .big-images__col.first-col.big-col {
    width: 100%;
  }
  .programs__header--biznes {
    background-position: 63%;
  }
}

@media only screen and (max-width: 1060px) {
  .list-view .list-view__mobile-col {
    width: auto;
  }

}

@media only screen and (max-width: 991px) {
  .tile .cards-box .card-item {
    width: 33.33334%;
  }

  .twodays-hour .twodays-hour__counters.counters {
    margin-bottom: 10px;
    justify-content: space-between;
    width: 396px;
  }

  .programs .twodays-hour__counters.counters {
    margin-bottom: 10px;
    justify-content: space-between;
    width: 417px;
  }

  .twodays-hour__header {
    margin-bottom: 48px;
  }

  .programs__header {
    margin-bottom: 48px;
  }

  .twodays-hour .twodays-hour__counters.counters li {
    margin-bottom: 17px;
    min-width: 50%;
  }

  .programs .twodays-hour__counters.counters li {
    margin-bottom: 17px;
    min-width: 50%;
  }

  .halva__header--subtext {
    width: 465px;
    margin-bottom: 56px;
  }

  .halva__header {
    margin-bottom: 52px;
  }

  .halva__header--link {
    margin-bottom: 26px;
  }

  .halva__header:after {
    bottom: 55px;
    width: 263px;
    height: 260px;
    background-image: url('../images/halva/halva-tablet.jpg');
    z-index: 1;
  }
  .payment__header:after {
    background-image: none;
  }
  .halva__header .lessor__header__row {
    margin-bottom: 28px;
    z-index: 2;
    position: relative;
  }
}

@media only screen and (max-width: 980px) {
  .list-view .list-view__description {
    display: none;
  }

  .list-view .card-item__link {
    justify-content: space-between;
  }

  .list-view .list-view__price {
    width: 15%;
  }
  .list-view .list-view__params {
    width: 25%;
  }
}

@media only screen and (max-width: 968px) {
  .personal {
    .col-lg-11 {
      width: 100%;
    }
    .slider-block {
      padding-right: 0;
      margin-bottom: 61px;
    }
  }
}

@media only screen and (max-width: 968px) and (min-width: 710px) {
  .personal .col-lg-5 {
    width: auto;
    display: inline-block;
  }
  .hot-line {
    position: relative;
    padding-left: 80px;
    &__img {
      position: absolute;
      left: 0;
      top: 5px;
    }
  }

  .hot-line__number {
    display: inline-block;
    margin-left: 9px;
    margin-bottom: 9px;
  }

  .hot-line__text--name {
    margin-right: 8px;
  }

  .hot-line__subheader {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1.5px;
    color: #222425;
  }

  .hot-line__text {
    display: flex;
    width: 100%;
  }

  .hot-line__button {
    position: absolute;
    top: 0;
    left: 542px;
  }

  .lessor__content .counters__big {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    color: #222425;
  }

  .lessor__content .counters.lessor__counters {
    padding-right: 9.25%;
  }
}

@media only screen and (max-width: 845px) {
  .lessor__header--title {
    width: 276px;
  }

  .twodays-hour__info-text {
    margin-bottom: 16px;
  }
}

@media only screen and (max-width: 767px) {
  .list-view .card-item__link {
    justify-content: flex-start;
  }

  .list-view {
    .list-view__mobile-col {
      width: 290px;
    }

    .list-view__params {
      width: 190px;
    }
    .list-view__price {
      width: 105px;
    }
  }
  .personal {
    overflow: hidden;
  }

  .tenant {
    .lessor__button {
      width: 50%;
      .filter-button {
        width: 100%;
      }
    }
  }
  .width100-btn {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    //width: 320px;
    padding-left: 22px;
    padding-right: 22px;
    position: relative;
  }

  .rent__filter {
    position: relative;
    padding: 0;
    &__box {
      position: absolute;
      width: 320px;
      background: #fff;
      left: 0;
      padding: 60px 22px 36px;
      box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
      border: 1px solid #f3f3f3;
      border-radius: 10px;
      transform-origin: top left;
      transform: scaleY(0);
      opacity: 0;
      visibility: hidden;
      transition: all ease-in 0.15s;
      z-index: 10;
    }

    .form-group {
      margin-right: 0;
      width: 100%;
    }
    .fake-select {
      width: 100%;
    }

    .select-place__button {
      width: 100%;
    }
  }

  .filter-opened .rent__filter__box {
    transform: scaleY(1);
    opacity: 1;
    visibility: visible;
  }

  .mobile-filter-close {
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 22px;
    left: 22px;
    &:before, &:after {
      content: ' ';
      display: block;
      width: 18px;
      height: 2px;
      background-color: #2a55a4;
      position: absolute;
      left: 0;
      top: 50%;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
  }

  .price-range__text {
    order: 1;
    width: 100%;
    margin-left: 0;
    height: auto;
    line-height: 1;
    margin-bottom: 23px;
    display: flex;
    justify-content: center;
    span {
      &:first-child {
        margin-right: 15px;
      }
    }
  }

  .price-range__text--current-currency {
    display: inline-block;
    margin-right: 5px;
    line-height: 1;
  }

  .inline-form .form-group {
    margin-bottom: 23px;
  }

  .price-range__text--other-currency {
    position: static;
  }

  .price-range__border {
    width: 100%;
    order: 2;
    display: block;
    height: auto;
    border: 0;
    background: transparent;
  }

  .price-range__min {
    margin-bottom: 23px;
  }

  .rent__filter .form-button {
    width: 100%;
    margin-top: 40px;
  }

  .rent__filter--sorting {
    max-width: none;
    width: 272px;
    bottom: 145px;
  }

  .rent__filter .filter-button {
    width: 100%;
  }

  .price-range__min, .price-range__max {
    width: 100%;
    height: 48px;
    border-radius: 3px;
    border: solid 1px rgba(34, 36, 37, 0.2);
    background: #ffffff;
  }

  .price-range__min--price input, .price-range__max--price input {
    width: 100%;
  }

  .price-range__min--text, .price-range__max--text {
    width: auto;
    text-align: left;
  }

  .price-range {
    flex-wrap: wrap;
  }

  .page-menu__list {
    display: none;
  }

  .header-contact__phone--number span {
    display: none;
  }
  .header-contact__phone--number .icon {
    position: static;
  }
  .header-contact__phone--number {
    padding: 0;
    width: 36px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #fff;
    position: absolute;
    text-align: center;
    line-height: 36px;
    right: 24px;
    top: 75px;
  }

  .page-panel__logo, .page-panel__contact {
    width: 50%;
  }

  .page-logo__img--mobile {
    margin-right: 12px;
  }

  .top-info {
    display: none;
  }

  .page-logo__text {
    font-size: 16px;
  }

  .page__header {
    display: block;
    margin-top: 14px;
    padding-top: 0;
    margin-bottom: 15px;
  }
  .page__header--title {
    margin-bottom: 5px;
  }
  .page__header--result {
    margin-left: 0;
  }

  .top-menu__item {
    width: 100%;
    padding-left: 37px;
    padding-right: 37px;
    &.active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
  .header-contact__button--wrapper {
    height: 100%;
    margin: 0;
  }
  .header-contact__button--wrapper .white_button {
    position: absolute;
    left: 50%;
    top: 75px;
    margin-left: -73px;
  }

  .tile-view__footer {
    margin-left: -22px;
    padding-left: 22px;
    margin-right: -22px;
  }

  .rent__panel--row {
    > div {
      width: 50%;
    }
  }

  .rent__links {
    margin-bottom: 20px;
  }

  .card-item {
    width: 276px;
  }

  .card-item__img {
    height: 162px;
  }

  .rent__grid {
    border-top: 0;
    margin-bottom: 50px;
  }

  .filter-mobils-button {
    display: block;
    line-height: 36px;
    color: #2a55a4;
    font-size: 17px;
  }
  .tile .cards-box .card-item {
    width: 276px;
    max-width: 276px;
  }

  .bottom-menu {
    display: none;
  }

  .slider-block__header {
    font-size: 19px;
    margin-bottom: 14px;
  }

  .slider-block__link {
    position: static;
    margin-top: 38px;
    margin-left: 22px;
  }

  .rent__slider {
    margin-bottom: 62px;
  }

  .footer {
    height: auto;
  }

  .footer__row {
    display: block;
  }

  .footer__row > .col-lg-5 {
    width: 62%;
    height: 72px;
    padding-top: 13px;
  }

  .footer__row > .col-lg-7 {
    width: 100%;
    background-color: #ac1416;
    height: 120px;
    padding-top: 13px;
  }

  .footer__menu {
    display: block;
    &--item {
      margin-left: 0;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .footer {
    position: relative;
    z-index: 2;
    &:after {
      content: ' ';
      display: block;
      width: 100%;
      height: 120px;
      background-color: #ac1416;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
    }
  }

  .list-view .card-item__link {
    justify-content: flex-start;
  }

  .back-link-mobile {
    display: flex;
    align-items: center;
  }

  .full-card__info {
    width: 100%;
  }

  .full-card__buttons {
    width: 276px;
    margin-bottom: 33px;
    .buttons-group__links {
      justify-content: flex-start;
      text-align: left;
      padding-left: 10px;
      a {
        margin-left: 0;
        margin-right: 31px;
      }
    }
  }

  .full-card__buttons.buttons-group .filter-button {
    margin-bottom: 12px;
    width: 100%;
  }

  .full-slider__img img {
    max-width: 100%;
    height: auto;
  }

  .nav-slider .slick-current > div:after {
    width: 100%;
  }

  .full-card__images {
    margin-bottom: 27px;
  }

  .full-info__params--box {
    display: block;
  }

  .full-pros {
    margin-bottom: 56px;
  }

  .full-point {
    > .row {
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  .full-point__card {
    width: 100%;
  }

  .full-point__map--box {
    width: 100%;
    margin-left: 0;
  }
  .full-point__map {
    margin-left: -22px;
    margin-right: -22px;
    height: 240px;
    #ymaps1530069713133767461 {
      height: 240px !important;
    }
  }

  .full-mini-card {
    border-radius: 0;
    width: auto;
    padding-left: 22px;
    padding-right: 22px;
    margin-left: -22px;
    margin-right: -22px;
  }

  .full-mini-card .buttons-group {
    max-width: 274px;
  }

  .personal {
    .slider-block__link {
      display: none;
    }
  }
  .reviews {
    .slider-block__link {
      position: absolute;
      right: 30px;
      top: -71px;
    }
  }
  .lessor__header {
    padding-top: 14px;
  }

  .lessor__header--title {
    margin-bottom: 29px;
  }

  .lessor__content--steps {
    padding-right: 6px;
  }

  .lessor__content--text {
    font-size: 15px;
    line-height: 1.4;
  }

  .page-steps__header {
    font-size: 19px;
    line-height: 1.26;
    margin-bottom: 25px;
  }

  .steps-item__body--col {
    min-width: 0;
  }

  .halva__header--subtext {
    width: 50%;
  }

  .top-menu {
    width: 100%;
    padding: 54px 0px;
    position: relative;
    &__list {
      margin: 0px -16px;
    }
  }
  .hidden-mobile {
    display: none;
  }
  .programs__header--biznes {
    background-position: 63%;
  }
  .programs__header--payment {
    background-position: 70%;
  }
  .header-contact__phone--text {
    display: none;
  }
  .w100-mobile-btn {
    width: 100%;
  }
}

@media only screen and (max-width: 730px) {
  .twodays-hour__header {
    padding-bottom: 172px;
    height: auto;
    overflow: hidden;
  }
  .programs__header {
    padding-bottom: 172px;
    height: auto;
    overflow: hidden;
  }
  .twodays-hour__header:after {
    width: 237px;
    height: 172px;
    bottom: -10px;
  }
  .twodays-hour__info-text {
    margin-bottom: 0
  }

  .twodays-hour .lessor__header {
    margin-bottom: 3px;
    .col-lg-10 {
      width: 100%;
    }
  }
  .programs .lessor__header {
    margin-bottom: 3px;
    .col-lg-10 {
      width: 100%;
    }
  }
  .twodays-hour {
    .lessor__header__row {
      margin-bottom: 10px;
    }

    .lessor__header--title {
      margin-bottom: 0;
    }

    .lessor__title {
      width: 100%;
      margin-bottom: 10px;
    }
  }

  .twodays-hour .twodays-hour__counters.counters {
    display: none;
  }

  .programs .twodays-hour__counters.counters {
    display: none;
  }

  .twodays-hour .mobile-counters {
    display: block;
    .twodays-hour__counters.counters {
      width: 100%;
      height: auto;
      display: block;
      li {
        min-width: 0;
        width: 100%;
        display: flex;
        margin-bottom: 33px;
      }
    }
  }

  .programs .mobile-counters {
    display: block;
    .twodays-hour__counters.counters {
      width: 100%;
      height: auto;
      display: block;
      li {
        min-width: 0;
        width: 100%;
        display: flex;
        margin-bottom: 33px;
        flex-wrap: wrap;
      }
    }
  }

  .twodays-hour .twodays-hour__counters.counters .counters__big {
    font-size: 48px;
    line-height: 1;
    margin-bottom: 4px;

  }
  .top-menu__item-submenu {
    display: block;
    list-style: none;
    &.active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

@media only screen and (max-width: 710px) {
  .personal .col-lg-5 {
    width: 100%;
  }

  .hot-line__number {
    margin-left: 0;
    font-size: 19px;
    font-weight: bold;
    line-height: 1.26;
    color: #222425;
    margin-bottom: 3px;
  }

  .hot-line__subheader {
    font-size: 19px;
    font-weight: bold;
    line-height: 1.26;
    color: #222425;
  }

  .lessor__counters.counters {
    display: block;
    li {
      display: flex;
      margin-bottom: 37px;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .counters__big {
    font-size: 48px;
    margin-right: 13px;
    white-space: nowrap;
  }

  .counters__small {
    max-width: 85px;
    &--width {
      width: 100%;
      max-width: 100%;
    }
  }
}

@media only screen and (max-width: 718px) {
  .list-view .list-view__img {
    display: none;
  }

  .list-view .card-item .card-item__link {
    justify-content: space-between;
  }

  .list-view .list-view__mobile-col {
    width: auto;
  }

  .list-view .list-view__params {
    width: auto;
  }

  .list-view .list-view__price {
    width: auto;
  }

  .list-view .card-item__like {
    top: auto;
    left: auto;
    bottom: 14px;
    right: 27px;
  }
}

@media only screen and (max-width: 690px) {
  .steps-item__body--row {
    display: block;
  }

  .steps-item__body--col.big {
    font-size: 15px;
    line-height: 1.4;
    p {
      margin-bottom: 21px;
    }
  }

  .steps-item__header {

  }

  .steps-item__header--num {
    font-size: 12px;
    font-weight: normal;
    text-transform: none;
    padding-right: 10px;
  }

  .steps-item__header {
    padding-left: 45px;
    height: auto;
    flex-wrap: wrap;
    min-height: 58px;
  }

  .steps-item__body {
    padding-left: 45px;
  }

  .steps-item__header--title {
    font-size: 15px;
    line-height: 1.4;
    height: auto;
  }
}

@media only screen and (max-width: 655px) {
  .big-images .first-col, .big-images .two-col {
    width: 100%;
  }

  .first-col {
    padding-bottom: 1px;
  }

  .two-col {
    padding-top: 1px;
  }

  .image-cards {
    display: block;
    border-top: 1px solid rgba(34, 36, 37, 0.2);
  }

  .big-images-item {
    height: auto;
    border-bottom: 1px solid rgba(34, 36, 37, 0.2);
    padding-left: 17px;
  }

  .big-images-item__text {
    width: 50%;
  }

  .big-images-item__img {
    width: 50%;
  }

  .big-images-item:last-child {
    border-left: 0;
    border-bottom: 0;
  }

}

@media only screen and (max-width: 650px) {
  .full-pros {
    display: block;
  }
  .full-pros__list {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 540px) {
  .halva__header:after {
    width: 135px;
    height: 135px;
    bottom: 7px;
  }

  .halva__header--subtext {
    width: 100%;
  }

  .tenant .lessor__button {
    text-align: left;
    width: 100%;
  }

  .tenant .lessor__button .filter-button {
    width: 100%;
  }
}

@media only screen and (max-width: 530px) {
  .big-images__item.tie-block {
    padding-right: 30%;
  }
  .big-images__item.tie-block .big-images__header {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .big-images__item.tie-block .big-images__pre-header {
    font-size: 12px;
  }

  .big-images__item.big-images__item-block {
    padding-right: 30%;
  }
  .big-images__item.big-images__item-block .big-images__header {
    font-size: 30px;
    margin-bottom: 8px;
  }
  .big-images__item.big-images__item-block .big-images__pre-header {
    font-size: 12px;
  }
}

@media only screen and (max-width: 520px) {
  .list-view .card-item .card-item__link {
    display: block;
  }

  .list-view {
    .list-view__price {
      position: absolute;
      right: 22px;
      top: 12px;
    }

    .list-view__header {
      padding-right: 40%;
      margin-bottom: 11px;
    }

    .list-view__location {
      margin-bottom: 11px;
    }
  }
}

@media only screen and (max-width: 366px) {
  .rent__filter {
    &__box {
      width: 320px;
      left: -22px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100%;
  }

  .card-item {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .show-xs {
    display: inline-block;
  }

  .hide-xs {
    display: none;
  }

  .lessor .filter-button {
    max-width: 100%;
    padding: 0 27px;
  }
}

@media only screen and (max-width: 414px) {
  .halva {
    .lessor__content--button, .lessor__button {
      text-align: center;
      margin-left: -11px;
    }
  }
  .halva__desktop {
    display: none;
  }

  .halva__mobile {
    display: inline-block;
  }
}

@media only screen and (max-width: 420px) {
  .full-call {
    width: auto;
    margin-left: -22px;
    margin-right: -22px;
    border-radius: 0;
    padding-left: 22px;
    padding-right: 22px;
  }

  .full-content__call {
    margin-bottom: 0;
  }

  .big-images__item {
    padding-right: 16%;
  }

  .twodays-hour {
    .lessor__header__row {
      flex-direction: column-reverse;
      margin-bottom: 10px;
    }

    .lessor__header--title {
      margin-bottom: 0;
    }

    .lessor__title {
      width: 100%;
    }

    .lessor__header {
      padding-top: 30px;
    }

    .lessor__button, .lessor__content--button {
      text-align: center;
      margin-bottom: 23px;
    }
  }

  .programs {
    .lessor__header__row {
      flex-direction: column-reverse;
      margin-bottom: 10px;
    }

    .lessor__header--title {
      margin-bottom: 0;
    }

    .lessor__title {
      width: 100%;
    }

    .lessor__header {
      padding-top: 30px;
    }

    .lessor__button, .lessor__content--button {
      text-align: center;
      margin-bottom: 23px;
    }
  }

}

@media only screen and (max-width: 390px) {
  .twodays-hour {
    .lessor__button, .lessor__content--button {
      width: 100%;
      .filter-button {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: -14px;
        margin-right: -14px;
        max-width: none;
      }
    }

    .lessor__content--button {
      margin-bottom: 39px;
    }
  }

  .programs {
    .lessor__button, .lessor__content--button {
      width: 100%;
      .filter-button {
        padding-left: 5px;
        padding-right: 5px;
        margin-left: -14px;
        margin-right: -14px;
        max-width: none;
      }
    }

    .lessor__content--button {
      margin-bottom: 39px;
    }
  }

}

@media only screen and (min-width: 1200px) {
  .sticky {
    position: fixed
  }

  .stop {
    position: relative
  }
}

@media only screen and (max-width: 360px) {
  .full-call__links {
    display: block;
  }

  .halva__header:after {
    bottom: 16px;
  }
}

@media only screen and (min-width: 768px) {
  .hidden-planshet {
    display: none;
  }
  .footer_phmob{
    display: none;
  }
  .footer-soc__mobile{
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .footer__row > .col-lg-7 {
        height: 150px;
    }
    .footer:after {
        height: 150px;
    }
    .footer__soc {
        display: none;
    }
    .footer_phmob {
        display: block;
        color: #fff;
        font-size: 18px;
        margin-bottom: 20px;
    }
    .footer_phmob a {
        text-decoration: none;
        color: #fff;
    }
    .footer_phmob b {
        margin-right: 10px;
    }
    .footer_phmob .icon {
        margin-right: 10px;
    }
    .footer__menu {
        display: flex;
        width: 225px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .footer__menu--item {
        margin-right: 10px;
        margin-bottom: 5px;
    }
    .footer-soc__mobile {
        margin-top: 15px;
        margin-bottom: 15px;
        display: block;
    }
    .footer-soc__mobile .icon {
        font-size: 20px;
    }
    .footer-soc__mobile a {
        color: #fff;
        text-decoration: none;
        margin-right: 10px;
    }
    .icon-inst-new:before {
        content: "\e933";
    }
    .icon-tel-new:before {
        content: "\e934";
    }
    .icon-face-new:before {
        content: "\e935";
    }
    .icon-vk-new:before {
        content: "\e936";
    }
    .icon-youtube-new:before {
        content: "\e937";
    }
}

@import "_retina.scss";
