.base-developer__header {
  color: #345591;
  padding: 13px 0; }
.base-developer__row {
  border-top: solid 1px rgba(34, 36, 37, 0.2);
  padding: 13px 0 20px; }
  .base-developer__row:hover {
    background-color: rgba(34, 36, 37, 0.03); }
.base-developer__name {
  color: #345591;
  text-decoration: none;
  display: block; }
@media only screen and (max-width: 767px) {
  .base-developer__block-name {
    margin: 0 0 20px 0; } }
.base-developer__header-project {
  padding: 0 0 0 24px; }
.base-developer__block-description {
  margin: 0 0 20px 0; }
.base-developer__banner {
  background-color: #7cd4b0;
  padding: 20px 0; }
.base-developer__banner-text {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  padding: 0 0 0 24px; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .base-developer__banner-text {
      line-height: 1; } }

/*# sourceMappingURL=base-developer.css.map */
