.base-developer{
  &__header{
    color:#345591;
    padding: 13px 0;
  }
  &__row{
    border-top: solid 1px rgba(34, 36, 37, 0.2);
    padding: 13px 0 20px;
    &:hover{
      background-color: rgba(34, 36, 37, 0.03);
    }
  }
  &__name{
    color:#345591;
    text-decoration: none;
    display: block;
  }
  &__block-name{
    @media only screen and (max-width: 767px) {
      margin: 0 0 20px 0;
    }
  }
  &__header-project{
    padding: 0 0 0 24px;
  }
  &__block-description{
    margin: 0 0 20px 0;
  }
  &__banner{
    background-color: #7cd4b0;
    padding: 20px 0;
  }
  &__banner-text{
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    padding: 0 0 0 24px;
    @media (min-width: 768px) and (max-width: 1199px) {
      line-height: 1;
    }

  }
}