.bonus-slider{
  &__iteam{
    width: 276px;
    padding-left: 12px;
    padding-right: 18px;
  }
  &__img{
    height: 108px;
    display: flex;
    align-items: center;
    img{
      max-width: 100%;
    }
  }
  &__name{
    font-weight: bold;
    margin-bottom: 8px;
  }
}