.bonus-steps {
  .steps-item__header {
    padding-left: 36px;
    @include respond(phone){
      padding-left: 0px;
    }
  }
  .steps-item__body{
    @include respond(phone){
      padding-left: 0px;
    }
  }
  &__header {
    color: $colorBlueLink;
    border-bottom: solid 1px #d3d3d3;
    padding: 12px 0 12px 0;
  }
  &__row{
    padding: 20px 0;
  }
  &__mobile-label{
    color: $colorBlueLink;
    display: none;
    @include respond(phone){
      display: block;
    }
  }
  &__mobile-tovar{
    margin-bottom: 8px;
  }
  &__params{
    @include respond(phone){
      display: flex;
      .bonus-steps__mobile-label{
        width: 50%;
      }
      margin-top: 6px;
    }
  }
}