.buildings{
  &__img-consalting {
    background: url(../images/programs/consalting.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    .big-images-item__text {
      @media only screen and (max-width: 655px) {
        width: 82%;
      }
    }
  }
  &__img-end-project {
    background: url(../images/programs/end-project.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    .big-images-item__text {
      @media only screen and (max-width: 655px) {
        width: 82%;
      }
    }
  }
  &__programs{
    margin: 0 0 45px 0;
  }
  &__programs-essence{
    width: 90%;
    @include respond(phone){
      margin: 0 0 9px 0;
    }
  }
  &__programs-title{
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 25px 0;
    @include respond(phone){
      font-size: 19px;
    }
  }
  &__programs-head{
    border-bottom: solid 1px rgba(34, 36, 37, 0.2);
    padding: 13px 0;
    color: #345591;
    font-size: 15px;
  }
  &__programs-row{
    border-bottom: solid 1px rgba(34, 36, 37, 0.2);
    padding: 6px 0 40px;
    font-size: 15px;
    &:first-child{
      border-top: solid 1px rgba(34, 36, 37, 0.2);
    }
    @include respond(phone){
      padding: 12px 0 20px;
    }
  }
  &__programs-name{
    font-weight: bold;
    @include respond(phone){
      margin: 0 0 9px 0;
    }
  }
}