.build {
  .header__page-panel {
    background-color: $colorNewbuild;
  }
  .page-menu__item.active > a, .page-menu__item:hover > a {
    background-color: rgba(34, 36, 37, 0.2);
  }
  @media only screen and (max-width: 1199px) {
    .page-panel__menu {
      background: #417505;
    }
    .page-panel:after {
      background: #417505;
    }
    .header-contact__button--wrapper .white_button {
      width: auto;
      @include respond(phone){
        width: 178px;
        margin-left: -89px;
      }
    }
  }
  @include respond(planshet){
    .price-range__border{
      width: 208px;
    }
  }
  .card-item__offer, .list-view .list-view__offer {
    background-color: $colorNewbuild;
  }
  .full-info__offer {
    background-color: $colorNewbuild;
  }
  .filter-index__block-form {
    @media (min-width: 1200px) {
      padding: 35px 0 35px 18px;
      .fake-select {
        width: 217px;
      }
      .filter-index__map {
        margin: 0 0 0 15px;
      }
    }
  }
  .card-item__location.wb{
    padding: 0px 0px;
  }
  .list-view .card-item-nb{
    font-size: 12px;
    .list-view__description{
       font-size: 12px;
    }
  }
  .nb .tile .views__map{
    display: none;
  }
  .nb .tile .cards-box .card-nb{
     @include respond(planshet){
      width: 30%;
    }
    width: 24%;
    box-shadow: 0px 2px 4px #cccccc;
    padding: 10px;
    margin-right: 10px;
    @include respond(phone){
      width: 100%;
      margin-bottom: 20px;
      max-width: none;
    }
  }
  .newbuilder-base-online{
    .rent__grid{
      margin-bottom: 0px;
    }
    .shadow-line{
      margin-bottom: 50px;
      padding: 0px 31px;
      @include respond(phone){
        flex-direction: column;
        height: auto;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 20px 20px;
      }
    }
  }
  .online{
    width: 100%;
    &__steps{
      ul{
        margin: 0;
        padding: 0;
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        li{
          img{
            color: #2faa33;
          }
          margin-left: 50px;
          width: 228px;
          margin-bottom: 30px;
          position: relative;
          b{
            display: block;
          }
          .line{
            width: 100px;
            height: 2px;
            position: absolute;
            top: 20px;
            right: 0px;
            color: #2faa33;
            border: 1px dashed #2faa33;
            .triangle{
              position: absolute;
              right: -17px;
              top: -11px;
            }
             @include respond(phone){
                display: none;
              }
          }
          &:last-child{
            .line{
              display: none;
            }
          }
        }
      }
    }
  }
  .page-content__views{
    position: relative;
  }
  .map-view .shadow-line{
    display: none;
  }
  
  .combine{
    display: flex;
    justify-content: space-between;
    &__top{
      justify-content: flex-end;
      margin-bottom: 10px;
    }
  }
  
  .combine.list{
    .like-button{
        margin-right: 15px;
    }
    padding: 10px 0px;
  }
  
  .like-button{
    width: 43px;
    height: 36px;
    border-radius: 1px;
    border: solid 1px #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    cursor: pointer;
    &:hover{
      color: #2a55a4;
    }
    &--big{
      font-size: 24px;
      width: 49px;
      height: 47px;
      margin-right: 17px;
    }
  }
  .shadow-line{
    @include respond(phone){
      flex-direction: column;
      height: auto;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 20px 50px;
    }
    height: 60px;
    font-size: 15px;
    background-color: #f8f8f8;
    width: 100%;
    box-shadow: 0px 1px 4px #bfbfbf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 35px;
    &__counter{
      position: relative;
      width: 100%;
    }
    &__times{
      font-size: 24px;
      position: relative;
      top: 3px;
      left: 6px;
      cursor: pointer;
    }
  }
  .programs__header--onlineNb{
    background: url('../images/newbuild/bg.png');
    padding-bottom: 30px;
    .twodays-hour__info-text{
      margin-top: 30px;
    }
    .filter-button--green{
      @include respond(phone){
        margin-top: 50px;
      }
    }
  }
}
.build-flats{
  .flats-project{
    margin: 0px;
    width: 100%;
  }
  .full-card__buttons{
    @include respond(phone){
      width: 384px;
    }
  }
  
  .flats-project__iteam:last-child{
    margin-bottom: 12px;
  }
  .flats-project__iteam-row{
    font-size: 12px;
    padding: 15px 15px 15px 24px;
  }
}