.buyer-counters {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 20%; }
  @media (max-width: 767px) {
    .buyer-counters {
      padding-right: 0; }
      .buyer-counters.counters {
        display: block; }
        .buyer-counters.counters li {
          display: flex;
          margin-bottom: 37px;
          align-items: center;
          flex-wrap: wrap; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .buyer-counters {
      padding-right: 8%; }
      .buyer-counters .counters__big {
        font-size: 30px;
        font-weight: bold; } }

/*# sourceMappingURL=buyer-counters.css.map */
