.buyer-counters{
  padding-top: 30px;
  padding-bottom: 78px;
  padding-right: 20%;
  @media (max-width: 767px) {
    padding-bottom: 10px;
    padding-right: 0;
    &.counters {
      display: block;
      li {
        display: flex;
        margin-bottom: 37px;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }
  @media (min-width: 768px)  and (max-width: 1199px) {
    padding-right: 8%;
    padding-bottom: 30px;
    .counters__big{
      font-size: 30px;
      font-weight: bold;
    }
  }
}