.buyer__v-novostr {
  background: url(../images/programs/v_novostr.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
.buyer__img-kupit {
  background: url(../images/programs/kupit-nb.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  @media only screen and (max-width: 655px) {
    .buyer__img-kupit .big-images-item__text {
      width: 82%; } }
.buyer__img-kredit {
  background: url(../images/programs/kredit.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  @media only screen and (max-width: 655px) {
    .buyer__img-kredit .big-images-item__text {
      width: 82%; } }
.buyer__text-small {
  font-size: 15px; }
.buyer__img-ekscursii {
  background: url(../images/programs/ekskursii.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  @media only screen and (max-width: 655px) {
    .buyer__img-ekscursii .big-images-item__text {
      width: 82%; } }
.buyer__img-sale {
  background: url(../images/programs/sale.jpg) no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  @media only screen and (max-width: 655px) {
    .buyer__img-sale .big-images-item__text {
      width: 82%; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .buyer__two-col {
    flex-wrap: wrap; } }
.buyer__btn {
  text-align: right; }
  @media (max-width: 767px) {
    .buyer__btn {
      text-align: center; }
      .buyer__btn .filter-button {
        padding: 0 10px;
        margin: 0 -10px; } }
  @media (min-width: 767px) and (max-width: 1199px) {
    .buyer__btn {
      width: auto; } }

/*# sourceMappingURL=buyer.css.map */
