.buyer {
  &__v-novostr {
    background: url(../images/programs/v_novostr.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
  }
  &__img-kupit {
    background: url(../images/programs/kupit-nb.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    .big-images-item__text {
      @media only screen and (max-width: 655px) {
        width: 82%;
      }
    }
  }
  &__img-kredit {
    background: url(../images/programs/kredit.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    .big-images-item__text {
      @media only screen and (max-width: 655px) {
        width: 82%;
      }
    }
  }
  &__text-small {
    font-size: 15px;
  }
  &__img-ekscursii {
    background: url(../images/programs/ekskursii.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    .big-images-item__text {
      @media only screen and (max-width: 655px) {
        width: 82%;
      }
    }
  }
  &__img-sale {
    background: url(../images/programs/sale.png) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    .big-images-item__text {
      @media only screen and (max-width: 655px) {
        width: 82%;
      }
    }
  }
  &__two-col {
    @media (min-width: 768px) and (max-width: 1199px) {
      flex-wrap: wrap;
    }
  }
  &__btn {
    text-align: right;
    @media (max-width: 767px) {
      text-align: center;
      .filter-button {
        padding: 0 10px;
        margin: 0 -10px;
      }
    }
    @media (min-width: 767px) and (max-width: 1199px) {
      width: auto;
    }
  }
}