.completed-project{
  &__row{
    border-bottom: solid 1px rgba(34, 36, 37, 0.2);
    padding: 7px 0 70px;
    @include respond(phone){
      padding: 18px 0 30px;
    }
    &:first-child{
      border-top: solid 1px rgba(34, 36, 37, 0.2);
    }
  }
  &__name{
    font-weight: bold;
  }
  &__label{
    font-weight: bold;
  }
  &__param{
    margin: 0 0 5px 0;
    @include respond(phone){
      margin: 0 0 10px 0;
    }
  }
  &__developer{
    color: $dusk-blue;
  }
  &__img{
    @include respond(phone){
      margin: 0 0 22px 0;
    }
    @include respond(tablet){
      max-width: 251px;
    }
    img{
      max-width: 100%;
    }
  }
  &__block-name{
    @include respond(phone){
      margin: 0 0 22px 0;
    }
  }
  &__navigatio{
    padding-left: 24px;
  }
  &__callback{
    margin: 60px 0 50px;
  }
}