.completed-projects {
  position: relative;
  margin-left: -24px;
  margin-right: -24px;
  margin-bottom: 66px;
  &__img{
    img{
      max-width: 100%;
    }
  }
  &__iteam {
    background-color: rgba(34, 36, 37, 0.03);
    padding: 0 0 20px 0;
    width: 204px;
  }
  &__name {
    font-size: 15px;
    font-weight: bold;
    min-height: 42px;
  }
  &__addr{
    font-size: 15px;
  }
  .icon-yes{
    color: #4c8b2b;
    margin: 0 10px 0 5px;
  }
  &__block{
    padding: 0 12px 0 12px;
    text-decoration: none;
    color: $colorBlack;
    margin-bottom: 24px;
    &:hover{
      border-radius: 2px;
      background-color: #ffffff;
      -webkit-box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
      box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
    }
  }
  .slick-list {
    padding-left: 12px;
  }
}