.developer-detail {
  &__phone {
    font-size: 19px;
    color: $colorBlack;
    text-decoration: none;
    display: block;
    line-height: 1.26;
  }
  &__site {
    font-size: 19px;
    line-height: 1.26;
  }
  &__block-phone {
    margin: 0 0 8px 0;
  }
  &__addr{
    font-size: 15px;
    margin: 0 0 16px 0;
  }
  &__description{
    font-size: 15px;
    line-height: 1.4;
    margin: 0 0 34px 0;
  }
  &__deadline{
    color: rgba(34, 36, 37, 0.4);
    font-size: 12px;
  }
  &__active-project-title{
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 29px 0;
  }
  .card-item {
    padding: 0 6px;
  }
  &__active-project-block{
    margin-left: -6px;
    .col-lg-4{
      @media (min-width: 768px) and (max-width: 1199px) {
        width: 33.333%;
      }
    }
  }
  &__header{
    @media (max-width:767px) {
      flex-direction: column-reverse;
      padding: 20px 0 0 0;
    }
  }
  .lessor__button{
    @media (max-width:767px) {
      margin: 0 0 21px 0;
      text-align: center;
    }
  }
  .filter-button{
    @media (max-width:767px) {
      padding: 0 10px;
      margin: 0 -10px;
    }
  }
  &__banner{
    margin: 0 0 62px 0;
  }
  &__button{
    margin: 0 0 64px 0;
  }

}