.excursion-route{
  margin: 0 0 62px 0;
  &__table{
    border-radius: 4px;
    border: solid 1px #d3d3d3;
    padding-bottom: 25px;
  }
  &__list{
    list-style: none;
    margin: 0;
    padding: 17px 20px 0 31px;
    li{
      margin: 0 0 16px 0;
    }
  }
  &__name{
    color: $dusk-blue;
  }
  .filter-button{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 12px;
    @include respond(planshet){
      padding-left: 1px;
      padding-right: 1px;
      margin-left: 1px;
    }
  }
  .buttons-group__links{
    text-align: left;
    margin: 13px 0 0;
    a{
      margin-left: 12px;
    }
  }
  .col-lg-5{
    @include respond(tablet){
      padding-right: 0px;
    }
    @include respond(planshet){
      padding-right: 0px;
    }
  }
  .col-lg-11{
    @include respond(tablet){
      padding-left: 0px;
    }
    @include respond(planshet){
      padding-left: 0px;
    }
  }
  &__col-table{
    @include respond(planshet){
      width: 42%;
    }

  }
  &__col-map{
    @include respond(planshet){
      width: 58%;
    }
    @include respond(phone){
      margin-bottom: 60px;
    }
  }
  &__btn{
    display: none;
    @include respond(phone){
      display: block;
        padding-left: 5px !important;
        padding-right: 5px !important;
        margin-left: -14px !important;
        margin-right: -14px !important;
        max-width: none !important;
    }
  }
  .excursion-route__soc{
    text-align: right; display: none;
    @include respond(phone) {
      display: block;
    }
  }
}