.excursion-header {
  .twodays-hour__counters.counters li:nth-child(odd) {
    @include respond(planshet) {
      min-width: 40%;
    }
  }
  .twodays-hour__counters.counters li:nth-child(even) {
    @include respond(planshet) {
      min-width: 60%;
    }
  }
  ul.twodays-hour__counters.counters {
    @include respond(planshet) {
      width: 540px;
    }
  }
}