.excursion{
  margin: 0 0 40px 0;
  &__title{
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 3px 0;
  }
  &__text{
    margin: 0 0 15px 0;
    padding-right: 10px;
    @include respond(planshet){
      margin: 0 0 39px 0;
    }
  }
  &__link-photo{
    color: $dusk-blue;
    display: block;
    margin: 11px 0 0;
  }
}