.flats-project {
  @include respond(planshet) {
    margin: 0px;
  }
  @include respond(tablet) {
    margin: 0 0 60px 0;
  }

  @include respond(tablet) {
    width: 94%;
  }
  &__iteam {
    margin: 0 0 30px 0;
  }
  &__iteam-title {
    font-size: 19px;
    margin: 0 0 30px 24px;
    @include respond(phone) {
      font-size: 16px;
    }
  }
  &__title {
    margin: 0 0 5px 24px;
    @include respond(phone) {
      margin: 25px 0 5px 24px;
    }
  }
  &__iteam-row {
    border-bottom: solid 1px #d3d3d3;
    padding: 15px 0 15px 24px;
    font-size: 15px;
    &:first-child {
      border-top: solid 1px #d3d3d3;
    }
  }
  &__price-byn {
    font-weight: bold;
    margin-left: 14px;
    @include respond(phone) {
      margin: 10px 0 0 0;
    }
  }
  &__price-usd {
    margin-left: 14px;
    @include respond(phone) {
      margin-left: 0;
    }
  }
  &__plan {
    color: #2a55a4;
    text-decoration: none;
    margin-left: 14px;
    @include respond(phone) {
      margin: 10px 0 0 0;
      display: block;
    }
    i {
      margin: 0 10px 0 0;
    }
    &:hover {
      cursor: pointer;
    }
  }
  &__plan-ul {
    list-style: none;
    padding: 0;
  }
  &__plan-hide {
    display: none;
  }
}