.newbuilder {
  @include respond(tablet) {
    width: 100%;
  }
  .header__page-panel {
    background-color: $colorNewbuild;
  }
  .page-menu__item.active > a, .page-menu__item:hover > a {
    background-color: rgba(34, 36, 37, 0.2);
  }
  @media only screen and (max-width: 1199px) {
    .page-panel__menu {
      background: #417505;
    }
    .page-panel:after {
      background: #417505;
    }
    .header-contact__button--wrapper .white_button {
      width: auto;
      @include respond(phone){
        width: 178px;
        margin-left: -89px;
      }
    }
  }
  @include respond(planshet){
    .price-range__border{
      width: 208px;
    }
  }
  .card-item__offer, .list-view .list-view__offer {
    background-color: $colorNewbuild;
  }
  .full-info__offer {
    background-color: $colorNewbuild;
  }
  .filter-index__block-form {
    @media (min-width: 1200px) {
      padding: 35px 0 35px 18px;
      .fake-select {
        width: 217px;
      }
      .filter-index__map {
        margin: 0 0 0 15px;
      }
    }
  }
}