.p-kredit-table {
  margin: 0 0 68px 0;
  &__title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 15px;
  }
  &__subtitle {
    font-size: 15px;
    margin: 0 0 36px 0;
  }
  &__header {
    color: #345591;
    font-size: 15px;
    padding: 0 0 13px 0;
  }
  &__row {
    border-top: solid 1px #d3d3d3;
    padding: 7px 0 13px;
    position: relative;
    &:hover {
      background-color: rgba(34, 36, 37, 0.03);
      cursor: pointer;
    }
    &--arrow {
      &:after {
        content: ' ';
        display: inline-block;
        width: 9px;
        height: 9px;
        border-left: 1px solid rgba(34, 36, 37, 0.8);
        border-top: 1px solid rgba(34, 36, 37, 0.8);
        position: absolute;
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        @include respond(phone) {
          right: 18px;
          top: 10px;
        }
        @include respond(planshet) {
          right: 20px;
          top: 12px
        }
        @include respond(tablet) {
          right: 66px;
          top: 20px
        }
      }
    }
  }
  &__active-row {
    & + .p-kredit-table__more-row {
      display: block;
      @include respond(planshet) {
        display: flex;
      }
      @include respond(tablet) {
        display: flex;
      }
    }
  }
  &__logo {
    padding-right: 15px;
    img {
      max-width: 100%;
    }
  }
  &__list {
    padding: 0 0 0 20px;
    margin: 0;
    list-style: none;
    position: relative;
    .icon {
      position: absolute;
      color: #4c8b2b;
      left: 0;
      margin-top: 5px;
    }
    li {
      margin: 0 0 10px 0;
    }
  }
  &__ul-more {
    padding: 0 0 0 20px;
    margin: 0;
    list-style: none;
    position: relative;
    width: 100%;
    &:first-child {
      margin: 0 25px 0 0;
    }
    .icon {
      position: absolute;
      left: 0;
      margin-top: 5px;
    }

  }
  &__more-row {
    border-top: solid 1px rgba(34, 36, 37, 0.2);
    display: none;
    padding: 23px 0 25px;
    li {
      margin-bottom: 10px;
    }
    @include respond(tablet) {
      margin: 0 6.25% 0 18.75%;
    }
  }
  &__mobile-label {
    display: none;
    @include respond(phone) {
      display: inline-block;
    }
  }
  &__row-mobile {
    @include respond(phone) {
      margin-bottom: 8px;
    }
  }

  @include respond(planshet) {
    &__name {
      width: 25%;
    }
    &__stavka {
      width: 10%;
    }
    &__srok {
      width: 20%;
    }
    &__adv {
      width: 30%;
    }
    &__maxpayment {
      width: 12%;
    }
  }

}