.p-kredit-filter{
  margin: 0 0 66px 0;
  @include respond(phone){
    padding: 16px 0px 26px 30px;
    border-top: solid 1px rgba(34,36,37,0.2);
    border-top-right-radius:$defaultBorderRadius;
    border-top-left-radius:$defaultBorderRadius;
  }
  .input__block-text{
    @include respond(phone){
      margin-right: 7px;
    }
  }
  .filter-button{
    @include respond(phone){
      width: 90%;
    }
  }

  &__title{
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
  }
}