.project-company-slider {
  padding: 0 10px 0 0; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .project-company-slider {
      width: 242px; } }
  @media only screen and (max-width: 767px) {
    .project-company-slider {
      width: 218px; } }
  .project-company-slider .slick-arrow {
    top: 0px; }
  .project-company-slider .slick-prev {
    right: -40px; }
  .project-company-slider .slick-next {
    right: -69px; }

/*# sourceMappingURL=project-company-slider.css.map */
