.project-company{
  width: 282px;
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 242px;
  }
  @media only screen and (max-width: 767px) {
    padding: 0 24px 0 0;
    width: 218px;
  }
  padding: 0 24px;
  &__img{
    img{
      max-width: 100%;
    }
    margin: 0 0 5px 0;
  }
  &__name{
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 3px 0;
  }
  &__addr{
    font-size: 15px;
  }
}