.project-company {
  width: 282px;
  padding: 0 24px; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .project-company {
      width: 242px; } }
  @media only screen and (max-width: 767px) {
    .project-company {
      padding: 0 24px 0 0;
      width: 218px; } }
  .project-company__img {
    margin: 0 0 5px 0; }
    .project-company__img img {
      max-width: 100%; }
  .project-company__name {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 3px 0; }
  .project-company__addr {
    font-size: 15px; }

/*# sourceMappingURL=project-company.css.map */
