.project-company-slider{
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 242px;
  }
  @media only screen and (max-width: 767px) {
    width: 218px;
  }
  .slick-arrow {
    top: 0px;
  }
  .slick-prev{
    right: -40px;
  }
  .slick-next{
    right: -69px;
  }
  padding: 0 10px 0 0;
}