.promo-sale{
  background-color: #7cd4b0;
  padding: 58px 27px 80px;
  @include respond(phone) {
    padding: 24px;
  }
  @include respond(planshet){
    margin: 0px 24px 20px 24px;
  }
  @include respond(tablet){
    margin: 120px 24px 30px 51px;
  }

  &__text{
    @include respond(phone) {
      margin: 0 0 20px 0;
      font-size: 24px;
    }
    @include respond(tablet) {
      margin: 0 0 84px 0;
    }
    line-height: 1.2;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
  }
  &__block-btn{
    text-align: center;

  }
}