.search-developer {
  margin: 0 0 69px 0; }
  .search-developer__h1 {
    margin: 0 0 37px 0;
    line-height: 1.2; }
    @media only screen and (max-width: 767px) {
      .search-developer__h1 {
        margin: 11px 0 28px 0; } }
  @media only screen and (min-width: 768px) {
    .search-developer__block-btn {
      padding: 0 0 0 24px; } }
  @media only screen and (max-width: 767px) {
    .search-developer__block-input {
      margin: 0 0 25px 0; } }
  @media only screen and (max-width: 767px) {
    .search-developer .filter-button {
      width: 100%; } }

/*# sourceMappingURL=search-developer.css.map */
