.search-developer{
  margin: 0 0 69px 0;
  &__h1{
    margin: 0 0 37px 0;
    line-height: 1.2;
    @media only screen and (max-width: 767px) {
      margin: 11px 0 28px 0;
    }
  }
  &__block-btn{
    @media only screen and (min-width: 768px) {
      padding: 0 0 0 24px;
    }
  }
  &__block-input{
    @media only screen and (max-width: 767px) {
      margin: 0 0 25px 0;
    }
  }
  .filter-button{
    @media only screen and (max-width: 767px) {
      width: 100%;
    }
  }
}