.link-block {
  display: flex;
  flex-wrap: wrap;

  @include respond(phone){
    width: 960px;
  }
  &__outer{
    overflow-y: hidden;
    margin-bottom: 50px;
  }
  &__list {
    padding: 37px 0 50px 24px;
    @include respond(planshet){
      min-width: 33.33333%;
      width:  33.33333%;
    }
    @include respond(phone){
      height: 298px;
      order: 1;
      width: 20%;
    }
  }

  &__first {
    @include respond(tablet) {
      min-width: 462px;
      width: 462px;
      display: flex;
    }
  }

  &__second {
    @include respond(tablet) {
      min-width: 215px;
      width: 215px;
    }
  }

  &__third {
    @include respond(tablet) {
      min-width: 234px;
      width: 234px;
      border-top: 1px solid rgba(34, 36, 37, 0.2);
      border-bottom: 1px solid rgba(34, 36, 37, 0.2);
    }
  }
  &__fourth {
    @include respond(tablet) {
      min-width: 217px;
      width: 217px;
      border-bottom: 1px solid rgba(34, 36, 37, 0.2);
    }
    @include respond(phone){
      order: 1;
    }
  }
  &__fifth{
    @include respond(tablet) {
      min-width: 303px;
      width: 303px;
      border-bottom: 1px solid rgba(34, 36, 37, 0.2);
    }
  }

  &__img {
    font-size: 30px;
    font-weight: bold;
    color: $colorBlack;
    line-height: 1;
    padding: 36px 0 0 30px;
    text-decoration: none;
    @include respond(planshet){
      min-width: 33.33333%;
      width:  33.33333%;
    }
    @include respond(phone){
      height: 298px;
      order: 2;
      width: 25%;
    }
    &--statistic {
      background: url("../images/other-services/statistic.png") no-repeat bottom right #7cd4b0;
      @include respond(tablet) {
        min-width: 217px;
        width: 217px;
      }
    }
    &--credit {
      background: url("../images/other-services/credit.jpg");
      background-size: cover;
      @include respond(tablet) {
        min-width: 304px;
        width: 304px;
      }
    }
    &--discont {
      background: url("../images/other-services/discount.png") no-repeat bottom left #ffe400;
      @include respond(tablet) {
        min-width: 228px;
        width: 228px;
      }
    }
    &--online {
      background: url("../images/other-services/online.png") no-repeat bottom right #65c9e9;
      @include respond(tablet) {
        min-width: 216px;
        width: 216px;
      }
    }
  }

  &__ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 3px;
    }
    a {
      color: $colorBlueLink;
      text-decoration: none;
    }
    &--buy{
      margin-right: 40px;
    }
  }
  &__title{
    font-weight: bold;
    color: $colorBlueLink;
    text-decoration: none;
    margin-bottom: 5px;
    display: inline-block;
  }

  &__buy{
    font-weight: bold;
    color: $colorBlueLink;
    text-decoration: none;
    width: 80px;
    margin-right: 30px;
  }
}