.logo-phone {
  background-color: #004d90;
  @include respond(tablet) {
    padding: 0px 54px 55px;
    display: flex;
    justify-content: space-between;
  }

  @include respond(phone) {
    padding: 0px 22px;
  }

  @include respond(planshet) {
    padding: 18px 72px 65px 24px;
    display: flex;
    justify-content: space-between;
  }

  &__phone {
    color: #ffffff;
    font-size: 19px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    .icon {
      transform: scale(1, -1);
      position: absolute;
      margin-left: -27px;
      @include respond(phone){
        margin: 7px 0 0;
      }
    }
    span{
      @include respond(phone){
        display: none;
      }
    }
    @include respond(phone){
      display: block;
      border: 1px solid #ffffff;
      height: 36px;
      text-align: center;
      border-radius: 5px;
      margin: 16px 0 31px;
    }
    @include respond(planshet){
      margin-right: 31px;
    }
  }

  &__addr {
    color: #ffffff;
    display: block;
    font-size: 12px;
    text-decoration: none;
    position: relative;
    @include respond(tablet) {
      &:after {
        content: ' ';
        width: 5px;
        height: 5px;
        display: block;
        border-right: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        position: absolute;
        right: -10px;
        top: 50%;
        -webkit-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
      }
    }
    @include respond(phone){
      display: none;
    }
    @include respond(planshet){
      font-size: 15px;
    }
  }
  &__block-phone {
    text-align: right;
    @include respond(planshet){
      text-align: right;
      display: flex;
      align-items: center;
      margin-top: -14px;
    }
  }
}