.main-about{
  margin-bottom: 35px;
  padding-bottom: 75px;
  border-bottom: 1px solid rgba(34, 36, 37, 0.2);
  &__all{
    text-decoration: none;
    color: $colorBlueLink;
  }
  &__head{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__iteam{
    padding-right: 42px;
    strong{
      display: block;
    }
  }
}