.main-filter {
  position: relative;
  @include respond(phone) {
    padding-bottom: 41px;
  }
  &__tabs {
    background-color: #ffffff;
    list-style: none;
    margin: 0;
    padding: 0 30px;
    justify-content: space-between;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: none;
    @include respond(tablet) {
      display: flex;
    }
    li {
      display: inline-block;
      font-weight: bold;
      padding: 20px 0;
      letter-spacing: 1.3px;
      text-transform: uppercase;
      cursor: pointer;
      &.active {
        border-bottom: 6px solid $about;
        color: $about;
      }
    }
  }
  &__content {
    background: $about;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

  }
  &__label {
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    padding: 16px 30px 16px;
    position: relative;
    background: $about;
    display: none;
    @include respond(phone) {
      display: block;
    }
    &.active {
      &::after {
        content: ' ';
        display: inline-block;
        width: 9px;
        height: 9px;
        border-left: 1px solid #ffffff;
        border-top: 1px solid #ffffff;
        position: absolute;
        top: 23px;
        transform: rotate(-135deg);
        right: 30px;
      }
    }
    &::after {
      content: ' ';
      display: inline-block;
      width: 9px;
      height: 9px;
      border-left: 1px solid #ffffff;
      border-top: 1px solid #ffffff;
      position: absolute;
      top: 23px;
      transform: rotate(-45deg);
      right: 30px;
    }
    &--first {
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
    }
  }
  .filter-index__block-form {
    @include respond(tablet) {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  .filter-index__map {
    color: #ffffff;
    @include respond(tablet) {
      border: 1px solid #ffffff;
      padding: 12px 20px;
      border-radius: 5px;
    }

  }
  .price-range__text--current-currency {
    color: #ffffff;
  }
  .price-range__text--other-currency {
    color: #ffffff;
    opacity: 0.5;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
  }
  .price-range__min--currency, .price-range__max--currency {
    bottom: 1px;
  }

  &__block {
    padding: 35px 30px 30px 30px;
    .spros-filter__subtitle, .spros-filter__title {
      color: #ffffff;
    }
    .input-checkbox-block__block-line{
      flex: auto;
    }
  }
  &__description{
    color: #ffffff;
    font-size: 19px;
    @include respond(planshet){
      margin-bottom: 10px;
    }
    @include respond(phone){
      margin-bottom: 10px;
    }
  }

  &__part{
    padding: 26px 30px 0 30px;
    background-color: #af1b57;
    @include respond(tablet){
      display: none;
    }
  }

  @include respond(phone) {
    .form-group {
      width: 100%;
      margin-right: 0px;
    }
    .fake-select {
      width: 100%;
    }
    .select-place__button {
      width: 100%;
    }
    .form-button {
      width: 100%;
    }
    .filter-button {
      width: 100%;
    }
  }
  @include respond(planshet) {
    .filter-index__block-form{
      border-top: none;
    }
  }
}