.main-header{
  background: url("../images/big-img/background.jpg") #004d90 no-repeat bottom;
  margin-bottom: 2px;
  &__background{
    width: 100%;
    position: absolute;
    background: linear-gradient(to top, rgba(0,132,195,0), #004d90);
    top: 170px;
    height: 363px;
    @include respond(phone){
      top: 323px;
    }
    @include respond(planshet){
      top: 123px;
      height: 220px;
    }
  }

  @include respond(phone){
    padding: 18px 0 0;
  }
  @include respond(tablet){
    padding: 31px 0 0;
    min-height: 600px;
  }
  @include respond(planshet){
    padding: 0 0 18px  0;
  }
}