.title-tab {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1.33;
  width: 50%;
  text-align: center;
  margin: 0 auto 30px;
  position: relative;
  @include respond(tablet){
    font-size: 36px;
  }
  @include respond(planshet){
    width: 65%;
  }
  @include respond(phone){
    width: 80%;
    line-height: 1;
  }
  &__link {
    position: relative;
    padding: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    &.active {
      background: transparent;
      &::after {
        content: '';
        position: absolute; /* Абсолютное позиционирование */
        left: 40%;
        bottom: -31px;
        border: 15px solid transparent;
        border-bottom: 15px solid #ffffff;
        @include respond(planshet){
          border: 15px solid transparent;
          border-bottom: 15px solid $about;
        }
      }
    }
    &:hover{
      background-color: #ffffff80;
    }
  }
}