.ts-today{
  margin-bottom: 140px;
  .about-head__link{
    color: $colorBlueLink;
  }
  @include respond(planshet){
    margin-bottom: 100px;
  }
  @include respond(phone){
    margin-bottom: 60px;
  }
}