.personal-objects-detail{
  &__sort-form{
    max-width: 277px;
  }
  &__copy{
    display: none;
    @include respond(phone){
      display: block;
    }
  }
  &__additional{
    margin-top: 40px;
  }
  &__title{
    @include respond(phone){
      margin-top: 15px;
      line-height: 1;
    }
  }
  &__box{
    border: none;
    height: auto;
    margin-bottom: 0px;
  }
  &__box.mobile{
    @include respond(phone){
      display: none;
    }
  }
  &__box.desktop{
    display: none;
    @include respond(phone){
      display: block;
    }
  }
  .personal-objects{
    &__left-box-text-block{
      @include respond(phone){
        padding-left: 5px;
      }
    }
    &__status-text{
      position: relative;
      display: inline-block;
      padding: 5px 10px;
      width: 85px;
      text-align: center;
      position: relative;
      top:0;
    }
  }
 .green_bg{
    background-color: rgba(#49b78a,.1);
    color: #49b78a;
  }
  .red_bg{
    background-color: rgba(#d13338,.1);
    color: #d13338;
  }
  &__left-box{
    border: none;
    width: 100%;
    background-color: $white-gray;
    border-bottom: 1px solid rgba(34, 36, 37, 0.2);
    @include respond(phone){
      background-color: transparent;
      border: none;
    }
  }
  &__own-list{
    padding-left: 15px;
    li{
      margin-top: 15px;
    }
  }
  &__step-vision{
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    width: 650px;
    li{
      display: inline-block;
      margin-right: 125px;
      color: #fff;
      background-color: #d5dde1;
      width: 32px;
      height: 32px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      position: relative;
      &:after{
        content: "";
        width: 110px;
        border-bottom: 2px solid #d5dde1;
        position: absolute;
        right: 39px;
      }
      &:first-child{
        &:after{
          display: none;
        }
      }
      &.active{
        background-color: #49b78a;
        position: relative;
        &:after{
          border-bottom: 2px solid #49b78a;
        }
      }
      &.last-step{
        span{
          position: absolute;
        }
        &:before{
          content:'';
          width: 38px;
          height: 38px;
          position: absolute;
          background-color: #49b78a;
          border-radius: 50%;
          opacity: .2;
        }
      }
      &:last-child{
        background-color: transparent;
        color: #d5dde1;
        font-size: 28px;
        &.active{
          color: #49b78a;
        }
      }
    }
  }
  &__step-text{
    list-style: none;
    padding: 0;
    width: 650px;
    li{
      display: inline-block;
      margin-right: 55px;
    }
  }
  &__steps{
    margin-bottom: 25px;
    overflow: auto;
  }
  &__rect{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }
  
  &__flex-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    &:last-child{
      margin-bottom: 0px;
    }
  }
  .graph{
    margin-bottom: 15px;
    @include respond(phone){
      margin-bottom: 0px;
    }
  }
  &__flat-transfer{
    border-bottom: 1px solid rgba(34, 36, 37, 0.2);
    @include respond(phone){
      background-color: transparent;
      border:none;
    }
    p{
      margin: 0;
      padding: 0;
    }
    padding: 20px;
    background-color: $white-gray;
    .button-problems{
      text-decoration: none;
      padding: 9px 17px 9px 17px;
      border-radius: 5px;
      border: solid 1px rgba(34, 36, 37, 0.2);
      i{
        margin-right: 10px;
      }
    }
    &:last-child{
      border-radius: 0px 0px 5px 5px;
      border-bottom: none;
      margin-bottom: 15px;
      padding-bottom: 30px;
    }
  }
  .fz-30{
    font-size: 30px;
  }
  .fz-19{
    font-size: 19px;
  }
  .fz-15{
    font-size: 15px;
  }
  &__adv-links{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      display: inline-block;
      a{
        text-decoration: none;
        color: #345591;
        font-size: 12px;
      }
    }
  }
  .fl{
    display: flex;
    align-items: center;
    > span{
      margin-left: 10px;
      sup{
        color: rgba(34, 36, 37, 0.4);
      }
    }
  }
  .pl{
    padding-left: 20px;
  }
  .mt{
    margin-top: 30px;
  }
  .mb10{
    margin-bottom: 10px;
  }
  &__load{
    height: 3px;
    position: relative;
    width: 100%;
    .load-inner{
      height: 3px;
      position: absolute;
      top:0;
      background: #6093ff;
      width: 80%;
    }
  }
  .tabs__content{
    margin-top: -25px;
    .events{
      width: 100%;
      th{
        text-align: left;
        color: rgba(34, 36, 37, 0.6);
      }
      tbody{
        td > span{
          margin-right: 10px;
        }
        td > span.circle{
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background: #d5dde1;
          margin-right: 0px;
          display: inline-block;
          &.active{
            background: #49b78a;
          }
        }
        td > span.disactive{
          color: rgba(213, 221, 225, 0.5);
        }
        td{
          padding-top: 15px;
        }
      }
    }
  }
  .office__tabs {
    @include respond(phone){
      white-space: nowrap;
      overflow-x: auto;
    }
    @include respond(planshet){
      white-space: nowrap;
      overflow-x: auto;
    }
    li{
      font-size: 15px;
      color: color .3s ease;
      &:hover{
        color: #333;
      }
      span{
        font-weight: normal;
      }
      &.active{
        margin-bottom: 0px;
        &:hover{
          color: #333;
        }
      }
    }
  }  
  &__transfer-address{
    background-color: #af1b57;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  }
  &__congrat{ 
    margin-top: 40px;
    i{
      color: rgba(#222425,.7);
    }
  }
  .ord{
    @include respond(phone){
      order:1;
    }
  }
}
.rent__filter--sorting{
  position: relative!important;
  bottom: 0;
  max-width: none;
  margin: 10px 0;
}
.rent__panel--sorting .fake-select__value{
  width: auto;
  display: inherit;
  padding: 0;
}
.rent__panel--sorting .fake-select__value:after{
  position: relative;
  right: 6px;
  top: -2px;
}

.fake-select__value:after{
  transform: rotate(-135deg) scale(.7);
}

.ws-nowrap{
  white-space: nowrap;
}

.personal-objects-detail__inf {
    max-width: 170px;
}
.personal-auth__flex-submit {
    position: relative;
}
.flex-list {
    justify-content: space-between;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    display: flex;
    list-style: none;
}
.flex-list span {
    font-size: 30px;
}
.flex-list li {
    margin-right: 10px;
}
.flex-list li:last-child {
    margin-right: 0;
}
@media screen and (max-width: 480px) {
    .personal-auth__submit {
        position: relative;
        top: 40px;
    }
}
.personal-account__training {
    list-style: none;
    margin: 0;
    padding: 0;
}
.personal-account__training li {
    cursor: pointer;
    margin-bottom: 10px;
    max-width: 210px;
    position: relative;
}
.personal-account__training li:after {
    content: "\00355";
    position: absolute;
    right: 6px;
    top: -14px;
    font-size: 37px;
    color: #989898;
    transform: rotate(90deg);
}
.detail-text_training {
    display: none;
}
.detail-text_training.active {
    display: block;
}
.n-wrap-text {
    text-overflow: ellipsis;
    overflow: hidden;
    height: 1.2em;
    max-width: 145px;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    padding-right: 15px;
    cursor: pointer;
}
.n-wrap-text:after {
    content: "\203A";
    position: absolute;
    right: 2px;
    font-size: 22px;
    top: -4px;
    transform: rotate(90deg);
    color: #c3c3c3;
}
.n-wrap-hidden {
    position: absolute;
    top: 44px;
    box-shadow: 0px 2px 5px #d0d0d0;
    padding: 9px;
    background: #fff;
    border-radius: 5px;
    z-index: 1;
    display: none;
}
.n-wrap-hidden.active {
    display: block;
}
.icon-keys:before {
    content: "\e932";
}

.form-info-line{
  position: relative;
  width: 122%;
  padding-top: 12px;
  padding-bottom: 9px;
  padding-left: 45px;
  padding-right: 25px;
  background: #faf4a0;
  font-size: 10px;
  text-align: left;
  @include respond(phone){
    width: 100%;
  }
  .icon{
    position: absolute;
    left: 14px;
    top: 14px;
    font-size: 14px;
  }
}
