.personal-auth{
  padding: 20px 0px;
  margin-bottom: 60px;
  &__form{
    max-width: 462px;
    position: relative;
    margin-top: 10px;
    input{
      margin-bottom: 30px;
    }
  }
  &__forg-pass{
    position: absolute;
    right: 0px;
    top: 0px;
    text-decoration: none;
    color: $colorBlueLink;
    font-size: 19px;
  }
  &__form-container{
    margin-bottom: 15px;
    position: relative;
  }
  &__submit{
    min-width: 258px;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
  }
  &__line{
    text-align: center;
    position: relative;
    height: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
    span{
      background-color: #fff;
      position: absolute;
      z-index: 2;
      padding: 0px 20px;
      left: 50%;
      margin-left: -20px;
    }
    &:before{
      width: 100%;
      border-bottom: 1px solid $colorBlack;
      opacity: .1;
      content: '';
      position: absolute;
      top: 50%;
      left: 0px;
      z-index: 1;
    }
  }
  &__button-radius{
    text-decoration: none;
    color: $colorBlueLink;
    border: 1px solid #d3d3d3;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
    transition: all .5s ease;
    white-space: nowrap;
    @include respond(phone) {
      font-size: 12px;
    }
    &:hover{
      background-color: rgba(0, 0, 0, 0.1);
    }
    .icon-auth{
      width: 15px;
      height: 15px;
      background-size: cover;
      margin-right: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .auth-google{
       background: url("/ts/images/personal-account/search.svg");
       background-size: cover;
    }
    .auth-facebook{
       background: url("/ts/images/personal-account/facebook.svg");
       background-size: cover;
    }
    .auth-vk{
       background: url("/ts/images/personal-account/vk.svg");
       background-size: cover;
    }
  }
  .button-radius--blue{
    background-color: #475a96;
    color: #fff;
    border:none;
    &:hover{
      background-color: #3e4d7d;
    }
  }
  .button-radius--light-blue{
    background-color: #5181b8;
    color: #fff;
    border:none;
    &:hover{
      background-color: #4672a5;
    }
  }
}
.personal-auth__form-container .input__block-text .icon-eye-hide,
.personal-auth__form-container .input__block-text .icon-eye-show{
  position: absolute;
  color: #d3d3d3;
  font-size: 30px;
  right: 12px;
  top: 10px;
  cursor: pointer;
  z-index: 10;
}
.icon-eye-hide:before {
  content: "\e93d";
}
.icon-eye-show:before {
  content: "\e93e";
}