.personal-objects{
  padding-bottom: 50px;
  &__title{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 27px;
  }
  .ttl:first-child .personal-objects__title{
    margin-top: 0px;
    @include respond(phone) {
      margin-top: 15px;
    }
  }
  &__hr{
    width: 100%;
    height: 15px;
    @include respond(phone) {
      height: 0;
    }
    @include respond(planshet) {
      height: 15px;
    }
  }
  &__sale-box{
    border-radius: 5px;
    border: solid 1px rgba(34, 36, 37, 0.2);
    display: flex;
    flex-direction: row;
    margin-top: 13px;
    margin-bottom: 13px;
    text-decoration: none;
    color: inherit;
    height: 100%;
    @include respond(phone) {
      flex-direction: column!important;
      height:auto;
    }
  }
  &__left-box.sold{
    width: 100%;
    border: none;
  }
  &__left-box,&__right-box{
    width: 50%;
    @include respond(phone) {
      border:none;
      width: 100%;
    }
  }
  &__left-box-image {
    height: 166px;
    position: relative;
    img{
      object-fit: cover;
    }
  }
  &__status-text{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 5px;
  }
  .green_bg{
    background: #49b78a;
    color: #fff;
  }
  .red_bg{
     background: #d13338;
     color: #fff;
  }
  &__left-box{
    border-right: 1px solid rgba(34, 36, 37, 0.2);
    @include respond(phone) {
      border:none;
      border-bottom: 1px solid rgba(34, 36, 37, 0.2);
    }
  }
  &__title-box{
    font-size: 19px;
    margin-bottom: 5px;
    a{
      text-decoration: none;
      color: inherit;
      font-weight: bold;
    }
  }
  &__price{
    font-weight: bold;
    font-size: 15px;
  }
  &__convert{
    color: rgba(34, 36, 37, 0.4);
  }
  &__left-box-text-block{
    padding: 20px;
  }
  &__data{
    font-size: 14px;
  }
  &__date{
    font-size: 12px;
    margin-top: 15px;
  }
  &__link-like-buyer{
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: #345591;
  }
  &__right-box-statistic{
    display: flex;
  }
  &__int{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 30px;
    &:first-child{
      margin-left: 0px;
    }
    sup{
      color: rgba(34, 36, 37, 0.4);
      font-size: 12px;
      top: -12px;
      font-weight: bold;
    }
  }
  &__title-statistic{
    font-size: 15px;
    font-weight: normal;
  }
  &__next-shows{
    margin-top: 15px;
  }
  &__next-shows-item{
    background-color: rgba(125, 167, 255, .2);
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
  }
  &__info{
    margin-top: 15px;
    opacity: 0.7;
  }
  &__dot{
    width: 8px;
    height: 8px;
    opacity: 0.5;
    background-color: #d5dde1;
    display: inline-block;
    border-radius: 50%;
    &.active{
      background-color: #49b78a;
      opacity: 1;
    }
  }
  &__congrat{
    font-size: 19px;
    margin-top: 10px;
    display: inline-block;
  }
  .red-item{
    background-color: rgba(#af1b57, .15);
  }
  &__status-title{
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
  }
  &__right-box{
    padding: 16px 25px;
  }
  .personal-objects-sold .left-box{
    @include respond(phone) {
      border:none;
    }
  }
}