.personal-calendar{
  .fc-header-toolbar .fc-left>div h2{
    font-weight: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 160px;
    overflow: hidden;
  }
  @include respond(phone) {
    overflow: scroll;
  }
  &__flex-between-row{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    @include respond(phone) {
      flex-direction: column;
    }
  }
  &__pick-date{
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(phone) {
      margin-bottom: 15px;
    }
    b{
      color: #345591;
      margin-right: 30px;
    }
  }
  &__prev,&__next{
    font-size: 19px;
    cursor: pointer;
    margin: 0;
    padding: 0px 10px;
    height: 25px;
  }
  .butt-icon{
    margin-right: 10px;
  }
  &__calendar{
    min-width: 980px;
    margin-bottom: 50px;
    position: relative;
    padding: 1px;
    @include respond(phone) {
      overflow: scroll;
      min-width: 1100px;
    }
    .calendar-head{
      background-color: #f7f7f7;
      .h-cell{
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid rgba(#222425,.1);
        padding: 14px;
        .end{
          color: #af1b57;
        }
      }
    }
    .calendar-body{
      .row{
        border-top: 1px solid rgba(#222425,.1);
        position: relative;
        &:first-child{
          border-top: none;
        }
      }
      .cell{
        min-height: 65px;
        flex-direction: column;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        border-right: 1px solid rgba(#222425,.1);
        padding: 14px;
        position: relative;
        transition: all .5s ease;
        .time{
          padding-left: 85px;
          padding-right: 10px;
          background: #fff;
          position: absolute;
          bottom: -10px;
          margin-left: -28px;
          z-index: 1;
        }
        &.green-bg{
          background-color: rgba(#49b78a,.1);
        }
        &.f-center{
          justify-content: center;
          align-items: center;
          padding: 10px;
        }
        &.blue{
          border-top: 3px solid #6093ff;
          background-color: #fff;
        }
        &.orange{
          border-top: 3px solid #ff7750;
          background-color: #fff;
        }
        &.red{
          border-top: 3px solid #af1b57;
          background-color: #fff;
        }
        .not-available,.free-time{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 90%;
          height: 90%;
          background-color: #fff;
          border-radius: 3px;
          padding: 15px 20px;
          cursor: pointer;
        }
        .free-time{
          background-color: rgba(#49b78a,.1);
          font-weight: bold;
          color: #49b78a;
        }
        &:hover{
          background: rgba(#ccc,.1);
        }
      }
    }
    .time-line{
      position: absolute;
      width: 89%;
      border-bottom: 1px dashed #af1b57;
      top: 50%;
      right: 0;
      span{
        position: absolute;
        font-size: 12px;
        color: #af1b57;
        left:-37px;
        top: -8px;
      }
    }
  }
}
.select-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  span{
    padding: 10px;
  }
  a{
    text-decoration: none;
    color: rgba(34, 36, 37, 0.4);
    padding: 10px;
  }
  .close{
    font-size: 24px;
  }
}

.fc-myCustomButton-button{
  background-color: #2a55a4!important;
  border: none;
  color: #fff!important;
}

.fc-header-toolbar .fc-right,
.fc-header-toolbar .fc-left{
  button{
    background-color: #2a55a4;
    border: none;
  }
}
.fc-time-grid .fc-slats td{
  height: 60px;
}
body .fc{
  margin-bottom: 30px;
}
.fc-unthemed th{
  padding: 15px;
  text-transform: uppercase;
}
.fc-view-container{
  @include respond(phone) {
    width: 1200px;
  }
}
.fc-time-grid .fc-event, .fc-time-grid .fc-bgevent{
  border: none;
  padding: 5px;
  background: #fff;
  color: #333;
  display: flex;
  align-items: center;
  .fc-title{
    font-weight: bold;
  }
  &.blue-border{
    border-top: 3px solid #6093ff;
  }
  &.orange-border{
    border-top: 3px solid #ff7750;
  }
  &.red-border{
    border-top: 3px solid #af1b57;
  }
  &.free-time{
    background-color: #ecf7f3;
    color: #49b78a;
    text-align: center;
    justify-content: center;
  }
  &.not-available{
    text-align: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
  }
}
.fc-sun { color:#af1b57;}
.fc-sat { color:#af1b57;}
.fc-time-grid .fc-now-indicator-line{
  border-style: dashed;
}
.fc-header-toolbar .fc-left{
  display: flex;
  @include respond(phone) {
    flex-direction: column;
    > button{
      margin-top: 10px;
    }
  }
  > button{
      background-color: transparent;
      color: #345591;
      border: none;
    }
   > div{
    display: flex;
    font-size: 12px;
    justify-content: center;
    align-items: center;
     h2{
       font-weight: normal;
     }
     button {
       background-color: transparent;
       border: none;
       color: #222425;
     }
  }
} 
.add-period{
  text-decoration: none;
  color: #345591;
  font-weight: bold;
}
.modal-bottom-row{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  .mbtn{
    @include respond(phone) {
      font-size: 13px;
    }
  }
}
.modal-backdrop.in{
  z-index: 1000;
}

.modal{
  @include respond(phone) {
    padding: 25px;
    top: 25%;
  }
}


