.personal-market-information {
  &__link-text {
    font-size: 19px;
    margin-top: 16px;
    margin-bottom: 15px;
    @include respond(phone) {
      margin-bottom: 20px;
    }
    a {
      color: $dusk-blue;
      text-decoration: none;
    }
    i{
      padding: 0px 5px;
      color: $dusk-blue
    }
  }
  .non-clicked{
    .mini-card:hover{
      box-shadow: none;
      cursor: auto;
    }
    a.card-item__link, a.mini-card__link{
      cursor: default;
      pointer-events: none;
    }
  }
  .rent__slider{
    @include respond(phone) {
      margin-bottom: 0px;
    }
  }
  .graph{
    @include respond(phone) {
      margin-bottom: 15px;
    }
  }
  .slick-prev {
    right: 82px;
  }
  .slick-next {
    right: 53px;
  }
  .slider-block__container{
    padding-left: 0px;
  }
  .slider-block__link{
    right: 142px;
  }
  &__title{
    @include respond(tablet) {
      margin-top: 20px;
    }
    @include respond(phone) {
      margin-top: 20px;
    }
  }
  &__index{
    padding-bottom: 50px;
  }
  #make_forecast{
    margin-bottom: 40px;
    cursor: pointer;
  }
}
.forecast-popup{
  .contact-face{
    input{
      margin-bottom: 20px;
    }
  }
  .forecast-accept{
    font-size: 12px;
    cursor: pointer;
    a{
      text-decoration: none;
      color: $colorBlueLink;
    }
    input{
      margin-right: 5px;
      position: relative;
      top: 2px;
    }
  }
  form{
    margin-top: 20px;
  }
  .group-inputs{
    display: flex;
    margin-top: 25px;
    input{
      margin-right: 15px;
    }
  }
  .rooms-count{
    margin-top: 25px;
  }
}