.personal-account{
  .mobile-likes{
    @include respond(planshet) {
      display: none;
    }
  }
  .header{
    .page-panel{
      background: #35657e;
      &__menu{
        @include respond(planshet) {
          background: #235169;
        }
        @include respond(phone) {
          background: #235169;
        }
      }
      &__contact{
        @include respond(tablet) {
          display: inherit;
        }
      }
    }
    .page-panel:after{
      @include respond(planshet) {
        background-color: #235169;
      }
      @include respond(phone) {
        background-color: #235169;
      }
    }
  }
  .page-menu{
    &__item{
      &:hover{
        a{
          background-color: rgba(34, 36, 37, 0.2);
        }
      }
      &.active{
        background-color: rgba(34, 36, 37, 0.2);
        a{
          background-color: transparent;
        }
      }
    }
  }
  .bottom-menu{
    border-top: 1px solid rgba(34, 36, 37, 0.2);
    padding-top:30px;
  }
}
.blue_bg {
    background: rgba(44, 144, 226, 0.25);
    color: #4a90e2;
}