.ddk-directions{
  &__list{
    list-style: none;
    margin: 0px 0px 30px 0px;
    padding: 0;
    li{
      display: inline-block;
      margin-right: 10px;
      a{
        color: $colorBlueLink;
        text-decoration: none;
        font-size: 15px;
      }
      span{
        color: $colorBlack;
        opacity: .4;
        font-size: 12px;
        margin-left: 5px;
      }
    }
    &.flexible{
      display: flex;
      flex-direction: column;
      max-height: 100px;
      margin-bottom: 0px;
      flex-wrap: wrap;
      @include respond(phone) {
        margin-top: 25px;
      }
    }
  }
  &__scrollable{
    max-height: 85px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  &__scrollable--h54{
    max-height: 54px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  .mini-card__params--item{
    .small-t{
      font-size: 12px;
      position: relative;
      top: -3px;
    }
  }
  .blue-mobile{
    @include respond(phone) {
      color: $colorBlueLink;
      font-weight: normal;
      margin-bottom: 5px;
      display: inline-block;
    }
  }
  &__map{
    max-height: 370px;
    margin-bottom: 35px;
  }
  .hidden-pad{
    @include respond(planshet) {
      display: none;
    }
  }
  .mobile-text{
    display: none;
    line-height: 18px;
    @include respond(planshet) {
      display: block;
      font-size: 12px;
    }
  }
  .mobile-block li{
    @include respond(phone) {
      display: block;
    }
  }
  .top-info__currency--mobile{
    @include respond(phone) {
      display: none;
    }
  }
}
.spros-base{
  &__image{
    img{
      object-fit: cover;
      height: 80px;
    }
  }
}
