.ddk-objects{
  &__way{
    .price-range{
      &__border{
        width: 136px;
      }
    }
    .fake-select{
      width: 160px;
    }
  }
  .mini-card__params--item{
    .small-t{
      font-size: 12px;
      position: relative;
      top: -3px;
    }
  }
  .rent__links{
    margin-bottom: 50px;
  }
  .rent__links.top{
    margin-bottom: 0px;
  }
  .map-view .map_box{
    margin-left: 0px;
  }
}
