.ddk-objects-detail{
  .mini-card__params--item{
    .small-t{
      font-size: 12px;
      position: relative;
      top: -3px;
    }
  }
  &__credit{
    .icon{
      position: relative;
      top:1px;
      right:3px;
    }
  }
  .header-contact__button--wrapper .white_button{
    width: 158px;
  }
  &__credit{
    margin-top: 40px;
  }
}
