.ddk-main{
  .mini-card__params--item{
    .small-t{
      font-size: 12px;
      position: relative;
      top: -3px;
    }
  }
  &__send{
    margin-bottom: 50px;
  }
  .header-contact__button--wrapper .white_button{
    width: 160px;
  }
  .all-on-map{
    display: flex;
    color: $colorBlueLink;
    cursor: pointer;
    a{
      color: $colorBlueLink;
      cursor: pointer;
      text-decoration: none;
    }
    .icon{
      position: relative;
      margin-left: 33px;
      right: 10px;
      top: 2px;
    }
    @include respond(phone) {
      text-align: center;
      width: 100%;
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
  .rent__filter__box{
    @include respond(phone) {
      visibility: visible;
      position: relative;
      opacity: 1;
      padding: 0;
      background: transparent;
      width: auto;
      transform: none;
      box-shadow: none;
    }
  }
  .ddk-objects__way{
    .fake-select{
      @include respond(phone) {
        width: 100%;
      }
    }
    .price-range__border{
      @include respond(phone) {
        width: 100%;
      }
    }
  }
  .promoblock__top--pk{
    background: url("/images/ddk/8AE6672E-50DC-42C2-B39C-A8356817363B.png") no-repeat center;
    background-size: cover;
  }
  .promoblock__house--spros{
    background: url("/images/ddk/BC8B074B-B69E-41BE-8106-A5FB0CFCCA83.png") no-repeat center;
    background-size: cover;
  }
  .promoblock__flats--move-build{
    background: url("/images/ddk/CF2D31FA-A2EA-4F3C-B962-358D04C465A2.png") no-repeat center;
    background-size: cover;
  }
}
