.ddk-buyer-base{
  &__heart{
    opacity: .4;
    cursor: pointer;
    @include respond(phone) {
      position: absolute;
      top: 15px;
      right: 15px;
    }
  }
  .spros-base__row{
    position: relative;
  }
  &__search-text{
    font-size: 19px;
    a{
      color: $colorBlueLink;
      text-decoration: none;
    }
  }
  &__heart:hover{
    opacity: 1;
  }
  .spros-base__head{
    position: relative;
  }
  &__abs{
    color: $colorBlueLink;
    width: 100%;
    height: 60px;
    background: #ffe400;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    @include respond(phone) {
      display: none;
    }
  }
  &__flex-abs{
    display: flex;
    .close{
      font-size: 24px;
      margin-left: 15px;
    }
  }
  &__favor{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
    .icon{
      position: relative;
      margin-right: 10px;
    }
  }
  .spros-base__price-usd{
    @include respond(phone) {
      margin-left: 0px;
    }
  }
  .spros-base__col{
    @include respond(phone) {
      margin-bottom: 10px;
      margin-left: 0px;
    }
  }
}
