.ddk-settlements{
  .page__header--small-t {
    color:$colorBlack;
    opacity: .4;
    position: relative;
    left: 10px;
    top: 3px;
  }
  .form-button{
    margin-left: 30px;
    @include respond(phone) {
      margin-left: 0px;
      margin-top: 20px;
    }
  }
  .fake-select{
    width: 208px;
    @include respond(phone) {
      width: auto;
    }
  }
  .fake-select.prce{
    width: auto;
  }
  .map_box{
    margin-top: 40px;
    > ymaps{
       height: 420px;
    }
  }
  .mini-card__params--item{
    .small-t{
      font-size: 12px;
      position: relative;
      top: -3px;
    }
  }
  .link{
    color: $colorBlueLink;
    text-decoration: none;
  }
  .rent__slider .mini-card{
    margin-top: 0px;
  }
  .spros-base__slider{
    padding-right: 60px;
  }
  .rent__slider .slider-block__box{
    max-width: 650px;
    @include respond(phone) {
      margin-top: 10px;
      max-width: calc(100vw - 100px);
    }
  }
  .settlements .slider-block .slick-prev{
    right: -35px;
    top: 7px;
  }
  .settlements .slider-block .slick-next{
    right: -64px;
    top: 7px;
  }
  .rent__slider .slick-list{
    padding-left: 0;
  }
  .mobile-mgn{
    @include respond(phone) {
      margin-top: 10px;
      padding-right: 80px;
    }
  }
  .spros-base__row{
    @include respond(phone) {
      padding: 7px 0 17px;
    }
  }
  .rent__slider .mini-card{
    margin-bottom: 0px;
  }
  .rent__slider{
    margin-bottom: 0px;
  }
  .price-range__border{
    max-width: 180px;
    margin-left: 10px;
    @include respond(phone) {
      max-width: none;
      width: 100%!important;
      margin-left: 0px;
    }
  }
  .mw-100{
    @include respond(phone) {
      width: 100%;
    }
  }
  .price-range__text{
    position: relative;
    top: 10px;
    justify-content: flex-start;
  }
  .top-info__currency--mobile{
    @include respond(phone) {
      display: none;
    }
  }
  .spros-base__banner{
    position: absolute;
    left: 0;
    width: 100%;
  }
  .spros-base__row{
    min-height: 98px;
    @include respond(planshet) {
      min-height: 109px;
    }
  }
  
}

