.ddk-buyers{
  .mini-card__params--item{
    .small-t{
      font-size: 12px;
      position: relative;
      top: -3px;
    }
  }
  &__send{
    margin-bottom: 50px;
  }
  .header-contact__button--wrapper .white_button{
    width: 160px;
  }
}
