.ddk-directions-detail{
  &__r-wrapper{
    padding-left: 60px;
    padding-right: 40px;
    @include respond(planshet) {
      padding: 0px;
    }
    @include respond(phone) {
      padding: 0px;
    }
  }
  .map_box{
    @include respond(planshet) {
      margin-right: 0;
    }
    @include respond(phone) {
      margin-right: 0;
    }
  }
  .map_box > ymaps{
    max-height: 535px;
    @include respond(planshet) {
      max-height: 360px;
    }
    @include respond(phone) {
      max-height: 350px;
    }
  }
  &__text-block{
    margin-bottom: 20px;
  }
  .rent__slider{
    margin-top: 50px;
  }
  .mini-card__params--item{
    .small-t{
      font-size: 12px;
      position: relative;
      top: -3px;
    }
  }
  .mobile-text{
    display: none;
    line-height: 18px;
    @include respond(planshet) {
      display: block;
      font-size: 12px;
    }
  }
  .full-content__call.dm{
    display: none;
    margin-top: 15px;
    @include respond(planshet) {
      display: block;
    }
    @include respond(phone) {
      display: block;
    }
  }
  .full-content__call.hp{
    @include respond(planshet) {
      display: none;
    }
    @include respond(phone) {
      display: none;
    }
  }
  .top-info__currency--mobile{
    @include respond(phone) {
      display: none!important;
    }
  }
}
