.ddk-programs {
  &__home-img{
    background: url("/images/programs/pvn.jpg") no-repeat center;
    background-size: cover;
  }
  &__rf-img{
    background: url("/images/programs/rf.png") no-repeat center;
    background-size: cover;
  }
  .fz-19{
    font-size: 19px;
  }
  .programs__header{
    margin-bottom: 0px;
    @include respond(phone) {
      margin-bottom: 40px;
    }
  }
}