.ddk-sellers{
  .mini-card__params--item{
    .small-t{
      font-size: 12px;
      position: relative;
      top: -3px;
    }
  }
  &__send{
    margin-bottom: 50px;
  }
  .big-images__col{
    width: auto;
  }
  .ddk-buyers__send{
    @include respond(phone) {
      margin-top: 50px;
    }
  }
  .header-contact__button--wrapper .white_button{
    width: 160px;
  }
  &__base{
    display: flex;
    color: $dusk-blue;
    font-size: 19px;
    a{
      color: $dusk-blue;
      text-decoration: none;
    }
    .icon{
      position: relative;
      top: 3px;
      right: 5px;
    }
  }
}
