.ddk-settlements-detail{
  .w-int{
    font-size: 51px;
    position: relative;
    top: 3px;
    left: 25px;
    @include respond(phone) {
      left: -5px;
    }
  }
  .top-info__currency--mobile{
    @include respond(phone) {
      display: none;
    }
  }
  .full-content__call.dm{
    display: none;
    margin-top: 30px;
    @include respond(planshet) {
      display: block;
    }
    @include respond(phone) {
      display: block;
    }
  }
  .full-content__call.hp{
    @include respond(planshet) {
      display: none;
    }
    @include respond(phone) {
      display: none;
    }
  }
  .link{
    color: $colorBlueLink;
    margin-bottom: 10px;
  }
  .full-mini-card {
    &__info {
      color: $warmGrey;
    }
  }
  .full-point {
    margin-bottom: 20px;
  }
}
