.ddk-buyer-base-detail{
  .map_box{
    @include respond(planshet) {
      margin-right: 0;
    }
    @include respond(phone) {
      margin-right: 0;
    }
  }
  .map_box > ymaps{
    max-height: 486px;
    @include respond(planshet) {
      max-height: 360px;
    }
    @include respond(phone) {
      max-height: 350px;
    }
  }
  .ddk-directions__map{
    max-height: none;
  }
  .spros-base__price-usd{
    @include respond(phone) {
      margin-left: 0px;
    }
  }
  .spros-base__col{
    @include respond(phone) {
      margin-bottom: 10px;
      margin-left: 0px;
    }
  }
  .full-card__buttons{
    @include respond(phone) {
      width: 286px;
    }
  }
}
