.analyt-person {
  border: solid 1px rgba(34, 36, 37, 0.2);
  border-radius: $defaultBorderRadius;
  display: flex;
  justify-content: space-between;
  @include respond(phone) {
    flex-wrap: wrap;
  }

  &__col {
    padding: 21px 0 0 31px;
    position: relative;
    width: 60%;
    @include respond(phone) {
      width: 100%;
      padding-bottom: 30px;
    }
  }

  &__title {
    font-size: 19px;
    font-weight: bold;
  }

  &__phone {
    font-weight: bold;
    color: $colorBlack;
    text-decoration: none;
    display: block;
  }

  &__spec {
    margin: 0 0 11px 0;
  }

  &__img {
    @include respond(phone) {
      width: 100%;
      height: 172px;
      overflow: hidden;
    }

    @include respond(tablet) {
      width: 204px;
      height: 265px;
    }

    img {
      @include respond(tablet) {
        height: 100%;
      }
      @include respond(planshet) {
        height: 100%;
      }
      @include respond(phone) {
        width: 100%;
      }
    }
  }

  &__btn {
    @include respond(phone) {
      margin-top: 25px;
    }
    @include respond(tablet) {
      position: absolute;
      bottom: 30px;
      left: 31px;
    }
    @include respond(planshet) {
      position: absolute;
      bottom: 30px;
      left: 31px;
    }
  }
}