.analytics {
  .header__page-panel {
    background-color: $dark-pink;
  }
  .page-menu__item.active > a, .page-menu__item:hover > a {
    background-color: rgba(34, 36, 37, 0.4);
  }
  .page-menu__item > a {
    font-size: 15px;
    line-height: normal;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 13px;
  }
  @include respond(planshet){
    .big-images__header{
      font-size: 19px;
    }
  }
  @include respond(phone){
    .big-images__header{
      font-size: 19px;
      width: 158px;
    }
  }
  @media only screen and (max-width: 1199px) {
    .page-panel__menu {
      background: #910f38;
    }
    .page-panel:after {
      background: #910f38;
    }
    .page-menu__item>a{
      padding-top: 7px;
    }
  }
}