.bar-graph {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-left: 22px;
  &--first {
    padding-left: 0px;
  }
  @include respond(phone) {
    &:first-child {
      border-top: solid 1px rgba(34, 36, 37, 0.2);
      padding-top: 15px;
    }
  }
  @include respond(phone) {
    padding-left: 0px;
  }
  &__rooms {
    font-weight: bold;
    margin-bottom: 2px;
  }
  &__line {
    height: 3px;
    margin-top: 2px;
    &--orange {
      background-color: $melon;
    }
    &--blue {
      background-color: $dodger-blue;
    }
    &--rouge {
      background-color: $about;
    }
  }
  &__numbers {
    margin-top: 5px;
    text-align: right;
  }
  &__number {
    line-height: 1;
    &--orange {
      color: $melon;
    }
    &--blue {
      color: $dodger-blue;
    }
    &--rouge {
      color: $about;
    }
  }
  &__text {
    width: 80%;
  }
}