.graph {
  margin-bottom: 40px;
  position: relative;

  &__title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.26;
  }

  &__block {
    border-radius: 5px;
    border: solid 1px rgba(34, 36, 37, 0.2);
    background-color: rgba(34, 36, 37, 0.03);
    @include respond(phone) {
      padding: 10px 21px 38px 15px;
    }
    @include respond(planshet) {
      padding: 46px 0 38px 31px;
    }
    @include respond(tablet) {
      padding: 30px 0 38px 31px;
    }
  }

  &__date {
    color: $dusk-blue;
    text-decoration: none;
    @include respond(phone) {
      display: block;
    }
  }

  &__chart {
    height: 200px;
    margin-bottom: 15px;
    margin-left: -15px;
  }

  &__chart-block {
    @include respond(phone) {
      width: 100%;
      margin-bottom: 17px;
    }
    @include respond(planshet) {
      margin-bottom: 17px;
    }
    width: 90%;
  }

  &__text {
    margin-bottom: 13px;
    a {
      color: $colorBlack;
    }
    @include respond(phone) {
      font-size: 12px;
      margin-bottom: 10px;
    }
    @include respond(tablet) {
      margin-left: 27px;
    }
  }

  &__classif {
    color: $dusk-blue;
    font-size: 12px;
    text-decoration: none;
    @include respond(tablet) {
      margin-left: 27px;
    }
  }

  &__rent-title {
    font-weight: bold;
    margin-bottom: 14px;

    &--no-margin {
      margin-bottom: 0px;
    }

    &--red {
      color: $about;
    }
  }

  &__numbers {
    list-style: none;
    padding: 0;
    margin: 0 0 32px;

    li {
      @include respond(phone) {
        margin-bottom: 10px;
      }
    }

    @include respond(planshet) {
      margin: 0;
    }
  }

  &__numbers-block {
    @include respond(planshet) {
      display: inline-block;
    }
  }

  &__number {
    font-size: 30px;
    font-weight: bold;
    @include respond(phone) {
      display: block;
    }

    &--one {
      color: #af1b57;
    }

    &--two {
      color: $colorBlack;
    }

    &--three {
      color: $seafoam-blue;
    }

    &--house {
      color: $dodger-blue;
    }

    &--area {
      color: $melon;
    }
  }

  &__flats-block {
    @include respond(planshet) {
      display: inline-block;
      vertical-align: bottom;
      margin-left: 70px;
    }

    &--col {
      @include respond(planshet) {
        margin-left: 0;
      }
    }

    &--mt {
      @include respond(planshet) {
        margin-top: 20px;
      }
    }
  }

  &__flats {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 12px;

    li {
      padding-bottom: 5px;
    }

    a {
      color: $colorBlueLink;
      text-decoration: none;
      margin-left: 20px;
      display: inline-block;

      &:hover {
        color: $colorBlueLinkHover;
      }
    }

    &--link {
      margin-left: 0px !important;
    }
  }

  &__checkbox {
    margin-bottom: 50px;

    &--first {
      margin-bottom: 25px;
    }
  }

  &__href-class {
    color: $dusk-blue;
    position: absolute;
    right: 0;
    bottom: 0;
    border-radius: $defaultBorderRadius;
    border: solid 1px rgba(34, 36, 37, 0.2);
    background-color: #ffffff;
    text-decoration: none;
    padding: 8px 40px;

    &:hover {
      color: $colorBlueLinkHover;
    }
  }

  &__pie {
    min-height: 200px;
    @include respond(tablet) {
      margin-left: -24px;
    }
    @include respond(phone) {
      min-height: 170px;
      margin: 0 -18px 20px;
    }

    &--two {
      @include respond(tablet) {
        margin-left: -48px;
      }
      @include respond(planshet) {
        margin-left: -24px;
      }
    }
  }

  &__nb-count {
    @include respond(tablet) {
      margin-bottom: 40px;
    }
    @include respond(phone) {
      margin-bottom: 10px;
    }
    @include respond(planshet) {
      display: inline-block;
      vertical-align: top;
      width: 50%;
    }
  }

  &__pie-block {
    margin-bottom: 20px;
  }

  &__description {
    margin: 50px 0 0 18px;
    @include respond(phone) {
      margin: 50px 0 0 0;
      font-size: 12px;
    }
  }

  &__separate {
    @include respond(planshet) {
      width: 100%;
    }
  }

  &__fltas {
    height: 450px;
    @include respond(tablet) {
      padding-right: 20px;
    }
    @include respond(phone) {
      height: 250px;
    }
    .amcharts-chart-div {
      background-color: rgba(34, 36, 37, 0.03);
    }
  }
}