.housing-rates {
  &__numb {
    font-size: 30px;
    font-weight: bold;
    min-width: 60px;
    display: inline-block;
    @include respond(phone) {
      font-size: 25px;
    }
  }

  &__numb-label {
    @include respond(phone) {
      display: block;
    }
  }

  &__mounth {
    margin-bottom: 22px;
    @include respond(planshet) {
      margin-bottom: 0px;
    }

    &--red {
      color: $about;
    }
  }

  &__stav {
    margin-bottom: 22px;
    font-weight: bold;
  }

  &__subdistrict {
    width: 100%;
    height: 36px;

    .fake-select__value {
      height: 36px;
      line-height: 36px;
      font-size: 15px;
    }

    .fake-select__list label {
      font-size: 15px;
    }
  }

  &__text {
    @include respond(phone) {
      font-size: 12px;
    }
    @include respond(planshet) {
      width: 70%;
    }
    @include respond(tablet) {
      padding-right: 50px;
    }
  }

  &__row {
    margin-bottom: 24px;
    align-items: center;
    margin-left: -12px;
    margin-right: -12px;
  }

  &__area {
    @include respond(phone) {
      margin-top: 24px;
    }
  }

  &__checkbox {
    @include respond(phone) {
      margin-top: 24px;
      padding-left: 0px;
    }
  }

  &__class {
    display: inline-block;
    min-width: 65px;
  }

  &__title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  &__price-range {
    margin-top: -20px;

    .price-range__text {
      @include respond(phone) {
        display: block;
        margin-bottom: 0;
        margin-top: 10px;
      }
    }

    .price-range__text--current-currency {
      @include respond(phone) {
        display: block;
      }
    }
  }

  &__hr {
    border-top: solid 1px rgba(34, 36, 37, 0.2);
    margin-bottom: 18px;
    @include respond(phone) {
      margin-left: -15px;
      margin-right: -21px;
    }
    @include respond(planshet) {
      margin-left: -31px;
    }
    @include respond(tablet) {
      margin-left: -31px;
    }
  }

  &__cells {
    display: inherit;
    align-items: inherit;
    margin-left: -6px;
    margin-right: -6px;
    @include respond(phone) {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    &--tax {
      @include respond(planshet) {
        margin-top: 24px;
      }
    }
  }

  &__numbers {
    @include respond(phone) {
      width: 100%;
      display: block;
    }
  }

  &__line {
    @include respond(phone) {
      margin-bottom: 10px;
    }
  }

  &__nb {
    align-items: baseline;
  }

  &__label {
    padding: 0 0 15px 18px;
    font-weight: bold;
    @include respond(phone){
      width: 40%;
      display: inline-block;
      vertical-align: top;
      padding: 7px 0 15px 0px;
    }
  }

  &__col {
    display: inline-block;
    vertical-align: top;
    @include respond(phone) {
      width: 49%;
    }
  }

  &__block-numb {
    @include respond(phone) {
      width: 58%;
      display: inline-block;
      vertical-align: top;
      text-align: right;
      margin-bottom: 25px;
    }
  }
}