.market-structure {
  &__title {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 15px;
    &--rouge {
      color: $about;
    }
    &--blue {
      color: $dodger-blue;
    }
  }

  &__block-number {
    &--orange {
      color: $melon;
    }

    &--blue {
      color: $dodger-blue;
    }

    &--first {
      margin-bottom: 77px;
      @include respond(phone) {
        padding-right: 10px;
        margin-bottom: 30px;
      }
    }

    @include respond(phone) {
      width: 49%;
      display: inline-block;
      vertical-align: top;
    }

    &--width {
      @include respond(phone) {
        width: 100%;
      }
    }
  }

  &__label-number {
    line-height: 1.2;
  }

  &__number {
    font-size: 30px;
    font-weight: bold;
  }

  &__mounth {
    font-size: 30px;
    font-weight: bold;
  }

  &__description {
    padding: 0 0 108px 22px;
    @include respond(phone) {
      padding: 20px 0 40px 0;
    }
  }

  &__text {
    margin-top: 90px;
    @include respond(phone) {
      margin-top: 20px;
      padding-top: 20px;
      border-top: solid 1px rgba(34, 36, 37, 0.2);
    }
  }
}