.needed-slider{
  &__iteam{
    width: 192px;
    margin-left: 12px;
    margin-right: 18px;
    display: block;
    text-decoration: none;
    color: $colorBlack;
  }
  &__img{
    margin-bottom: 10px;
  }
  &__description{
    font-size: 19px;
    margin-bottom: 17px;
    @include respond(tablet){
      width: 62%;
    }
    @include respond(planshet){
      margin-bottom: 53px;
    }
  }
}