.other-services {
  display: flex;
  border: solid 1px rgba(34, 36, 37, 0.2);
  margin-bottom: 40px;
  border-radius: $defaultBorderRadius;
  @include respond(phone) {
    overflow-y: hidden;
    margin-right: -22px;
  }
  &__col {
    width: 33.333%;
    color: $colorBlack;
    text-decoration: none;
    padding: 38px 0 0 29px;
    height: 288px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom;

    @include respond(tablet) {
      background-size: cover;
    }
    @include respond(phone) {
      min-width: 240px;
    }
    &:first-child {
      border-right: solid 1px rgba(34, 36, 37, 0.2);
    }
    &:last-child {
      border-left: solid 1px rgba(34, 36, 37, 0.2);
    }
    &--consaltung {
      background-image: url("../images/other-services/our-consaltung.png");
    }
    &--base-nb {
      background-image: url("../images/other-services/base-nb.png");
    }
    &--base-ndb {
      background-image: url("../images/other-services/base-ndb.png");
    }
    &--commerce {
      background-image: url("../images/other-services/commerce.png");
    }
    &--rent {
      background-image: url("../images/other-services/rent-pay.png");
    }
    &--invest {
      background-image: url("../images/other-services/invest.png");
    }
    &--shop {
      background-image: url("../images/other-services/shop.png");
    }
  }
  &__title {
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
    font-size: 19px;
    @include respond(tablet) {
      max-width: 250px;
      font-size: 30px;
    }
  }
  &__text {
    font-size: 19px;
    line-height: 1.26;
    max-width: 190px;
    @include respond(tablet) {
      max-width: 250px;
    }
  }
}