.project-portfolio {
  margin-top: 25px;
  &__iteam {
    margin-bottom: 30px;
    max-width: 276px;
    img {
      width: 100%;
    }
  }

  &__title {
    font-weight: bold;
    margin: 7px 0;
  }

  &__addr {
    margin-bottom: 7px;
  }
}