.research{
  margin-bottom: 30px;
  &__row{
    border-top: solid 1px rgba(34, 36, 37, 0.2);
    padding: 10px 0 40px;
    &:hover{
      background-color: rgba(34, 36, 37, 0.03);
    }
    &:last-child{
      border-bottom: solid 1px rgba(34, 36, 37, 0.2);
    }
  }
  &__img{
    img{
      max-width: 100%;
    }
    @include respond(phone){
      margin-bottom: 20px;
    }
  }
  &__block-title{
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  &__block-text{
    @include respond(tablet){
      max-width: 253px;
    }
    @include respond(phone){
      margin-bottom: 5px;
    }
  }
  &__list{
    padding: 0 0 0 26px;
    margin: 0;
    list-style: none;
    position: relative;
    li{
      margin-bottom: 10px;
    }
    i{
      position: absolute;
      left: 0;
      color: $colorNewbuild;
      margin-top: 2px;
    }
    @include respond(phone){
      margin-bottom: 30px;
    }
  }
  &__navigation{
    padding-left: 24px;
  }
  &__partner{
    margin-top: 50px;
  }
  &__year{
    @include respond(planshet){
      display: none;
    }
    @include respond(phone){
      margin-bottom: 26px;
    }
  }
}