.stat-segments {
  margin: 0 0 27px 0;
  &__blocks {
    display: flex;
    @include respond(tablet) {
      justify-content: space-between;
    }
    @include respond(planshet) {
      flex-wrap: wrap;
    }
    @include respond(phone){
      overflow-y: hidden;
      margin-right: -22px;
    }
  }
  &__iteam {
    width: 190px;
    @include respond(planshet) {
      margin: 0 0 30px 0;
      width: 33.333%;
    }
    @include respond(phone) {
      min-width: 190px;
      margin-right: 32px;
    }
  }
  &__title {
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 3px 0;
    line-height: 1.26;
    min-height: 46px;
  }
  &__description {
    margin: 0 0 27px 0;
  }
  &__link {
    color: $colorBlueLink;
    text-decoration: none;
  }
}