.yield-calculation{
  &__title{
    margin-bottom: 24px;
    span{
      font-size: 30px;
      @include respond(phone){
        font-size: 15px;
        font-weight: bold;
      }
    }
    strong{
      font-size: 30px;
      @include respond(phone){
        font-size: 24px;
      }
    }
  }
  &__list{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      margin-bottom: 12px;
      strong{
        font-size: 18px;
        @include respond(phone){
          font-size: 15px;
        }
      }
    }
    &--first{
      margin-bottom: 30px;
      @include respond(tablet){
        margin-bottom: 0px;
      }
    }
  }
}