.about-soc{
  margin-bottom: 90px;
  @include respond(phone){
    margin-bottom: 70px;
  }
  &__title{
    font-size: 30px;
    font-weight: bold;
    margin:26px 0 10px;
    line-height: 1;
  }
  &__description{
    font-size: 19px;
    line-height: 1.42;
    margin-bottom: 8px;
    width: 90%;
    @include respond(phone){
      width: 100%;
      font-size: 15px;
    }
  }
  &__link{
    color: $colorBlueLink;
    text-decoration: none;
  }
  &__people{
    display: flex;
    @include respond(phone){
      margin-left: -24px;
      margin-right: -24px;
    }
    &:first-child{
      margin-top: 40px;
    }
    &:last-child{
      @include respond(phone){
        margin-bottom: 29px;
      }
    }
  }
  &__text{
    line-height: 1.4;
    margin-bottom: 4px;
  }
  &__name{
    font-size: 12px;
    color: rgba(34, 36, 37, 0.4);
    line-height: 1.2;
  }
  &__info{
    position: relative;
    &--right{
      padding-left: 29px;
      margin-right: 10px;
      margin-bottom: 34px;
      @include respond(phone){
        padding-left: 40px;
      }
      &:before{
        content: "„";
        font-size: 96px;
        position: absolute;
        left: -13px;
        height: 48px;
        line-height: 0;
        margin-top: -20px;
        color: rgba(34, 36, 37, 0.4);
        @include respond(phone){
          left: 3px;
        }
      }
    }

    &--left{
      padding-right: 29px;
      margin-left: 10px;
      &:after{
        content: "„";
        font-size: 96px;
        position: absolute;
        right: 0px;
        top: 0;
        height: 48px;
        line-height: 0;
        margin-top: -20px;
        color: rgba(34, 36, 37, 0.4);
      }
    }
  }
}