.about-head {
  background-image: linear-gradient(to bottom, #af1b57, #830035);
  color: #ffffff;

  @include respond(planshet) {
    padding: 28px 0 58px;
    margin: 1px 0 78px;
  }
  @include respond(tablet) {
    padding: 61px 0 50px;
    margin: 2px 0 78px;
  }
  @include respond(phone) {
    padding: 23px 0 50px;
    margin: 1px 0 78px;
  }

  &__row {
    margin-bottom: 110px;
    @include respond(planshet) {
      margin-bottom: 33px;
    }
    @include respond(phone) {
      margin-bottom: 23px;
    }
  }
  &__title {
    font-size: 48px;
    font-weight: bold;
    line-height: 1;
    @include respond(planshet) {
      margin-bottom: 17px;
    }
    @include respond(phone) {
      font-size: 30px;
      margin-bottom: 17px;
    }
  }
  &__description {
    font-size: 19px;
    line-height: 1.26;
  }
  &__number {
    font-size: 48px;
  }
  &__text {
    line-height: 1.4;
    margin-bottom: 15px;
  }
  &__link {
    color: #ffe400;
    text-decoration: none;
  }
  &__block-numb {
    max-width: 245px;
    margin-bottom: 15px;
    @include respond(tablet) {
      margin-bottom: 0px;
    }
  }
}