.about-success{
  &__title{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 8px;
    line-height: 1;
  }
  &__subtitle{
    color: $colorBlueLink;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
}