.about-mission{
  width: 82%;
  @include respond(phone){
    width: 100%;
    margin-bottom: 15px;
  }
  &__title{
    font-size: 30px;
    font-weight: bold;
  }
  &__description{
    font-size: 19px;
    line-height: 1.26;
    @include respond(planshet) {
      margin-bottom: 18px;
    }
  }
}