.about{
  .header-contact__phone{
    width: 100%;
  }
  .header__page-panel{
    background-color: $about;
  }
  .page-menu__item.active>a, .page-menu__item:hover>a{
    background-color: rgba(34, 36, 37, 0.2);
  }

  @media only screen and (max-width: 1199px) {
    .page-panel__menu {
      background:  #910f38;
    }
    .page-panel:after {
      background: #910f38;
    }
  }
  .page-menu__item a{
    @include respond(planshet){
      white-space: nowrap;
    }
  }
  &__h1{
    line-height: 1;
    @include respond(phone){
      margin: 24px 0 0;
    }
    &--mbmob{
      @include respond(phone) {
        margin-bottom: 15px;
      }
    }
  }
  .header-contact{
    display: none;
  }
}

.fform-about{
  .lessor__header{
    @include respond(phone){
       margin-bottom: 0;
    }
  }
  .reviews-filter{
    @include respond(phone){
       margin-bottom: 50px;
    }
  }
  .input-checkbox-block__checkbox:checked+label{
    background-color: #a0c3ec;
  }
  .input-checkbox-block__checkbox-label--sm {
    height: 50px;
    padding: 15px 0 16px;
    @include respond(phone){
      height: 34px;
      padding: 8px 0 16px;
    }
  }
}