.about-stolich{
  background-color: #65c9e9;
  border-bottom-left-radius: $defaultBorderRadius;
  border-bottom-right-radius: $defaultBorderRadius;
  padding: 25px 30px 40px 28px;
  margin-bottom: 90px;
  @include respond(phone){
    margin: 0 -24px 50px;
  }
  &__client{
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    @include respond(phone){
      margin-bottom: 11px;
    }
  }
  &__iteam{
    width: 186px;
    margin-right: 18px;
    @include respond(planshet){
      margin-bottom: 16px;
    }
    @include respond(phone){
      width: 100%;
      padding-left: 6px;
      padding-right: 6px;
      margin-bottom: 17px;
    }
  }
  &__btn{
    font-size: 19px;
  }

}