.agent {
  margin: 20px 0 0px;
  &__name{
    line-height: 1;
    margin-bottom: 8px;
  }
  &__position {
    font-size: 19px;
    margin-bottom: 15px;
  }
  &__offices{
    font-size: 19px;
    font-weight: bold;
    @include respond(planshet){
      margin: 10px 0 0;
    }
  }
  &__link-offices{
    color: $dusk-blue;
    text-decoration: none;
  }
  &__addr{
    margin-bottom: 15px;
  }
  &__object{
    margin: 40px 0 0;
  }
  &__object-type{
    margin-bottom: 10px;
  }
  &__img{
    margin-bottom: 15px;
  }
}