.awards-slider{
  &__iteam{
    width: 140px;
    margin-left: 12px;
    @include respond(phone){
      width: 132px;
      margin-right: 36px;
    }
  }
  .slick-arrow{
    @include respond(phone){
      display: none !important;
    }
  }
  .slider-block__header{
    margin-bottom: 23px;
  }
  &__img{
    margin-bottom: 25px;
    &:hover{
      cursor: pointer;
    }
    img{
      max-width: 100%;
    }
  }
}