.famous-person{
  display: flex;
  margin: 50px 0 50px;
  @include respond(phone){
    flex-wrap: wrap;
  }
  &__left{
    padding-left: 58px;
    position: relative;
    margin-right: 30px;
    &:before{
      content: '„';
      font-size: 96px;
      position: absolute;
      left: 0;
      height: 27px;
      line-height: 0;
      margin-top: -22px;
    }
    @include respond(phone){
      margin-bottom: 12px;
    }
  }
  &__name{
    font-weight: bold;
    margin-top: 10px;
  }
  &__profesion{
    font-size: 12px;
  }
  &__right{
    width: 62%;
    @include respond(planshet){
      width: 66%;
    }
    @include respond(phone){
      width: 100%;
    }
  }
  &__text{
    margin-bottom: 10px;
  }
  &__direction{
    color: rgba(34, 36, 37, 0.4);
    font-size: 12px;
    margin-bottom: 16px;
  }
  &__href{
    color: $colorBlueLink;
    text-decoration: none;
  }
}