.history-main {
  overflow: hidden;
  margin-bottom: 120px;
  @include respond(planshet) {
    margin-bottom: 80px;
  }
  @include respond(phone) {
    margin-bottom: 80px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 30px 0 0;
    display: flex;
  }
  &__head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  &__all {
    color: $colorBlueLink;
    text-decoration: none;
  }
  &__li {
    margin-right: 15px;
    &--active {
      font-weight: bold;
      position: relative;
      a {
        color: $colorBlack;
        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 17px;
          border: 20px solid transparent;
          border-top: 20px solid rgba(34, 36, 37, 0.2);;
        }
        &::after {
          content: '';
          position: absolute;
          left: 0;
          border: 20px solid transparent;
          border-top: 20px solid white;
          bottom: 18px;
        }
      }
    }
  }
  &__href {
    font-size: 19px;
    color: $dusk-blue;
    text-decoration: none;
  }
  &__col {
    width: 3px;
    height: 8px;
    background-color: #222425;
    margin-right: 2px;
  }
  .scrollbar .handle .mousearea {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
  }
  &__block {
    border: solid 1px rgba(34, 36, 37, 0.2);
    padding: 34px 72px 40px 58px;
    border-radius: $defaultBorderRadius;
    min-height: 240px;
    @include respond(phone) {
      padding: 30px 20px;
      min-height: inherit;
    }
  }
  &__year {
    font-size: 19px;
    font-weight: bold;
    @include respond(phone) {
      margin-bottom: 15px;
    }
  }
  &__text {
    line-height: 1.6;
    a {
      color: $dusk-blue;
    }
    p{
      margin-top: 0;
    }
    ul {
      padding: 0;
      margin: 0 0 15px 0;
      list-style: none;
      li {
        position: relative;
        padding-left: 24px;
        margin-bottom: 9px;
        &:before {
          content: "\e914";
          font-family: 'ts-icons' !important;
          position: absolute;
          color: $colorNewbuild;
          left: 0;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
        }
      }

    }
  }
  .history-list__quote {
    font-size: 19px;
    text-transform: none;
  }
  &__link {
    color: $colorBlueLink;
    text-decoration: none;
  }
  #crazy {
    overflow: unset !important;
  }
}