.history-year{
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 53px 0;
  a{
    text-decoration: none;
    color: $colorBlueLink;
    margin-bottom: 2px;
    @include respond(tablet){
      width: 10%;
    }
    @include respond(planshet){
      width: 16.666%;
    }
    @include respond(phone){
      width: 33.3333%;
    }
  }
}