.history-list {
  &__block {
    margin-bottom: 50px;
  }
  &__quote {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    padding-left: 40px;
    width: 100%;
    letter-spacing: 1.5px;
    &:before {
      content: '„';
      font-size: 79px;
      position: absolute;
      left: 0;
      height: 48px;
      line-height: 48px;
      margin-top: -29px;
    }
    @include respond(planshet) {
      font-size: 19px;
      text-transform: none;
    }
  }
  &__img {
    margin-bottom: 24px;
    img {
      max-width: 100%;
    }
  }
  &__text {
    width: 84%;
    @include respond(planshet) {
      width: 90%;
    }
    @include respond(phone) {
      width: 100%;
    }
    p {
      margin-top: 0;
    }
    ul {
      padding: 0;
      margin: 0 0 15px 0;
      list-style: none;
      li {
        position: relative;
        padding-left: 24px;
        margin-bottom: 9px;
        &:before {
          content: "\e914";
          font-family: 'ts-icons' !important;
          position: absolute;
          color: $colorNewbuild;
          left: 0;
          font-style: normal;
          font-weight: normal;
          text-decoration: inherit;
        }
      }

    }
    a {
      color: $colorBlueLink;
      text-decoration: none;
      &:hover {
        color: $colorBlueLinkHover;
      }
    }
  }
}