.hot-line-rev{
  background-color: #ffe400;
  padding: 21px 30px;
  margin-bottom: 48px;
  .fake-select{
    width: 100%;
  }
  &__title{
    font-size: 30px;
    font-weight: bold;
    @include respond(phone){
     margin-bottom: 10px;
    }
  }
  &__subtitle{
    width: 217px;
    @include respond(phone){
      margin-bottom: 20px;
    }
  }
  &__contact{
    display: flex;
    margin-top: 17px;
    justify-content: space-between;
    @include respond(phone){
      flex-wrap: wrap;
      margin-top: 5px;
    }
  }
  &__phone{
    font-size: 30px;
    font-weight: bold;
    @include respond(phone){
     font-size: 24px;
      margin-bottom: 14px;
    }
  }
  &__img{
    width: 60px;
    height: 60px;
    min-width: 60px;
    overflow: hidden;
    border-radius: 50%;
    margin-right: 17px;
    img{
      max-width: 100%;
    }
  }
  &__answer{
    font-size: 12px;
    margin-bottom: 4px;
  }
  &__name{
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 4px;
  }
  &__person{
    display: flex;
    @include respond(tablet){
      margin-left: 70px;
    }
    @include respond(phone){
      margin-top: 20px;
    }
  }
  &__col{
    @include respond(planshet){
      margin-left: 40%;
      margin-top: 30px;
    }
  }
}