.jobs-agent{
  margin-bottom: 20px;
  @include respond(tablet){
    margin-bottom: 70px;
  }
  &__name{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 1;
  }
  &__subtitle{
    margin-bottom: 11px;
  }
  &__iteam{
    max-width: 240px;
    @include respond(planshet){
      max-width: 90%;
      margin-bottom: 20px;
    }
    @include respond(phone){
      margin-bottom: 22px;
    }
  }
  &__title{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 9px;
  }
  &__term{
    margin-bottom: 9px;
  }
  &__description{
    font-size: 12px;
    color: #4a4a4a;
  }
}