.jobs-form {
  &__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 9px;
    line-height: 1;
  }
  &__subtitle {
    margin-bottom: 20px;
  }
  &__drag {
    background-color: rgba(34, 36, 37, 0.03);
    padding: 25px 60px 45px;
    margin-bottom: 40px;
    @include respond(tablet) {
      width: 550px;
    }
    @include respond(planshet) {
      width: 80%;
    }
    @include respond(phone) {
      padding: 15px 20px;
      margin: 0 -24px 27px;
      line-height: 1;
    }
  }
  &__drag-title {
    font-size: 19px;
    margin-bottom: 7px;
  }
  &__drag-file {
    font-size: 30px;
    font-weight: bold;
  }
  &__not-resume {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    @include respond(phone){
      margin-bottom: 15px;
      width: 70%;
    }
  }
  &__href {
    font-size: 19px;
    color: $dusk-blue;
    text-decoration: none;
    margin-bottom: 30px;
    display: inline-block;
  }
}