.main-people-slider{
  &__iteam{
    color: $colorBlack;
    text-decoration: none;
    padding-left: 12px;
    display: block;
    width: 216px;
    @include respond(phone){
      margin-right: 30px;
    }
  }
  &__img{
    margin-bottom: 7px;
    img{
      max-width: 100%;
    }
  }
  &__name{
    font-weight: bold;
    margin-bottom: 3px;
  }
  .slider-block__header{
    margin-bottom: 30px;
  }
  .slick-arrow{
    @include respond(phone){
      display: none !important;
    }
  }
}