.metropolitan-customer{
  &__row{
    display: flex;
    margin-bottom: 50px;
    @include respond(phone){
      flex-wrap: wrap;
      margin-bottom: 25px;
    }
  }
  &__iteam{
    display: flex;
    width: 33.3%;
    border-radius: $defaultBorderRadius;
    background-color: rgba(34, 36, 37, 0.03);
    border: solid 1px rgba(34, 36, 37, 0.2);
    margin-right: 30px;
    padding: 40px 28px;
    @include respond(planshet){
      margin-right: 20px;
      padding: 12px 11px;
    }
    @include respond(phone){
      width: 100%;
      margin-right: 0;
      padding: 20px;
      margin-bottom: 9px;
    }
  }
  i{
    color: #d13338;
  }
  &__text{
    margin-left: 27px;
  }
}