.minsk-history{
  border-radius: 30px;
  border: solid 6px #ff9272;
  padding: 28px 35px;
  text-decoration: none;
  color: $colorBlueLink;
  display: block;
  max-width: 296px;
  float: right;
  @include respond(phone){
    margin: 0 auto;
    float: none;
  }
  &__title-kkk{
    text-align: left;
    font-weight: bold;
    font-size: 19px;
    &:first-letter{
      color: #af1b57;
    }
  }
  &__img{
    margin-top: 12px;
    text-align: center;
  }
  &--kkk{
    border: solid 6px #af1b57;
    text-align: center;
  }
  &__subtitle{
    font-size: 19px;
    font-weight: bold;
    line-height: 1.11;
    margin-top: 20px;
    color: $colorBlack;
  }
  &__subtitle-kkk{
    line-height: 1.11;
    margin-top: 20px;
    color: $colorBlack;
  }
}