.news-filter{
  border-radius: $defaultBorderRadius;
  background-color: rgba(34, 36, 37, 0.03);
  border: solid 1px rgba(34, 36, 37, 0.2);
  padding: 30px;
  margin: 38px 0 50px;
  @include respond(phone){
    margin: 30px 0 25px;
  }
  &__fake-select{
    width: 100%;
    .fake-select{
      width: 100%;
    }
  }
  &__btn{
    @include respond(tablet){
      text-align: right;
    }
    @include respond(planshet){
      margin-top: 30px;
    }
  }
  &__direction{
    display: none;
    @include respond(tablet){
      display: flex;
    }
    &--mobil{
      @include respond(tablet){
        display: none;
      }
    }
  }
  .col-xs-10{
    @include respond(phone){
      margin-bottom: 10px;
    }
  }
  .filter-button{
    @include respond(phone){
      width: 100%;
    }
  }
}