.news-detail{
  margin: 0 0 50px 0;
  &__date{
    color: rgba(34, 36, 37, 0.4);
    font-size: 12px;
    margin:5px 0 29px;
  }
  &__preview{
    font-size: 15px;
    font-weight: bold;
  }
  &__img{
    margin-bottom: 50px;
    img{
      width: 100%;
    }
    @include respond(phone){
      margin: 0 -22px 22px;
    }
  }
  &__quote{
    font-size: 19px;
    font-style: italic;
    line-height: 1.26;
    position: relative;
    padding: 44px 0 0 41px;
    @include respond(planshet){
      padding: 0px 0 0 41px;
    }
    &:before{
      content: "„";
      font-size: 96px;
      position: absolute;
      left: 0px;
      height: 48px;
      line-height: 48px;
      margin-top: -35px;
    }
  }
  &__people{
    margin: 27px 0 41px;
  }
  h2{
    font-size: 19px;
    font-weight: bold;
  }
  &__subh2{
    margin: -20px 0 15px 0;
  }
  &__block-quote{
    display: flex;
    flex-wrap: wrap;
  }
  img{
    display: block;
    max-width: 100%;
    height: auto;
  }
  a{
    color: $colorBlueLink;
  }
  a:hover{
    color: $colorBlueLinkHover;
  }
  ul {
    padding: 0;
    margin: 0 0 15px 0;
    list-style: none;
    li {
      position: relative;
      padding-left: 24px;
      margin-bottom: 9px;
      &:before {
        content: "\e914";
        font-family: 'ts-icons' !important;
        position: absolute;
        color: $colorNewbuild;
        left: 0;
        font-style: normal;
        font-weight: normal;
        text-decoration: inherit;
      }
    }
  }
  &__before-list{
    margin-bottom: 8px;
  }
}