.news-block{
  &__title{
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    @include respond(phone){
      margin: 0 0 5px 0;
    }
  }
  &__subtitle{
    font-size: 19px;
    margin: 0 0 32px 0;
    @include respond(phone){
      margin-bottom: 4px;
    }
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .news__iteam{
      margin: 0 0 28px 0;
    }
  }
  &__phone{
    background-color: #7cd4b0;
    padding: 18px 0 0 110px;
    flex-wrap: wrap;
    @include respond(planshet){
      width: 100%;
      padding: 38px 0 24px 80px;
      flex-wrap: nowrap;
    }
    @include respond(phone){
      padding: 38px 0 24px 22px;
    }
  }
  &__phone-text{
    font-size: 19px;
    font-weight: bold;
    color: #ffffff;
    @include respond(tablet){
      width: 100%;
    }
    @include respond(planshet){
      margin-right: 75px;
    }
  }
  &__phone-btn{
    .button:first-child{
      margin-right: 38px;
    }
    @include respond(phone){
      margin-top: 17px;
    }
  }
  &__navigation{
    padding-left: 24px;
    margin: 30px 0 100px;
  }
  @include respond(phone){
    .news__iteam{
      flex-wrap: wrap;
      width: inherit;
      margin: 0 -22px;
      border-radius: unset;
      border-left: none;
      border-right: none;
      border-bottom: solid 1px rgba(34,36,37,0.2);
      &:first-child{
        border-top: none;
      }
    }
    .news__info{
      width: inherit;
      padding: 19px 22px 0;
    }
    .news__img{
      margin: 28px 22px 0 22px;
    }
  }
}