.news-detail-page {
  @include respond(phone) {
    .news__title {
      line-height: 1;
    }
    .news__iteam {
      width: 276px;
      flex-wrap: wrap;
      border: none;
      margin: 15px 24px 20px 0;
    }
    .news__info {
      padding: 22px 0 0;
    }
    .slick-arrow{
      top:99%;
    }
    .slider-block__link{
      position: absolute;
      margin: 0;
      top: 100%;
    }
    .news__block{
      margin-bottom: 58px;
    }
  }
}