.our-project {
  display: flex;
  flex-wrap: wrap;
  @include respond(phone) {
    width: 1560px;
  }
  &__outer{
    margin-bottom: 80px;
    @include respond(phone){
      overflow-y: hidden;
      position: relative;
      margin-right: -22px;
    }
  }
  &__iteam {
    width: 33.333%;
    padding: 28px 60px 0 29px;
    min-height: 288px;
    background-size: cover;
    background-repeat: no-repeat;
    &--children {
      background-image: url("../images/our-project/children.jpg");
      background-color: #ffe400;
    }
    &--fond {
      background-image: url("../images/our-project/fond.jpg");
      background-color: #7dd4b1;
    }
    &--teatr {
      background-image: url("../images/our-project/teatr.jpg");
      background-color: #7da6fe;
    }
    &--slytsc {
      background-image: url("../images/our-project/slytsc.jpg");
      background-color: #65c9e9;
    }
    &--world {
      background-image: url("../images/our-project/world.jpg");
      background-color: #fafafa;
    }
    &--souz {
      background-image: url("../images/our-project/souz.jpg");
      background-color: #f8f8f8;
    }
    border-right: 1px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    @include respond(planshet) {
      width: 50%;
    }
    @include respond(phone) {
      width: 260px;
      padding: 28px 20px 20px 29px;
      background-position: bottom;
      bottom: 0;
      background-size: 100%;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 8px;
    @include respond(phone){
      font-size: 24px;
    }
  }
  &__text {
    font-size: 19px;
  }
}