.our-directions{
  margin-bottom: 60px;
  &__logo{
    margin-bottom: 20px;
  }
  &__list{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      margin-bottom: 9px;
    }
    a{
      color: $dusk-blue;
      text-decoration: none;
      padding-left: 5px;
    }
    i{
      color: $dusk-blue;
    }
  }
  &__iteam{
    margin-bottom: 30px;
    @include respond(tablet){
      margin-bottom: 0;
    }
  }
}