.our-principles {
  margin-bottom: 80px;
  &__head {
    color: $colorBlueLink;
    border-bottom: solid 1px #d3d3d3;
    padding: 10px 0 25px;
  }
  &__subhead {
    font-size: 19px;
    font-weight: bold;
    padding: 20px 0;
    border-bottom: solid 1px #d3d3d3;
    line-height: 1;
  }
  &__line {
    padding: 16px 0 35px;
    border-bottom: solid 1px rgba(34, 36, 37, 0.2);
  }
  &__name {
    font-size: 19px;
    font-weight: bold;
  }
  &__head-mobile {
    color: $colorBlueLink;
    padding-bottom: 10px;
    margin: 10px 0;
    border-bottom: solid 1px #d3d3d3;
    display: none;
    @include respond(phone){
      display: block;
    }
  }
  &__subhead-mobile{
    font-weight: bold;
    margin-bottom: 11px;
    display: none;
    @include respond(phone){
      display: block;
    }
  }
}