.partners-list{
  margin-bottom: 90px;
  &__name{
    @include respond(tablet){
      width: 80%;
      padding-left: 36px;
    }
    font-weight: bold;
  }
  &__img{
    max-width: 132px;
    img{
      max-width: 100%;
    }
  }
}