.partners-filter{
  margin: 28px 0 50px;
  .input-checkbox-block__block-line{
    flex: auto;
  }
  &__select{
    @include respond(phone){
      margin-bottom: 10px;
    }
    @include respond(tablet){
      display: none;
    }
  }
}