.person-company {
  .slick-arrow {
    @include respond(phone) {
      display: none !important;
    }
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 13px 0;
    line-height: 1;
  }
  &__subtitle-dep{
    font-size: 28px;
    @include respond(phone){
      font-size: 19px;
    }
  }
  &__subtitle-an{
    margin-bottom: 10px;
    @include respond(phone){
      font-size: 21px;
      span{
        display: inline-block;
        width: 100%;
      }
    }
  }
  &__block {
    margin-right: -24px;
    position: relative;
    .slider-block__link {
      right: 106px;
    }
    @include respond(phone) {
      margin-bottom: 58px;
    }
  }
  &__href {
    text-decoration: none;
    color: $colorBlack;
  }
  &__iteam {
    display: flex;
    margin: 15px 24px 62px 0;
    width: 564px;
    @include respond(phone) {
      width: 250px;
      flex-wrap: wrap;
      border: none;
      margin: 15px 24px 20px 0;
    }
  }
  &__img {
    width: 204px;
    img {
      max-width: 100%;
    }
  }
  &__info {
    width: 360px;
    padding: 0 80px 20px 40px;
    min-height: 191px;
    &--fullwidth {
      width: 100%;
    }
  }
  &__name {
    font-size: 19px;
    font-weight: bold;
  }
  &__text {
    font-size: 15px;
    margin: 15px 0 25px;
  }
  &__info {
    font-size: 12px;
    @include respond(phone) {
      padding: 22px 0 0;
    }
  }
  &__date {
    color: rgba(34, 36, 37, 0.4);
  }
  &__profesion {
    font-size: 19px;
    line-height: 1.26;
  }
  &__quote {
    font-size: 15px;
    padding-left: 37px;
    position: relative;
    &:before {
      content: '„';
      font-size: 96px;
      line-height: 0;
      left: 0;
      position: absolute;
      margin-top: -23px;
    }
  }
  .slick-track {
    margin-left: inherit;
    margin-right: inherit;
  }
  &__mail{
    color: $dusk-blue;
    font-size: 19px;
  }
}