.respons-history{
  padding-left: 24px;
  margin-bottom: 64px;
  @include respond(phome){
    margin-bottom: 30px;
  }
  &__name{
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 30px;
    @include respond(phone){
      margin-right: 24px;
    }
  }
  &__subname{
    font-size: 19px;
    margin-bottom: 5px;
    @include respond(tablet){
      width: 85%;
    }
    @include respond(phone){
      margin-right: 24px;
    }
  }
  &__link{
    font-size: 19px;
    color: $dusk-blue;
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
  }
  &__iteam{
    width: 204px;
    margin-right: 24px;
    display: block;
    text-decoration: none;
    color: $colorBlack;
  }
  &__img{
    margin-bottom: 10px;
    img{
      max-width: 100%;
    }
  }
  .slick-arrow{
    @include respond(phone){
      display: none!important;
    }
  }
}