.responsibility-people {
  margin-bottom: 50px;
  &__iteam {
    display: flex;
    @include respond(planshet) {
      margin-bottom: 30px;
    }
    @include respond(phone) {
      margin-bottom: 20px;
      flex-wrap: wrap;
    }
  }
  &__info {
    width: 170px;
    @include respond(planshet) {
      margin-right: 30px;
    }
    @include respond(phone) {
      display: flex;
      width: 100%;
    }
  }
  &__img {
    margin-bottom: 12px;
    @include respond(phone) {
      margin-right: 15px;
    }
  }
  &__name {
    color: #9b9b9b;
    font-size: 12px;
  }
  .history-list__quote {
    text-transform: none;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.26;
    max-width: 330px;
    letter-spacing: normal;
    @include respond(planshet) {
      max-width: 100%;
    }
  }
}