.reviews-list {
  .col-lg-4 {
    @include respond(planshet) {
      width: 33.333%;
    }
  }
  .review-item{
    @include respond(planshet) {
      width: inherit;
    }
  }
  &__pagination{
    padding-left: 24px;
    margin: 90px 0 54px 0;
  }
}