.reviews-filter {
  border-radius: $defaultBorderRadius;
  background-color: rgba(34, 36, 37, 0.03);
  border: solid 1px rgba(34, 36, 37, 0.2);
  padding: 30px;
  margin-bottom: 60px;
  .fake-select {
    width: 100%;
  }
  &__btn {
    @include respond(tablet) {
      text-align: right;
    }
    @include respond(planshet) {
      margin-top: 28px;
    }
  }
  .col-xs-10{
    @include respond(phone){
      margin-bottom: 12px;
    }
  }
  .filter-button{
    @include respond(phone){
     width: 100%;
    }
  }
}