.review-one {
  margin: 45px 0 46px;
  &__name {
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 9px;
  }
  &__text {
    width: 66%;
    margin-bottom: 16px;
    @include respond(planshet) {
      width: 86%;
    }
    @include respond(phone) {
      width: 100%;
    }
  }
  &__stars {
    margin-bottom: 18px;
  }
  &__author {
    color: rgba(34, 36, 37, 0.4);
    font-size: 12px;
  }
}