.rewards-year{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  &__block{
    @include respond(tablet){
      width: 12.5%;
    }
    @include respond(planshet){
      width: 20%;
    }
    @include respond(phone){
      width: 50%;
    }

    margin-bottom: 2px;
  }
  &__date{
    color: $colorBlueLink;
    text-decoration: none;
    margin-right: 3px;
  }
  &__count{
    font-size: 12px;
    color: rgba(34, 36, 37, 0.4);
  }
}