.rewards-list {
  &__block {
    display: flex;
    flex-wrap: wrap;
    margin: 29px 0 0 0;
  }
  &__iteam {
    display: flex;
    width: 50%;
    margin-bottom: 36px;
    @include respond(phone) {
      width: 100%;
      flex-wrap: wrap;
    }
  }
  &__img {
    margin: 0 17px 0 0;
    max-width: 150px;
    @include respond(planshet) {
      margin: 0 4px 0 0;
    }
    @include respond(phone) {
      width: 100%;
    }
    img{
      max-width: 100%;
    }
    &:hover{
      cursor: pointer;
    }
  }
  &__title {
    font-size: 19px;
    font-weight: bold;
    margin: 0;
  }
  &__text {
    margin: 7px 0 0;
    @include respond(tablet) {
      margin: 28px 0 0;
    }
    a{
      color: $colorBlueLink;
      text-decoration: none;
      &:hover{
        color: $colorBlueLinkHover;
      }
    }
  }
  &__info {
    width: 60%;
    @include respond(phone) {
      width: 100%;
    }
  }
  &__year {
    font-size: 19px;
    font-weight: bold;
    border-bottom: solid 1px rgba(34, 36, 37, 0.2);
    padding-bottom: 5px;
    &--active {
      font-size: 30px;
    }
  }
}