.rewview-response{
  background-color: rgba(34, 36, 37, 0.03);
  padding: 18px 0 27px;
  margin-bottom: 60px;
  &__text{
    font-size: 19px;
    font-style: italic;
    line-height: 1.26;
    padding-left: 17px;
    margin-top: 13px;
    @include respond(phone){
      padding-left: 0;
    }
  }
}