.sections {
  display: flex;
  margin-bottom: 2px;
  flex-wrap: wrap;
  @include respond(phone) {
    width: 684px;
  }
  &__outer {
    @include respond(phone) {
      overflow-y: hidden;
      position: relative;
      margin: 0 -24px;
    }
  }
  &__iteam {
    color: $colorBlack;
    text-decoration: none;
    padding: 39px 25px 0;
    height: 300px;
    width: 228px;
    background-size: cover;
    @include respond(tablet) {
      width: 20%;
    }
    &--buy {
      background-image: url("../images/sections/buy.jpg");
    }
    &--rent {
      background-image: url("../images/sections/rent.jpg");
    }
    &--build {
      background-image: url("../images/sections/build.jpg");
    }
    &--commerce {
      background-image: url("../images/sections/commerce.jpg");
    }
    &--cotteges {
      background-image: url("../images/sections/cotteges.jpg");
    }
  }
  &__title {
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    width: 160px;
  }
}