.services-programs{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 80px;
  &__iteam{
    padding: 16px 0 0 30px;
    width: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    color: $colorBlack;
    text-decoration: none;
    min-height: 234px;
    &--client{
      background-color: #ff9273;
      background-image: url('../images/programs/cap-of-coffe.jpg');
    }
    &--bonus{
      background-color: #f8f8f8;
      background-image: url('../images/programs/cap-of-bonus.jpg');
    }
    @include respond(planshet){
      width: 572px;
      margin-bottom: 10px;
    }
    @include respond(phone){
      width: 100%;
      padding: 15px 0 0 15px;
      background-size: 100%;
      background-position: bottom;
    }
  }
  &__program{
    font-size: 19px;
    font-weight: bold;
  }
  &__name{
    font-size: 30px;
    font-weight: bold;
  }
  &__text{
    width: 50%;
    @include respond(phone){
      width: 100%;
    }
  }
}