.stolich-callback{
  .fake-select__value{
    color: $dusk-blue;
  }
  .rent__panel--sorting{
    padding: 26px 0 22px;
  }
  .top-row{
    margin-bottom: 0px;
  }
  .full-call__address{
    margin-bottom: 11px;
  }
}