.big-images {
  &__item {
    &.new-offices {
      background: url(../images/big-img/new-offices.jpg) no-repeat;
      background-size: cover;
    }
    &.small-bis {
      background: url(../images/big-img/small-bis.jpg) no-repeat;
      background-size: cover;
    }
  }
  &-item {
    &--corporate-client {
      background: url('../images/programs/corporate-client.jpg');
      background-size: cover;
      height: auto;
    }
    &--set-operation {
      background: url('../images/programs/set-operation.jpg');
      background-size: cover;
      height: auto;
    }
  }
}