.for-lessor {
  &__individual-premises {
    background: url(../images/programs/ndb-individual-premises.jpg) no-repeat;
    background-size: cover;
  }
  &__businessandshopping {
    background: url(../images/programs/ndb-businessandshopping.jpg) no-repeat;
    background-size: cover;
  }
  &__developerscommercial {
    background: url(../images/programs/ndb-developerscommercial.jpg) no-repeat;
    background-size: cover;
  }
  &__standart {
    background: url(../images/programs/ndb-standart.jpg) no-repeat;
    background-size: cover;
  }
  &__ekonom {
    background: url(../images/programs/ndb-ekonom.jpg) no-repeat;
    background-size: cover;
  }
  &__brokeridg {
    background: url(../images/programs/ndb-brokeridg.jpg) no-repeat;
    background-size: cover;
  }
  &__managment {
    background: url(../images/programs/ndb-managment.jpg) no-repeat;
    background-size: cover;
  }

  &__com {
    background: url(../images/programs/ndb-com.jpg) no-repeat;
    background-size: cover;
  }
  &__brok {
    background: url(../images/programs/ndb-brok.jpg) no-repeat;
    background-size: cover;
  }
}