.ndb-pdf {
  text-decoration: none;
  color: $colorBlack;
  display: flex;
  margin-bottom: 22px;
  &:hover{
    color: $colorBlueLinkHover;
  }
  &__img{
    margin-right: 20px;
    width: 90px;
    img{
      max-width: 100%;
    }
  }
  &__info{
    font-size: 19px;
    @include respond(phone){
      font-size: 15px;
    }
  }
  &__download{
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
  }
  &__file{
    width: 80%;
    line-height: 1.26;
  }
}