.ndb {
  .full-card__nav{
    margin-left: 96px;
  }
  .header__page-panel {
    background-color: #002F86;
  }
  .page-menu__item.active > a, .page-menu__item:hover > a {
    background-color: rgba(34, 36, 37, 0.2);
  }
  @media only screen and (max-width: 1199px) {
    .page-panel__menu {
      background: $dusk-blue;
    }
    .page-panel:after {
      background: $dusk-blue;
    }
    .header-contact__button--wrapper .white_button {
      width: auto;
      @include respond(phone){
        width: 178px;
        margin-left: -89px;
      }
    }
  }
  @include respond(planshet){
    .price-range__border{
      width: 208px;
    }
  }
  .filter-index__block-form {
    .price-range__text{
      color: $colorBlack;
    }
    @media (min-width: 1200px) {
      padding: 35px 0 35px 18px;
      .fake-select {
        width: 174px;
      }
      .filter-index__map {
        margin: 0 0 0 15px;
      }
    }
  }
}

.full-card__info-box>div:hover img{
  transform: scale(1.2);
}

.full-card__info-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  .icon{
    font-size: 28px;
  }
  .full-card__info-box__icon{
    position: absolute;
    color: #fff;
  }
  div{
    cursor: pointer;
    background-color: rgba(#333,.2);
    overflow: hidden;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 128px;
    display: flex;
    border: 2px solid #fff;
    position: relative;
    transition: all .3s ease;
    &:hover{
      border: 2px solid #2a55a4;
    }
    &.active{
      border: 2px solid #2a55a4;
      border-color: #2a55a4;
    }
    img{
      object-fit: cover;
      transition: all .3s ease;
    }
  }
}

@media screen and (max-width:768px){
  .full-card__info-box{
    display: none;
  }
}

