.programs {
  &__header {
    @include respond(planshet) {
      background-size: 150%;
      background-repeat: no-repeat;
    }
    @include respond(phone) {
      background-size: 200%;
      background-repeat: no-repeat;
    }
  }
  &__standart {
    background-image: url('../images/programs/ndb-big-standart.jpg');
    background-color: $colorLightblue;
  }
  &__econom {
    background-image: url('../images/programs/ndb-big-econom.jpg');
    background-color: $seafoam-blue;
  }
  &__brokeridj-tc {
    background-image: url('../images/programs/ndb-brok-tc.jpg');
    background-color: #b8d6e3;
  }
  &__property-tc {
    background-image: url('../images/programs/ndb-big-management.jpg');
    background-color: $seafoam-blue;
  }
  &__brokeridj-vstr {
    background-image: url('../images/programs/ndb-big-brok.jpg');
    background-color: #7da7ff;
  }
  &__concept {
    background-image: url('../images/programs/ndb-big-concept.jpg');
    background-color: #b8d6e3;
  }

  &__dlya_setevyh_operatorov {
    background-image: url('../images/programs/dlya_setevyh_operatorov.jpg');
    background-color: #a4d569;
  }
  &__rasshiraem_office {
    background-image: url('../images/programs/rasshiraem_office.jpg');
    background-color: #cdd8ef;
  }
  &__office_dlya_malogo_biznessa {
    background-image: url('../images/programs/office_dlya_malogo_biznessa.jpg');
    background-color: $seafoam-blue;
  }
  &__korporativniy_klient {
    background-image: url('../images/programs/korporativniy_klient.jpg');
    background-color: $colorLightblue;
  }
}