.promoblock {
  &__top {
    &--of-rent {
      background: $colorLightblue url('../images/programs/ndb-of-rent.jpg') no-repeat;
      @include respond(planshet) {
        background-size: contain;
        background-position: 100% 100%;
      }
    }
  }
  &__flats {
    &--spros {
      background: url("../images/programs/ndb-spros.jpg");
      background-size: cover;
    }
  }

  &__house {
    &--monitoring {
      background: url("../images/programs/ndb-monitoring.jpg");
      background-size: cover;
    }
  }
  
}