.b-advantages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 33px;
  @include respond(planshet){
    justify-content: start;
  }
  &__iteam {
    width: 208px;
    margin-bottom: 17px;
    @include respond(planshet){
      width: 33%;
    }
    @include respond(phone) {
      width: 100%;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.25;
    margin-bottom: 15px;
    @include respond(tablet) {
      min-height: 60px;
    }
  }
}