.programs__header.b-programs__dry_two{
  padding-bottom: 0px;
}
.b-programs {
  &__ravn-vozm {
    background-image: url('../images/programs/b-ravn-vozm.jpg');
    background-color: rgba(34, 36, 37, 0.03);
    @include respond(planshet) {
      background-size: 150%;
      background-repeat: no-repeat;
    }
    @include respond(phone) {
      background-size: 200%;
      background-repeat: no-repeat;
    }
  }

  &__b-kredit {
    background-image: url('../images/programs/buy-kredit.jpg');
    background-color: $colorLightblue;
    @include respond(planshet) {
      background-size: 150%;
      background-repeat: no-repeat;
    }
    @include respond(phone) {
      background-size: 200%;
      background-repeat: no-repeat;
    }
  }

  &__b-pvn {
    background-image: url('../images/programs/pvn.jpg');
    background-color: #ff9272;
    @include respond(planshet) {
      background-size: 150%;
      background-repeat: no-repeat;
    }
    @include respond(phone) {
      background-size: 200%;
      background-repeat: no-repeat;
    }
  }

  &__rash-jp {
    background-image: url('../images/programs/rash-jp.jpg');
    background-color: #dde9f2;
    @include respond(planshet) {
      background-size: 150%;
      background-repeat: no-repeat;
    }
    @include respond(phone) {
      background-size: 200%;
      background-repeat: no-repeat;
    }
  }

  &__inpeople {
    background-image: url('../images/programs/inpeople.jpg');
    background-color: #b5cdea;
    @include respond(planshet) {
      background-size: 150%;
      background-repeat: no-repeat;
    }
    @include respond(phone) {
      background-size: 200%;
      background-repeat: no-repeat;
    }
  }

  &__regions {
    background-image: url('../images/programs/regions.jpg');
    background-color: $seafoam-blue;
    @include respond(planshet) {
      background-size: 150%;
      background-repeat: no-repeat;
    }
    @include respond(phone) {
      background-size: 200%;
      background-repeat: no-repeat;
    }
  }

  &__mobile-sale {
    background-image: url('../images/programs/mobile-sale.jpg');
    background-color: #faf2cc;
    @include respond(planshet) {
      background-size: 150%;
      background-repeat: no-repeat;
    }
    @include respond(phone) {
      background-size: 200%;
      background-repeat: no-repeat;
    }
  }
  &__dry {
//    background-image: url('../images/programs/dry.jpg');
//    background-color: #ffee8e;
    @include respond(planshet) {
      background-size: 150%;
      background-repeat: no-repeat;
    }
    @include respond(phone) {
      background-size: 200%;
      background-repeat: no-repeat;
    }
  }
  &__dry_two {
    margin-bottom: 0px;
    background-position: 40%;
    .offset{
      &__10{
        margin-left: 10px;
        @include respond(planshet) {
          margin-left: 0px;
        }
      }
    }
    .new{
      &__card{
        width: 60px;
        height: 40px;
        background-color: #d13338;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1px;
        left: 0px;
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
        @include respond(phone) {
          left: 12px;
        }
      }
      &__triangle-left{
        position: absolute;
        bottom: -10px;
        left: 0px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 0 10px 50px;
        border-color: transparent transparent transparent #d13338;
      }
      &__triangle-right{
        position: absolute;
        bottom: -10px;
        right: 0px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 10px 50px 10px 0;
        border-color: transparent #d13338 transparent transparent;
      }
    }
    
    &__image{
      background-image: url('../images/programs/bg-2.jpg');
      background-size: cover;
      padding: 30px;
      padding-top: 50px;
      background-position: right;
      @include respond(planshet) {
        background: none;
        background-color: #ffee8e;
        background-repeat: no-repeat;
      }
      @include respond(phone) {
        background: none;
        background-color: #ffee8e;
        background-size: 200%;
        background-repeat: no-repeat;
      }
      .lessor__header--title{
        @include respond(planshet) {
          width: auto;
        }
        @include respond(phone) {
          width: auto;
        }
      }
    }
    
    &__image2{
      background-image: url('../images/programs/bg-3.jpg');
      background-size: cover;
      padding: 30px;
      padding-top: 50px;
      background-position: right;
      position: relative;
      @include respond(planshet) {
        background: none;
        background-color: #faf2cc;
        background-repeat: no-repeat;
      }
      @include respond(phone) {
        background: none;
        background-color: #faf2cc;
        background-size: 200%;
        background-repeat: no-repeat;
      }
      .lessor__header--title{
        @include respond(planshet) {
          width: auto;
        }
        @include respond(phone) {
          width: auto;
        }
      }
    }
    .form-dru-wrapper{
      @include respond(planshet) {
        width: 100%;
      }
    }
    &__top_form {
      padding: 30px;
      padding-top: 50px;
      max-width: 420px;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: -1px 2px 3px #3333333b;
      border-radius: 5px;
      transition: all .3s ease;
      &:hover{
        box-shadow: -1px 6px 5px #3333333b;
      }
      @include respond(planshet) {
        max-width: none;
      }
      @include respond(phone) {
        margin-top: 0px;
        margin-bottom: 20px;
        display: block;
        width: 100%;
        max-width: none;
      }
      .form-group{
        margin-top: 10px;
      }
    }
  
    .dru__button{
      text-align: center;
      color:#fff;
      padding: 10px;
      width: 100%;
      background-color: #2a55a4;
      font-size: 20px;
    }
    
    &__list{
      margin: 0;
      padding: 0;
      list-style: none;
      margin-bottom: 50px;
      margin-top: -20px;
      font-size: 19px;
      @include respond(phone) {
        margin-top: 20px;
      }
      li{
        margin-bottom: 20px;
        i{
          margin-right: 5px;
          display: inline-block;
          color: #d13338;
        }
      }
    }
  }

  &__counters {
    @include respond(tablet) {
      flex-wrap: nowrap !important;
    }

    .counters__small {
      @include respond(phone) {
        max-width: 100%;
      }
    }
  }

  &__info {
    font-size: 19px;
    margin-bottom: 40px;
  }
}

.programs{
  .sea-line{
    background: #7cd4b0;
    color: #fff;
    display: flex;
    padding: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    font-size: 30px;
    margin-bottom: 25px;
    align-items: center;
    >b{
      max-width: 550px;
    }
    @include respond(phone) {
      flex-direction: column;
    }
  }
  &__dru-specialists{
    .spec-card{
      padding: 5px 20px 65px 20px;
    }
    .card-shadow{
      box-shadow: 0px 1px 5px #c5c5c5;
      border-radius: 3px;
      margin-bottom: 15px;
      height: 98%;
      position: relative;
    }
    .newbuild-card__double{
      display: flex;
      .newbuild-card{
        &__blue{
          width: 115px;
        }
        &__grey-online{
          width: 115px;
          background: #97a8b7;
        }
      }
    }
    .newbuild-card{
      text-align: center;
      width: 100%;
      color: #fff;
      font-size: 12px;
      position: relative;
      top: -5px;
      height: 25px;
      display: flex;
      justify-content: center;
      align-items: center;
      &__green{
        background: #4c8b2b;
      }
      &__blue{
        background: #0275d8;
      }
      &__grey{
        background: #9b9b9b;
      }
    }
    .title-block{
      small{
        position: relative;
        top: -5px;
      }
    }
    .star-block{
      font-size: 12px;
      margin-bottom: 10px;
      i.icon{
        color: #ffe400;
        position: relative;
        top:1px;
      }
    }
    .obj-count a{
      color: #345591;
      font-size: 15px;
      text-decoration: none;
    }
    .button-w{
      width: 100%;
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -95px;
    }
  }
  &__dru-steps{
    width: 100%;
    background: rgba(34, 36, 37, 0.03);
    padding: 20px;
    ul{
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-around;
      @include respond(planshet) {
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 25px;
        li{
          margin-top: 15px;
        }
      }
      @include respond(phone) {
        justify-content: space-between;
        flex-wrap: wrap;
        padding-left: 25px;
        li{
          margin-top: 15px;
        }
      }
      li{
        display: inline-block;
        max-width: 187px;
        font-size: 19px;
        position: relative;
        margin-left: 25px;
        img{
          position: absolute;
          left: -60px;
          @include respond(planshet) {
            width: 20px;
            left: -44px;
          }
          @include respond(phone) {
            width: 20px;
            left: -44px;
          }
        }
      }
    }
    .arrow{
      position: absolute;
      width: 50px;
      height: 10px;
      right: -22px;
      top: 28px;
      @include respond(planshet) {
        display: none;
      }
      @include respond(phone) {
        display: none;
      }
      &__dashed-line{
        color: #d13338;
        width: 40px;
        height: 1px;
        border: 1px dashed #d13338;
      }
      &__triangle{
        color: #d13338;
        width: 0;
        height: 0;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid #d13338;
        position: absolute;
        right: 5px;
        top: -4px;
      }
    }
  }
}

.dry-advantages-two .dry-advantages__title{
  font-size: 40px;
  font-weight: 100;
}

.covid{
  &__bgimage {
    background: url('/images/programs/covid.jpg');
    background-size: cover;
  }
  &__points{
    max-width: 850px;
    margin-bottom: 50px;
  }
  &__c-title{
    margin-bottom: 10px;
    display: inline-block;
    font-size: 17px;
  }
  .organizational_concerns__iteam{
    width: 222px;
  }
  .organizational_concerns__row{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .organizational_concerns__img{
    margin: 5px 16px 0 0;
  }
  .our-advantages__blocks{
    @include respond(phone) {
      justify-content: flex-start;
    }
  }
  .our-advantages__block--width .our-advantages__img{
    margin-right: 15px;
  }
}