.drop-down-menu {
  &__lessor {
    &--application {
      background: url("../images/programs/menu-base.jpg") no-repeat right bottom $seafoam-blue;
    }

    &--kredit {
      background: url("../images/programs/menu-kredit.jpg") no-repeat right bottom $colorLightblue;
    }

    &--pvn {
      background: url("../images/programs/menu-pvn.jpg") no-repeat right bottom #ff9272;
    }

    &--region {
      background: url("../images/programs/menu-region.png") no-repeat right bottom #7cd4b0;
    }

    &--inostr {
      background: url("../images/programs/menu-inostr.jpg") no-repeat right bottom #b5cdea;
    }

    &--change {
      background: url("../images/programs/menu-change.jpg") no-repeat right bottom #ffee8e;
    }
    &--inhome {
      background: url("../images/programs/inhome.jpg") no-repeat right bottom #ACD3E4;
    }
    &--zhilpl {
      background: url("../images/programs/zhilpl.png") no-repeat right bottom #dde9f2;
    }

  }
}