.dry-advantages {
  &__iteam {
    margin: 40px 0;
    @include respond(tablet) {
      padding-right: 30px;
      width: 25%;
      &:last-child {
        padding-right: 0px;
      }
    }
  }
  &__title {
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
  }
}