.dry-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__iteam {
    color: $colorBlack;
    text-decoration: none;
    display: block;
    width: 216px;
    margin-bottom: 30px;
    &:hover {
      box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
      .dry-people__grey {
        opacity: 0.8;
        transition: opacity 0.3s, visibility 0.3s;
      }
      .dry-people__button {
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
      }
    }
  }
  &__img {
    margin-bottom: 7px;
    position: relative;
    img {
      max-width: 100%;
    }
    @include respond(phone) {
      height: 150px;
      overflow: hidden;
    }
  }
  &__name {
    font-weight: bold;
    margin-bottom: 3px;
  }
  &__label {
    position: absolute;
    bottom: 0;
    color: #ffffff;
    width: 100%;
    text-align: center;
    font-size: 12px;
    padding: 2px 0;
    &--green {
      background-color: $colorNewbuild;
    }
    &--grey {
      background-color: $colorWarmGrey;
    }
  }
  &__button {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -25%;
    margin-top: -25%;
  }
  &__grey {
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #4a4a4a;
    position: absolute;
    top: 0px;
  }
  .slider-block__header {
    margin-bottom: 30px;
  }
  .slick-arrow {
    @include respond(phone) {
      display: none !important;
    }
  }
  .review-item__rating {
    margin-top: 10px;
  }
}