.for-lessor {
  &__base {
    background: url(../images/programs/base_flats.jpg) no-repeat;
    background-size: cover;
  }

  &__move-nb {
    background: url(../images/programs/move_nebuild.jpg) no-repeat;
    background-size: cover;
  }

  &__change {
    background: url(../images/programs/change.jpg) no-repeat;
    background-size: cover;
  }

  &__calc {
    background: url(../images/programs/calc.jpg) no-repeat;
    background-size: cover;
  }

  &__buyer {
    background: url(../images/programs/chair.jpg) no-repeat;
    background-size: cover;
  }

  &__spros {
    background: url(../images/programs/spros.jpg) $seafoam-blue no-repeat;
    background-size: cover;
    @include respond(phone) {
      background-size: contain;
      background-position: 100% 100%;
    }
  }
  &__consultation {
    background: url(../images/programs/consultation.jpg) $colorLightblue no-repeat;
    background-size: cover;
    @include respond(phone) {
      background-size: contain;
      background-position: 100% 100%;
    }
  }
  &__dry {
    background: url(../images/programs/sell-dry.jpg) #ffee8e no-repeat;
    background-size: cover;
    @include respond(phone) {
      background-size: contain;
      background-position: 100% 100%;
    }
  }
  &__sale {
    background: url(../images/programs/sale.jpg) rgba(34, 36, 37, 0.03) no-repeat;
    background-size: cover;
    @include respond(phone) {
      background-size: contain;
      background-position: 100% 100%;
    }
  }
  &__ravn-vozm {
    background: url(../images/programs/ravn-vozm.jpg) rgba(34, 36, 37, 0.03) no-repeat;
    background-size: cover;
    @include respond(phone) {
      background-size: contain;
      background-position: 100% 100%;
    }
  }

  &__calc {
    background: url(../images/programs/buy-calc.jpg) $seafoam-blue no-repeat;
    background-size: cover;
    @include respond(phone) {
      background-size: contain;
      background-position: 100% 100%;
    }
  }

  &__program-sale {
    background: url(../images/programs/buy-programs.jpg) #ffee8e no-repeat;
    background-size: cover;
    @include respond(phone) {
      background-size: contain;
      background-position: 100% 100%;
    }
  }

  &__counters {
    padding-top: 15px;
    padding-bottom: 30px;
    @include respond(phone) {
      display: block;
      padding-bottom: 0px;
      li {
        display: flex;
        margin-bottom: 37px;
        align-items: center;
        flex-wrap: wrap;
      }
    }
  }
}