.organizational_concerns {
  margin-bottom: 43px;

  &__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 13px;
  }

  &__text {
    margin-bottom: 33px;
  }

  &__iteam {
    display: flex;
    width: 180px;
    align-items: start;
    margin-bottom: 17px;
    @include respond(planshet) {
      width: 33%;
    }
    @include respond(phone) {
      width: 100%;
    }
  }

  &__img {
    margin: 5px 10px 0 0;
    width: 90px;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @include respond(planshet) {
      justify-content: start;
    }
  }

  &__btn {
    margin-top: 10px;
    @include respond(tablet) {
      margin-top: 0px;
    }
  }
}