.programs-slider{
  &__iteam{
    width: 256px;
    margin: 0 13px 0;
    border: solid 1px #d8d8d8;
    display: inline-block;
    text-decoration: none;
    &:hover{
      box-shadow: 0 5px 8px 0 rgba(177, 176, 176, 0.5);
    }
  }
  &__info{
    padding: 14px 14px 27px 14px;
  }
  &__title{
    color: #676767;
    margin-bottom: 5px;
  }
  &__name{
    font-weight: bold;
    font-size: 18px;
    color: #000000;
  }
  &__description{
    color: #3b3c3e;
    font-size: 14px;
  }
}