.promoblock {
  &__top {
    &--pk {
      background: $colorLightblue url('../images/programs/buy-pk-main.jpg') no-repeat;
      @include respond(planshet) {
        background-size: contain;
        background-position: 100% 100%;
      }
    }
  }

  &__flats {
    &--move-build {
      background: url("../images/programs/buy-move-build.jpg") #ff9272 no-repeat;
      @include respond(planshet) {
        background-size: contain;
        background-position: 100% 100%;
      }
      @include respond(phone) {
        background-size: contain;
        background-position: 100% 100%;
      }

    }
  }

  &__house {
    &--spros {
      background: url('../images/programs/buy-main-spros.jpg') $seafoam-blue no-repeat;
      @include respond(planshet) {
        background-size: contain;
        background-position: 100% 100%;
      }
      @include respond(phone) {
        background-size: contain;
        background-position: 100% 100%;
      }
    }
  }

  &__w-one {
    &--kredit {
      background: url("../images/programs/buy-pk.jpg") $colorLightblue no-repeat;
      @include respond(planshet) {
        background-size: contain;
        background-position: 100% 100%;
      }
      @include respond(phone) {
        background-size: contain;
        background-position: 100% 100%;
      }
    }
  }

  &__w-two{
    &--dry {
      background: url("../images/programs/index-dry.jpg") #ffee8e no-repeat;
      @include respond(planshet) {
        background-size: contain;
        background-position: 100% 100%;
      }
      @include respond(phone) {
        background-size: contain;
        background-position: 100% 100%;
      }
    }
  }
}