.d-flex {
	display: flex;
}
.pos {
	position: relative;
	height: 100px;
	align-items: center;
}
.pr-0 {
	padding-right: 0;
}
.py-1 {
	padding: 10px 0;
}
.align-items-center {
	align-items: center;
}
.subsend {
	background: #f8f8f8;
	padding: 20px 30px;
	border-radius: 5px;
	margin: 0 0 40px 0;
	font-weight: normal;
}
.agentsend {
	background-color: #f8f8f8;
	align-items: center;
	margin: 50px 0 100px 0;
	&__agentimagebc {
		height: 100px;
		width: 100px;
		background-size: 120px!important;
		background-position: top!important;
		border-radius: 50%;
	}
	&__agentname {
		font-size: 24px;
		font-weight: bold;
		margin: 0;
		padding: 0;
	}
	&__agentsub {
		position: absolute;
		top: 15px;
	}
}
.contact-department__soc-seti a {
	text-decoration: none;
}
.contact-department__soc-seti i {
	margin-right: 10px;
}
@media (max-width: 1199px) {
	.md-hide {
		display: none;
	}
}
