.contact-department{
  margin: 0 0 56px 0;
  @media (max-width: 767px){
    margin: 19px 0 25px 0;
  }
  &__head{
    margin: 0 0 44px 0;
    @media (max-width: 767px){
      margin: 0 0 20px 0;
    }
  }
  &__phone{
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1;
    margin-bottom: 12px;
    @media (max-width: 767px){
      font-size: 30px;
    }
  }
  &__soc-seti{
    a{
      color: #2a55a4;
      text-decoration: none;
      margin: 0 17px 0 0;
      position: relative;
      padding-left: 21px;
      font-size: 19px;
      @media (max-width: 767px){
        display: block;
        margin: 0 0 8px 0;
      }
      @media (min-width: 768px) and (max-width: 1199px){
        display: inline-block;
      }
      i{
        margin-right: 6px;
        position: absolute;
        left: 0;
        top: 5px;
        font-size: 16px;
        color: #2a55a4;
      }
    }
  }
  &__time-work{
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 4px 0;
  }
  &__day-work{
    font-size: 15px;
    @media only screen and (max-width: 1199px) {
      margin: 0 0 18px 0;
    }
  }
  &__description{
    font-size: 15px;
  }
  &__wekend{
    margin: 13px 0 25px;
    font-size: 12px;
    @media (max-width: 767px){
      margin: 0 0 20px 0;
    }
  }
  &__addr{
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  &__more{
    margin: 13px 0 0;
    font-size: 15px;
    color: #345591;
    text-decoration: none;
    display: block;
  }
  &__map{
    height: 222px;
    @media (max-width: 1199px){
      margin: 0 0 28px;
    }
  }
  &__title{
    line-height: 1;
    margin: 6px 0 50px;
    @media (max-width: 767px){
      margin: 20px 0 28px;
    }
    @include respond(planshet){
      margin: 6px 0 20px;
    }
  }
}