.contact-list {
  margin: 0 0 60px 0;
  &__filial {
    font-size: 15px;
    font-weight: bold;
    @media (max-width: 767px) {
      margin: 0 0 10px 0;
    }
  }
  &__row{
    padding: 10px 0 0 6px;
    border-top: solid 1px rgba(34, 36, 37, 0.2);
    display: block;
    color: $colorBlack;
    text-decoration: none;
    &:last-child{
      border-bottom: solid 1px rgba(34, 36, 37, 0.2);
    }
    &:hover{
      background-color: rgba(34, 36, 37, 0.03);
      .contact-list__circle-outer{
        background-color: #ac1416;
        color: #ac1416;
      }
    }
  }

  &__iteam{
    font-size: 15px;
    margin-bottom: 5px;
  }
  &__link{
    font-size: 15px;
    color: #345591;
    display: block;
    margin-bottom: 10px;
  }
  &__title{
    font-size: 30px;
    font-weight: bold;
    @media (max-width: 767px) {
      margin: 0 0 30px;
    }
  }
  &__header{
    margin: 0 0 45px 0;
  }
  &__direction{
    min-height: 51px;
  }
  &__circle-outer{
    background: #2a55a4;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2a55a4;
  }
  &__circle-inner{
    background-color: #ffffff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  &__ul{
    list-style: none;
    padding: 0;
    margin: 0;
    @media (min-width: 768px) and (max-width: 1199px){
      margin: 28px 0 0;
    }
  }
  &__col{
    padding-left: 6px;
    padding-right: 6px;
  }
  &__line{
    @media (max-width: 767px) {
      margin: 0 0 20px 0;
    }
  }
  &__name{
    @media (min-width: 768px) and (max-width: 1199px){
      width: 27%;
    }
    @media (min-width: 1200px) {
      width: 20%;
    }
  }
  &__addr{
    @media (min-width: 768px) and (max-width: 1199px){
      width: 28%;
    }
    @media (min-width: 1200px) {
      width: 20%;
    }
  }
  &__phone{
    @media (max-width: 767px){
      width: 60%;
    }
    @media (min-width: 768px) and (max-width: 1199px){
      width: 25%;
    }
    @media (min-width: 1200px) {
      width: 40%;
    }
  }
  &__mail {
    @media (max-width: 767px){
      width: 40%;
    }
    @media (min-width: 768px) and (max-width: 1199px){
      width: 20%;
    }
    @media (min-width: 1200px) {
      width: 20%;
    }
  }
  &__area-addr{
    @media (max-width: 767px){
      width: 100%;
    }
    @media (min-width: 768px) and (max-width: 1199px){
      width: 38%;
    }
    @media (min-width: 1200px) {
      width: 25%;
    }
  }
  &__area-phone{
    @media (max-width: 767px){
      width: 60%;
    }
    @media (min-width: 768px) and (max-width: 1199px){
      width: 36%;
    }
    @media (min-width: 1200px) {
      width: 50%;
    }
  }
  &__area-mail{
    @media (max-width: 767px){
      width: 40%;
    }
    @media (min-width: 768px) and (max-width: 1199px){
      width: 26%;
    }
    @media (min-width: 1200px) {
      width: 25%;
    }
  }
  &__col-one{
    @media (min-width: 768px) and (max-width: 1199px){
      width: 45%;
    }
  }
  &__col-two{
    @media (min-width: 768px) and (max-width: 1199px){
      width: 55%;
    }
  }
  @media (max-width: 767px){
    .input-checkbox-block {
      flex-wrap: wrap;
    }
    .input-checkbox-block__block-line {
      width: 100%;
      flex: none;
      border-left: none;
    }
  }
}