.contact-people {
  &__quote {
    width: 290px;
    font-size: 15px;
    position: relative;
    padding: 0 41px;
    &:before {
      content: '„';
      font-size: 96px;
      position: absolute;
      top: 0;
      left: 0;
    }
    @media (max-width: 767px) {
      margin: 0 0 25px 0;
    }
  }
  &__quote-author {
    font-size: 12px;
    color: rgba(34, 36, 37, 0.4);
  }
  &__manager {
    width: 204px;
    font-size: 19px;
    &--right {
      float: right;
    }
  }
  &__manager-img {
    img {
      border-radius: $defaultBorderRadius;
      max-width: 100%;
    }
  }
  &__manager-name {
    font-weight: bold;
  }
  &__manager-position {
    line-height: 1.26;
  }
  &__manager-mail {
    color: #2a55a4;
  }
  &__manager-block {
    flex: 2;
    @include respond(phone){
      margin-bottom: 20px;
    }
  }
  &__img {
    background: red;
  }
  .personal__item {
    margin: 0 0 25px 0;
    display: flex;
    @media (max-width: 340px) {
      width: 50%;
    }
  }
  &__row {
    @media (min-width: 1200px) {
      margin-left: 14px;
    }

  }
}