.contact-department {
  margin: 0 0 56px 0; }
  .contact-department__head {
    margin: 0 0 69px 0; }
  .contact-department__phone {
    font-size: 48px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25; }
  .contact-department__soc-seti {
    margin: 10px 0 0; }
    .contact-department__soc-seti a {
      color: #2a55a4;
      text-decoration: none;
      margin: 0 20px 0 0;
      position: relative;
      padding-left: 21px; }
      .contact-department__soc-seti a i {
        margin-right: 6px;
        position: absolute;
        left: 0;
        top: 2px;
        font-size: 16px;
        color: #2a55a4; }
  .contact-department__time-work {
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 4px 0; }
  .contact-department__day-work {
    font-size: 15px; }
  .contact-department__description {
    font-size: 15px; }
  .contact-department__wekend {
    margin: 13px 0 0;
    font-size: 12px; }
  .contact-department__addr {
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 10px 0; }
  .contact-department__more {
    margin: 13px 0 0;
    font-size: 15px;
    color: #345591;
    text-decoration: none;
    display: block; }

/*# sourceMappingURL=contact-department.css.map */
