.contact-buy{
  height: 100%;
  border-right: solid 1px rgba(34, 36, 37, 0.2);
  margin-right: 28px;
  &__list{
    list-style: none;
    margin: 0 -2px 0 0;
    padding: 0;
    a{
      color: #2a55a4;
      text-decoration: none;
      font-size: 19px;
    }
    li{
      margin: 0 0 25px 0;
    }
  }
  &__li{
    &--active{
      font-size: 19px;
      font-weight: bold;
      border-right: 3px solid #222425;
      a{
        color: $colorBlack;
      }
    }
  }
  &__select{
    @media (min-width: 768px){
      display: none;
    }
    .fake-select{
      width: 100%;
      margin: 0 0 28px 0;
    }
  }
}