.getto{
  border-radius: $defaultBorderRadius;
  background-color: #ffffff;
  border: solid 1px rgba(34, 36, 37, 0.2);
  padding: 16px 0 37px 31px;
  min-height: 222px;
  @media (max-width: 767px){
    padding: 16px 16px 37px 19px;
  }
  &__title{
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 14px 0;
  }
  &__transport{
    list-style: none;
    padding: 0;
    margin: 0 0 14px;
    font-size: 15px;
    li{
      position: relative;
      margin: 0 0 7px 0;
      padding-left: 19px;
    }
    i{
      position: absolute;
      left: 0;
      top: 4px;
    }
    .icon-metro{
      top: 6px;
    }
  }
}