.header-big{
  margin: 2px 0 54px 0;
  background-color: #ffe400;
  @media (max-width: 767px) {
    padding: 12px 0 30px 27px;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    padding: 35px 0 67px 27px;
  }
  @media (min-width: 1200px) {
    padding: 32px 0 70px 30px;
  }

  &__phone-number{
    font-size: 104px;
    letter-spacing: -3px;
    line-height: 0.74;
    margin: 0 16px 0 0;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
  }
  &__phone-time{
    @media (max-width: 767px) {
      margin: 0 0 16px 0;
    }
    @media (max-width: 1199px) {
      font-size: 15px;
    }
    font-size: 19px;
  }
  &__time{
    @media (max-width: 1199px) {
      font-size: 15px;
    }
    font-size: 19px;
    line-height: 1.26;
  }
  &__phone{
    @media (max-width: 767px) {
      margin: 30px 0 24px;
    }
    @media (max-width: 1199px) {
      font-size: 19px;
    }
    font-size: 30px;
    font-weight: bold;
    display: flex;
  }
  &__phone-long{
    @media (max-width: 767px) {
      margin: 9px 0 24px;
    }
    @media (max-width: 1199px) {
      font-size: 19px;
    }
    font-size: 30px;
    font-weight: bold;
    display: flex;
  }
  &__time-work{
    @media (max-width: 1199px) {
      font-size: 19px;
    }
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 7px 0;
  }
  &__day-work{
    @media (max-width: 1199px) {
      font-size: 15px;
    }
    font-size: 19px;
    line-height: 1.26;
  }
  &__phone-icon{
    padding: 0;
    margin: 0;
    list-style: none;
    li{
      font-size: 24px;
      padding: 0;
      height: 24px;
      margin: 0 0 3px 0;
    }
  }
}