.header-big {
  margin: 2px 0 54px 0;
  background-color: #ffe400; }
  @media (max-width: 767px) {
    .header-big {
      padding: 12px 0 20px 10px; } }
  @media (min-width: 768px) and (max-width: 1199px) {
    .header-big {
      padding: 12px 0 20px 10px; } }
  @media (min-width: 1200px) {
    .header-big {
      padding: 32px 0 70px 30px; } }
  .header-big__phone-number {
    font-size: 104px;
    letter-spacing: -3px;
    line-height: 0.74;
    margin: 0 16px 0 0;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal; }
    @media (max-width: 1199px) {
      .header-big__phone-number {
        font-size: 70px; } }
  .header-big__phone-time {
    font-size: 19px;
    margin-top: 10px; }
    @media (max-width: 1199px) {
      .header-big__phone-time {
        font-size: 14px; } }
  .header-big__time {
    font-size: 19px; }
    @media (max-width: 1199px) {
      .header-big__time {
        font-size: 14px; } }
  .header-big__phone {
    font-size: 30px;
    font-weight: bold;
    display: flex; }
    @media (max-width: 1199px) {
      .header-big__phone {
        font-size: 24px; } }
  .header-big__time-work {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 9px 0; }
    @media (max-width: 1199px) {
      .header-big__time-work {
        font-size: 24px; } }
  .header-big__day-work {
    font-size: 19px; }
    @media (max-width: 1199px) {
      .header-big__day-work {
        font-size: 14px; } }
  .header-big__phone-icon {
    padding: 0;
    margin: 0;
    list-style: none; }
    .header-big__phone-icon li {
      font-size: 24px;
      padding: 0;
      height: 24px;
      margin: 0 0 3px 0; }

/*# sourceMappingURL=header-big.css.map */
