.office {
  &__h1 {
    margin: 1px 0 24px;
    @media (max-width: 767px) {
      margin: 19px 0 19px;
    }
  }
  &__line {
    margin: 0 0 37px 0;
  }
  &__photo {
    margin: 0 0 33px 0;
  }
  &__line-business {
    font-size: 15px;
    font-weight: bold;
    margin: 0 13px 0 0;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &__line-href {
    font-size: 15px;
    color: #345591;
    text-decoration: none;
    margin: 0 14px 0 0;
    @media (max-width: 767px) {
      margin: 0 10px 0 0;
    }
  }
  &__map {
    height: 240px;
    width: 100%;
    margin: 0 0 7px 0;
  }
  &__addr {
    margin: 0 0 20px 0;
  }
  &__description {
    font-size: 15px;
    margin: 0 0 62px 0;
    @media (min-width: 768px) and (max-width: 1199px) {
      margin: 0 0 32px 0;
    }
  }
  &__info {
    margin: 0 0 33px 0;
  }

  &__tabs {
    list-style: none;
    margin: 0 0 39px 0;
    padding: 0;
    border-bottom: solid 1px rgba(34, 36, 37, 0.2);
    li {
      display: inline-block;
      font-size: 19px;
      font-weight: bold;
      margin: 0 27px 0 0;
      color: #2a55a4;
      cursor: pointer;
      &.active {
        color: $colorBlack;
        border-bottom: 3px solid $colorBlack;
        padding: 0 0 13px 0;
        margin-bottom: -2px;
        @media (max-width: 767px) {
          margin-bottom: 11px;
        }
      }
    }
  }
}