.application-rent {
  @media (max-width: 767px) {
    width: 100%;
    margin: 0;
    left: 0;
    padding: 47px 10px 10px 10px;
  }
  @media (min-width: 768px) {
    padding: 50px 84px 76px 72px;
    width: 546px;
    margin: 0 0 0 -273px;
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 17px 0;
    line-height: 1;
  }
  &__checkbox {
    position: relative;
    display: flex;
    height: 48px;
    line-height: 1.26;
    padding: 4px 0;
    &--one-row {
      height: auto;
      .fake-select__checkbox-label {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 33px;
      }
      .fake-select__checkbox:not(checked) + label:before {
        left: 0;
      }
    }
    a {
      color: $colorBlueLink;
      &:hover {
        color: $colorBlueLink;
      }
    }
  }

  &__rooms {
    width: 174px;

  }
  &__rooms-label {
    margin: 0 0 0 11px;
    font-size: 19px;
  }
  &__rooms-row {
    display: flex;
    align-items: baseline;
    @include respond(phone) {
      .price-range__border {
        order: inherit;
        display: flex;
      }
      .price-range__min {
        border-radius: 0;
        border-right: 0;
        border-bottom-left-radius: $defaultBorderRadius;
        border-top-left-radius: $defaultBorderRadius;
      }
      .price-range__max {
        border-radius: 0;
        border-bottom-right-radius: $defaultBorderRadius;
        border-top-right-radius: $defaultBorderRadius;
      }
    }
  }
  &__row {
    margin-bottom: 29px;
  }
  &__district {
    width: 100%;
  }
  &__label {
    font-size: 19px;
    font-weight: bold;
    margin: 25px 0 25px 0;
  }
  &__rooms-list {
    .input-checkbox-block__block-line:first-child {
      flex: 2;
    }
  }
  &__file {
    border-radius: $defaultBorderRadius;
    background-color: #ffffff;
    border: solid 1px rgba(34, 36, 37, 0.2);
    display: inline-block;
    color: $colorBlack;
    text-decoration: none;
    padding: 0 16px;
    height: 48px;
    line-height: 44px;
    font-size: 19px;
  }
  &__file-text {
    font-size: 12px;
    line-height: 1.5;
    display: inline-block;
    width: 45%;
    margin-left: 19px;
    vertical-align: top;
  }
  &__result {
    background-color: rgba(34, 36, 37, 0.03);
    padding: 15px 30px;
    margin: 30px 0 60px 0;
  }
  &__result-treaty {
    font-size: 19px;
  }
  &__result-addr {
    font-size: 19px;
  }
  &__result-price {
    font-size: 30px;
    font-weight: bold;
  }
}