.application {
  @media (max-width: 767px) {
    width: 100%;
    margin: 0;
    left: 0;
    padding: 10px;
  }
  @media (min-width: 768px) and (max-width: 1199px){
    padding: 50px 30px 52px 30px;
  }
  @media (min-width: 1200px) {
    padding: 50px 84px 76px 72px;
    width: 708px;
    margin: 0px 0 0 -354px;
  }
  &__header{
    margin: 0 0 60px 0;
    @media (max-width: 767px) {
      margin: 0 0 20px 0;
    }
  }
  &__title{
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 7px 0;
  }
  &__price-rub{
    font-size: 19px;
    margin: 0 0 10px 0;
  }
  &__price-usd{
    color: rgba(34, 36, 37, 0.4);
    font-size: 12px;
  }
  &__img{
    max-width: 100%;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__btn{
    width: 100%;
  }
  &__block-input{
    padding: 0 80px 0 0;
    @include respond(phone){
      padding: 0px;
    }
  }
  &__text{
    font-size: 15px;
    margin: 11px 0 0;
  }
  &__input-text{
    margin: 0 0 20px 0;
  }
  &__add-services{
    text-decoration: none;
    color: $colorBlueLink;
  }
  &__credit{
    border-radius: 5px;
    border: solid 1px rgba(34,36,37,0.2);
    background-color: rgba(34,36,37,0.03);
    margin-top: 20px;
    width: 100%;
    padding: 30px 0 38px 31px;
    @include respond(phone){
      padding: 10px;
    }
  }
}