.list_item {
  border-bottom: solid 1px rgba(34, 36, 37, 0.2);
  padding: 10px 0; }

.baloon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 480px; }

.baloon {
  text-decoration: none;
  color: #222425; }
  .baloon__img {
    width: 132px; }
  .baloon__img img {
    max-width: 100%; }
  .baloon__price {
    text-align: right; }
  .baloon__pricebyn {
    font-weight: bold; }
  .baloon__name {
    font-weight: bold; }

/*# sourceMappingURL=baloon.css.map */
