.list_item {
  border-bottom: solid 1px rgba(34, 36, 37, 0.2);
  padding: 10px 0;
}

.baloon-list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 480px;
}

.baloon {
  text-decoration: none;
  color: #222425;
  &__img img {
    max-width: 100%;
  }
  &__price {
    text-align: right;
  }
  &__pricebyn {
    font-weight: bold;
  }
  &__name {
    font-weight: bold;
  }
}




