.banner {
  padding: 20px 24px;
  margin-bottom: 40px;

  .row {
    justify-content: space-between;
  }

  &--red {
    background-color: #ff6a7e;
  }

  &--green {
    background-color: $seafoam-blue;
  }

  &--blue{
    background-color: #65c9e9;
  }

  &__block-btn {
    @include respond(tablet){
      float: right;
    }
  }

  &__text {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    @include respond(tablet){
      line-height: 1.4;
    }
    @include respond(phone){
      margin-bottom: 20px;
    }
  }
}