.button {
  display: inline-block;
  border-radius: 5px;
  border: 2px solid transparent;
  text-decoration: none;
  text-align: center;
  position: relative;
  transition: all ease-in 0.15s;
  white-space: nowrap;
  cursor: pointer;
  &--small {
    height: 36px;
    line-height: 34px;
    font-size: 15px;
    padding-left: 15px;
    padding-right: 15px;
  }
  &--big {
    height: 48px;
    line-height: 40px;
    font-size: 20px;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
  }
  &--medium {
    height: 48px;
    line-height: 48px;
    font-size: 19px;
    padding-left: 25px;
    padding-right: 25px;
  }
  &--img {
    padding-left: 45px;
    .icon {
      position: absolute;
      left: 20px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  &--blue {
    background-color: #2a55a4;
    color: #fff;
    &:hover {
      background-color: #154090;
    }
    &:focus {
      background-color: #2a55a4;
      border: solid 2px #002f86;
    }
    &:active {
      background-color: #154090;
      box-shadow: inset 0 1px 3px 0 #222425;
    }
  }

  &--yellow {
    background-color: #ffe400;
    color: #222425;
    &:hover {
      background-color: #efd70d;
    }
    &:focus {
      background-color: #efd70d;
      border: solid 2px #efd70d;
    }
    &:active {
      background-color: #efd70d;
      box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5);
    }
  }
  &--white {
    background-color: #ffffff;
    color: $colorBlack;
    border: solid 1px rgba(34, 36, 37, 0.2);
    &:hover {
      background-color: #f8f8f8;
      border: solid 1px rgba(34, 36, 37, 0.2);
    }
    &:focus {
      background-color: #ffffff;
      border: solid 1px rgba(34, 36, 37, 0.2);
    }
    &:active {
      background-color: #f8f8f8;
      box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      border: solid 1px rgba(34, 36, 37, 0.2);
    }
  }
}