.drop-down-menu {
  @media (max-width: 1199px) {
    display: none;
  }
  @media (min-width: 1200px) {
    box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
    width: 100%;
    position: absolute;
    z-index: 11;
    background-color: #ffffff;
    left: 0;
    right: 0;
    padding: 22px 20px 50px 23px;
    transform: scaleY(0);
    transform-origin: left top;
    opacity: 0;
    transition: all ease-in 0.15s;

    &__count-flats {
      font-size: 19px;
      font-weight: bold;
      margin: 0 0 21px 0;
      a {
        color: $colorBlack;
        text-decoration: none;
      }
    }
    &__title {
      color: rgba(34, 36, 37, 0.4);
      font-size: 12px;
      margin: 0 0 10px 0;
      height: 16px;
    }
    &__list {
      margin: 0 15px 0 0;
      padding: 0;
      list-style: none;
      display: inline-block;
      vertical-align: top;
    }
    &__list-li {
      font-size: 15px;
      margin: 0 0 10px 0;
      a {
        color: #222425;
        text-decoration: none;
        &:hover {
          color: #1358d8;
        }
      }
      span {
        font-size: 12px;
        color: rgba(34, 36, 37, 0.4);
        margin-left: 5px;
      }
    }
    &__lessor {
      height: 150px;
      font-size: 19px;
      font-weight: bold;
      padding: 10px 37px 0 18px;
      display: block;
      text-decoration: none;
      color: $colorBlack;
      &--rent {
        background: url("../images/programs/aaron-burden.png") no-repeat right bottom #65c9e9;
      }
      &--time {
        background: url("../images/programs/clock-menu.png") no-repeat right bottom #7cd4b0;
      }
      &--online {
        border: solid 1px rgba(34, 36, 37, 0.2);
        background: url("../images/pay-cards/card.png") no-repeat 80% 85% rgba(34, 36, 37, 0.03);
      }
      &--halva {
        background: url("../images/pay-cards/halva.png") no-repeat 80% 85% rgba(34, 36, 37, 0.03);
        border: solid 1px rgba(34, 36, 37, 0.2);
      }
      &--corporate {
        background: url("../images/programs/arenda-1.png") no-repeat;
        background-size: cover;
      }
      &--eurogames {
        background: url("../images/programs/arenda-2.png") no-repeat;
        background-size: cover;
      }
      &--analyt-flats {
        background: url("../images/programs/analyt-1.jpg") no-repeat;
        background-size: cover;
      }
      &--analyt-rent {
        background: url("../images/programs/analyt-2.jpg") no-repeat;
        background-size: cover;
      }
      &--analyt-cotteges {
        background: url("../images/programs/analyt-3.jpg") no-repeat;
        background-size: cover;
      }
      &--analyt-nb {
        background: url("../images/programs/analyt-4.jpg") no-repeat;
        background-size: cover;
      }
      &--analyt-commerce {
        background: url("../images/programs/analyt-5.jpg") no-repeat;
        background-size: cover;
      }
      &--viber {
        background: url("../images/programs/viber-menu.jpg") no-repeat;
        background-size: cover;
      }
      &:hover {
        -webkit-box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
        box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
      }
    }
    &__lessor-title {
      font-size: 19px;
      font-weight: bold;
      color: #222425;
      text-decoration: none;
      display: block;
      margin: 0 0 9px 0;
      &:hover {
        color: #1358d8;
      }
    }
    &__lessor-link {
      display: block;
      font-size: 15px;
      color: #222425;
      text-decoration: none;
      &:hover {
        color: #1358d8;
      }
    }
  }
}