.input {
  &__text {
    border: solid 1px rgba(34, 36, 37, 0.2);
    border-radius: $defaultBorderRadius;
    height: 48px;
    padding: 0 12px;
    position: relative;
    width: 100%;
    outline: 0;
    z-index: 2;
    background: transparent;
    &--textarea {
      padding: 12px;
      max-width: 100%;
      min-height: 130px;
    }
  }

  &__text--sm {
    height: 36px;
  }

  &__text-label {
    touch-action: manipulation;
    position: absolute;
    left: 0;
    top: 12px;
    color: #999;
    background-color: #fff;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    margin-left: 12px;
    z-index: 1;
  }
  &__text-label--sm {
    top: 8px;
  }
  &__block-text {
    position: relative;
    background-color: #ffffff;
    border-radius: 5px;
  }
  &__block-select {
    .fake-select {
      width: 100%;
    }
  }
}

.focused {
  .input__text-label {
    transform: translateY(-115%);
    font-size: 12px;
    color: $colorBlack;
    z-index: 3;
  }
  .input__text {
    border: solid 1px rgba(34, 36, 37, 0.4);
  }
}

.has-error {
  .input__text {
    border: solid 1px #d13338;
  }
  .input__text-label {
    color: #d13338;
  }
  .fake-select__value {
    border-color: #d13338;
  }
}
