.input-checkbox-block {
  border-radius: $defaultBorderRadius;
  border: solid 1px rgba(34, 36, 37, 0.2);
  display: flex;
  &__checkbox {
    display: none;
    &:not(checked) + label {
      background-color: #ffffff;
    }
    &:checked + label {
      background-color: rgba(34, 36, 37, 0.03);
      font-weight: bold;
    }
  }

  &__checkbox-label {
    font-size: 19px;
    padding: 8px 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 100%;

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__checkbox-label--sm {
    font-size: 15px;
    padding: 8px 0 16px;
    display: inline-block;
    width: 100%;
    text-align: center;
    height: 34px;

    &:disabled {
      opacity: 0.5;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__block-line {
    flex: auto;
    border-left: solid 1px rgba(34, 36, 37, 0.2);
    &:first-child {
      border-left: none;

      .input-checkbox-block__checkbox-label, .input-checkbox-block__checkbox-label--sm {
        border-top-left-radius: $defaultBorderRadius;
        border-bottom-left-radius: $defaultBorderRadius;
      }
    }

    &:last-child {
      .input-checkbox-block__checkbox-label, .input-checkbox-block__checkbox-label--sm {
        border-top-right-radius: $defaultBorderRadius;
        border-bottom-right-radius: $defaultBorderRadius;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }
}