.location{
  @media (max-width: 767px) {
    width: 100%;
    margin: 0;
    left: 0;
  }
  @media (min-width: 1200px) {
    width: 1080px;
    margin: 0px 0 0 -540px;
  }
  &__body{
    @media (min-width: 768px) {
      padding: 0 48px 58px 30px;
    }
  }
  &__col{
    padding: 28px 30px;
    background-color: rgba(34, 36, 37, 0.03);
    @media (min-width: 1200px){
      margin: 0 30px 0 0;
    }
    &:last-child{
      margin: 0;
    }
    &--district{
      @media (max-width: 767px) {
        width: 100%;
      }
      @media (min-width: 768px) and (max-width: 1199px) {
        width: 45%;
      }
      width: 17%;
    }
    &--sub-district{
      @media (max-width: 767px) {
        width: 100%;
      }
      @media (min-width: 768px) and (max-width: 1199px) {
        width: 45%;
      }
      width: 31%;
    }
    &--metro{
      @media (max-width: 1199px) {
        width: 100%;
      }
      width: 45%;
    }
  }
  &__row{
    display: flex;
    justify-content: space-between;
    margin: 42px 0 30px 0;
    @media (max-width: 1199px) {
      flex-wrap: wrap;
    }
  }
  &__title{
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 13px 0;
  }
  &__list{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__list-metro{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 44%;
    vertical-align: top;
    &:nth-child(2){
      margin: 0 0 0 39px;
      @media (max-width: 767px) {
        margin: 0;
      }
    }

  }
  &__checkbox-list{
    margin: 0 0 12px 0;
    label{
      cursor: pointer;
    }
  }
  &__checkbox{
    display: none;
    &:not(checked) + label{
      font-size: 19px;
      border-bottom: dotted 2px #2a55a4;
      color:#2a55a4;
    }
    &:checked + label{
      font-size: 19px;
      color: $colorBlack;
      border: none;
    }
  }
  .fake-select{
    width: 100%;
  }
  &__all-subdistrict{
    margin: 26px 0 30px;
  }
  &__any{
    margin: 25px 0 32px;
  }
  &__all-line{
    margin: 0 0 29px 0;
  }

  &__line-metro{
    margin: 0 0 22px 0;
  }

  &__input{
    border-radius: $defaultBorderRadius;
    border: solid 1px rgba(34, 36, 37, 0.2);
    width: 100%;
    padding: 0 12px;
  }
  &__block-btn{
    text-align: right;
    @media (max-width: 767px) {
      margin: 20px 0 0;
      text-align: left;
    }
  }
  &__checkbox-label{
    &.disabled{
      color: #222425;
      opacity: 0.5;
      border: none;
    }
  }
}

.small_button_flex{
  width: 27px;
  height: 20px;
  border-radius: 3px;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}


.quality_king{
  background-color: #f8ce1c;
}

.active_master{
  background-color: #4a90e2;
}

.container_small_button{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
