.obmen{
  .base-obmen{
    font-size: 19px;
  }
  .obmen-text{
    max-width: 350px;
  }
  .spros-filter-obmen{
    margin-bottom: 10px;
  }
  .flex-end{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 10px;
  }
  .r-close{
    a.close-href{
      height: 20px;
      display: inline-block;
      position: relative;
      height: 48px;
      color: #345591;
      position: relative;
      top: 7px;
      margin-left: 15px;
    }
    .close-icon{
      position: relative;
      top: 10px;
      font-size: 24px;
      color: #345591;
      margin-left: 10px;
    }
  }
  .selectize-control.location__input{
    background-color: #fff;
  }
  .obmen_image{
    width: 100%;
    height: 64px;
    object-fit: cover;
  }
  .obmen_link{
    color: #345591;
  }
}