.seo-blok {
  height: 300px;
  overflow: hidden;
  position: relative;
  color: #3c3c3e;
  margin-bottom: 30px;

  a {
    color: #2a55a4;
    text-decoration: none;
  }
  &:after{
    content: "";
    display: block;
    height: 40px;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0),#fff 75%);
    width: 100%;
  }
}