.ux-soclike{
  position:relative;
}
.ux-soclike:hover{
  color:#4e5051;

}
.ux-soclike-link {
  display: none;
  position: absolute;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(98,98,98,.5);
  padding: 5px 10px;
  width: 45px;
  top: -8px;
  left: 94px;
  z-index:100;
}
#ux-soclike-link-rent-detail a{
  margin-left: 0px;
}
#ux-soclike-link-rent-detail .ya-share2__item {
  margin: 0px 4px 2px 0;
}
.ux-soclike-link-active {
  display: block;
  color:#4e5051;
}
.ux-favorite-active{
  color: #222425 !important;
}