.payment-popup{
  &__spec{
    font-size: 15px;
    margin: 0 0 0 9px;
  }
  &__text{
    font-size: 15px;
  }
  &__logo{
    margin: 70px 0 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}