.payment-popup__spec {
  font-size: 15px;
  margin: 0 0 0 9px; }
.payment-popup__text {
  font-size: 15px;
  margin: 0 0 0 9px; }
.payment-popup__logo {
  margin: 0 0 24px 0; }
.payment-popup__logo-img {
  margin-right: 18px; }

/*# sourceMappingURL=payment-popup.css.map */
