@media only screen and (max-width: 767px) {
  .detail-spros .full-card__buttons {
    width: 318px;
    margin-left: -15px; } }
.detail-spros__row {
  margin: 0px 0 63px; }
  @media (min-width: 768px) {
    .detail-spros__row {
      margin: 24px 0 63px; } }
.detail-spros__col-map {
  width: 60%; }
  @media (max-width: 767px) {
    .detail-spros__col-map {
      margin: 18px 0 0;
      order: 2; } }
  @media (max-width: 1199px) {
    .detail-spros__col-map {
      width: 100%; } }
.detail-spros__col-info {
  width: 40%; }
  @media (max-width: 767px) {
    .detail-spros__col-info {
      order: 1; } }
  @media (max-width: 1199px) {
    .detail-spros__col-info {
      width: 100%; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .detail-spros__info {
    margin: 32px 0 0 0px; } }
@media (min-width: 1200px) {
  .detail-spros__info {
    margin: 0 0 0 42px; } }
.detail-spros__description {
  margin: 0 0 20px 0;
  font-size: 15px; }
  @media (min-width: 768px) and (max-width: 1199px) {
    .detail-spros__description {
      width: 60%;
      margin: 0 23px 20px 28px; } }
@media (min-width: 768px) and (max-width: 1199px) {
  .detail-spros__description-col {
    width: 40%; } }
.detail-spros__district {
  margin: 0 0 5px 0;
  font-size: 15px; }
.detail-spros__price {
  font-weight: bold;
  margin: 0 0 29px 0;
  font-size: 15px; }
@media (min-width: 768px) and (max-width: 1199px) {
  .detail-spros__info-row {
    display: flex; } }
@media (max-width: 767px) {
  .detail-spros__map {
    height: 286px; } }
@media (min-width: 768px) {
  .detail-spros__map {
    height: 480px; } }

/*# sourceMappingURL=detail-spros.css.map */
