.detail-spros {
  @media only screen and (max-width: 767px) {
    .full-card__buttons {
      width: 318px;
      margin-left: -15px;
    }
  }
  &__row {
    margin: 0px 0 63px;
    @media (min-width: 768px) {
      margin: 24px 0 63px;
    }
  }

  &__col-map {
    @media  (max-width: 767px) {
      margin: 18px 0 0;
      order: 2;
    }
    @media  (max-width: 1199px) {
      width: 100%;
    }
    width: 60%;
  }
  &__col-info {
    @media  (max-width: 767px) {
      order: 1;
    }
    @media (max-width: 1199px) {
      width: 100%;
    }
    width: 40%;
  }

  &__info {
    @media (min-width: 768px) and (max-width: 1199px) {
      margin: 32px 0 0 0px;
    }
    @media (min-width: 1200px) {
      margin: 0 0 0 42px;
    }
  }
  &__description {
    margin: 0 0 20px 0;
    font-size: 15px;
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 60%;
      margin: 0 23px 20px 28px;
    }
  }
  &__description-col {
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 40%;
    }
  }
  &__district {
    margin: 0 0 5px 0;
    font-size: 15px;
  }
  &__price {
    font-weight: bold;
    margin: 0 0 29px 0;
    font-size: 15px;
  }
  &__info-row {
    @media (min-width: 768px) and (max-width: 1199px) {
      display: flex;
    }
  }
  &__map{
    @media (max-width: 767px){
      height: 286px;
      overflow: hidden;
    }
    @media (min-width: 768px){
      height: 480px;
    }
  }
}