.spros-base {
  &__header {
    margin: 0 0 30px 0;
    line-height: 1;
  }
  &__header-title {
    font-size: 30px;
    font-weight: bold;
  }
  &__header-subtitle {
    font-size: 15px;
    color: rgba(34, 36, 37, 0.4);
    margin: 0 0 0 16px;
  }
  &__head {
    @media (max-width: 767px) {
      display: none;
    }
    padding: 0 0 13px 0;
    color: #345591;
    font-size: 15px;
  }
  &__row {
    border-top: solid 1px rgba(34, 36, 37, 0.2);
    padding: 7px 0 17px;
    font-size: 15px;
    text-decoration: none;
    color: $colorBlack;
    display: block;

    @media (max-width: 767px) {
      padding: 7px 22px 17px;
    }
    .button {
      display: none;
      position: absolute;
    }
    &:hover {
      background-color: rgba(34, 36, 37, 0.03);
      .button {
        display: block;
      }
    }
    &--nowrap {
      @include respond(planshet) {
        flex-wrap: nowrap;
      }
    }
  }
  &__price-rub {
    font-size: 15px;
    font-weight: bold;
  }
  &__price-usd {
    @media (max-width: 767px) {
      margin-left: 12px;
    }
  }
  &__checkbox {
    @media (max-width: 767px) {
      display: none;
    }
    position: relative;
    margin-left: 13px;
  }
  &__banner {
    background-color: #7cd4b0;
    padding: 20px 0;
  }
  &__banner-text {
    color: #ffffff;
    @media (max-width: 1199px) {
      font-size: 19px;
      width: 56%;
    }
    @media (min-width: 1200px) {
      font-size: 30px;
    }

    font-weight: bold;
    padding-left: 24px;
  }
  &__navigation {
    padding-left: 24px;
    margin: 0 0 54px 0;
  }
  &__offer {
    text-align: center;
    margin: 0 0 74px 0;
  }
  &__block-hide {
    @media (max-width: 1199px) {
      display: none;
    }
  }
  &__col {
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  &__col-date {
    @media (max-width: 767px) {
      color: rgba(34, 36, 37, 0.4);
      font-size: 12px;
    }
  }
  &__col-price {
    @media (max-width: 767px) {
      display: flex;
    }
  }
  &__block-btn {
    @media (max-width: 1199px) {
      display: none;
    }
  }
  &__href {
    text-decoration: none;
    color: $colorBlack;
  }
  &__result-btn {
    margin: 0 0 27px 0;
  }
  &__result-count {
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 24px 0;
  }
}