.spros-filter {
  background-color: rgba(34, 36, 37, 0.03);
  border: solid 1px rgba(34, 36, 37, 0.2);
  border-radius: 5px;
  padding: 14px 30px 30px 30px;
  margin: 10px 0 56px 0; }
  @media (min-width: 1200px) {
    .spros-filter {
      margin: 22px 0 68px 0; } }
  .spros-filter__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 8px 0; }
  .spros-filter__subtitle {
    font-size: 19px; }
    @media (max-width: 767px) {
      .spros-filter__subtitle {
        margin: 0 0 26px 0; } }
    @media (min-width: 767px) and (max-width: 1199px) {
      .spros-filter__subtitle {
        margin: 0 0 32px 0; } }
  .spros-filter__rooms {
    width: 100%; }
  .spros-filter__town {
    width: 100%; }
  @media (max-width: 1199px) {
    .spros-filter__block-element-bottom {
      margin: 0 0 18px 0; } }
  .spros-filter__block-element {
    margin: 0 0 18px 0; }
  @media (min-width: 768px) {
    .spros-filter__price-border {
      width: 98px !important; } }
  .spros-filter__price-border .price-range__max {
    width: 100%; }
  @media (max-width: 767px) {
    .spros-filter__btn .filter-button {
      width: 100%; } }
  @media (min-width: 1200px) {
    .spros-filter__btn {
      text-align: right;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end; } }
  @media (min-width: 768px) {
    .spros-filter__moblie-room {
      display: none; } }
  @media (max-width: 767px) {
    .spros-filter__desctop-room {
      display: none; } }

/*# sourceMappingURL=spros-filter.css.map */
