.spros-filter {
  background-color: rgba(34, 36, 37, 0.03);
  border: solid 1px rgba(34, 36, 37, 0.2);
  border-radius: 5px;
  padding: 14px 30px 30px 30px;
  margin: 10px 0 56px 0;
  @media (min-width: 1200px) {
    margin: 22px 0 68px 0;
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    margin: 0 0 8px 0;
  }
  &__subtitle {
    font-size: 19px;
    line-height: 1.26;
    @media (max-width: 767px) {
      margin: 0 0 26px 0;
    }
    @media (min-width: 767px) and (max-width: 1199px) {
      margin: 0 0 32px 0;
    }
  }
  &__rooms {
    width: 100%;
  }
  &__town {
    width: 100%;
  }
  &__block-element-bottom {
    @media (max-width: 1199px) {
      margin: 0 0 18px 0;
    }
  }
  &__block-element {
    margin: 0 0 18px 0;
  }
  &__price-border {
    @media (min-width: 768px) {
      width: 98px !important;
    }
    .price-range__max {
      width: 100%;
    }
  }
  &__btn {
    .filter-button {
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    @media (min-width: 1200px) {
      text-align: right;
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }
  }
  &__moblie-room {
    @media (min-width: 768px) {
      display: none;
    }
  }
  &__desctop-room {
    @media (max-width: 767px) {
      display: none;
    }
  }
}