.average-cost{
  @media (max-width: 767px) {
    margin: 0 0 30px 0;
    padding-left: 6px;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    margin: 0 0 35px 0;
    min-height: 224px;
  }
  @media (min-width: 1200px) {
    width: 273px;
    margin: 0 53px 0 0;
  }
  &__title{
    color: $colorBlack;
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 10px 0;
  }
  &__table{
    width: 273px;
    thead{
      th{
        font-weight: normal;
        font-size: 12px;
        border-bottom: solid 1px rgba(34, 36, 37, 0.2);
      }
    }
    tbody{
      th{
        font-weight: normal;
        font-size: 15px;
      }
    }

  }
  &__table-rooms{
    text-align: left;
  }
  &__all{
    color: $colorBlueLink;
    font-size: 15px;
    margin: 17px 0 0;
    display: inline-block;
    text-decoration: none;
    &:hover{
      color: #1358d8;
    }
  }
}
