.block-link {
  @media (max-width: 767px) {
    margin: 0 0 30px 0;

  }
  @media (max-width: 1199px) {
    padding-left: 6px;
  }
  @media (min-width: 1200px) {
    width: 321px;
    margin: 0 21px 0 0;
  }
  &__title {
    color: $colorBlack;
    font-size: 19px;
    font-weight: bold;
  }
  &__block-list{
    &:first-child{
      margin-right: 8px !important;
    }
  }
  &__list{
    list-style: none;
    margin: 0 9px 0 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    a{
      color:$colorBlueLink;
      text-decoration: none;
      font-size: 15px;
      &:hover{
        color: #1358d8;
      }
    }
    span{
      font-size: 12px;
      color: rgba(34, 36, 37, 0.4);
    }
  }
  &__li{
    margin: 7px 0 0 0;

  }
  &__all{
    color: $colorBlueLink;
    font-size: 15px;
    margin: 17px 0 0;
    display: inline-block;
    text-decoration: none;
    &:hover{
      color: #1358d8;
    }
  }
}

