.filter-index {
  margin: 0 0 64px 0;

  &__caption-list {
    padding: 0;
    margin: 0;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__caption-title {
    font-size: 19px;
    font-weight: bold;
    color: #2a55a4;
    margin: 0 8px 0 0;
  }

  &__caption {
    display: inline-block;
    padding-bottom: 14px;
    margin: 0 38px 0 0;
    cursor: pointer;
    text-decoration: none;
    &.active {
      border-bottom: 3px solid $colorBlack;
      .filter-index__caption-title {
        color: $colorBlack;
      }
    }
  }

  &__caption-subtitle {
    font-size: 15px;
    color: $colorBlack;
  }

  &__block-form {
    background-color: rgba(34, 36, 37, 0.03);
    @media (max-width: 767px) {
      padding: 16px 30px 26px 30px;
      border-left: solid 1px rgba(34, 36, 37, 0.2);
      border-right: solid 1px rgba(34, 36, 37, 0.2);
      border-bottom: solid 1px rgba(34, 36, 37, 0.2);
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      padding: 36px 0 35px 30px;
      border: solid 1px rgba(34, 36, 37, 0.2);
      border-radius: 5px;
    }

    @media (min-width: 1200px) {
      padding: 35px 0 35px 42px;
      border: solid 1px rgba(34, 36, 37, 0.2);
      border-radius: 5px;
    }

  }
  &__map {
    color: #345591;
    text-decoration: none;
    font-size: 15px;
    margin: 0 0 0 27px;
    @media (max-width: 767px) {
      margin: 27px auto 0 auto;
    }
  }
  &__mobile-block-subtitle {
    font-size: 19px;
    font-weight: bold;
  }
  &__mobile-block-count {
    font-size: 15px;
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__mobile-block-title {
    background-color: rgba(34, 36, 37, 0.03);
    padding: 16px 30px 16px 30px;
    color: #2a55a4;
    border-radius: $defaultBorderRadius;
    border: solid 1px rgba(34, 36, 37, 0.2);
    position: relative;
    display: block;
    text-decoration: none;
    @media (min-width: 768px) {
      display: none;
    }
    &:after {
      content: ' ';
      display: block;
      width: 9px;
      height: 9px;
      border-left: 1px solid #2a55a4;
      border-top: 1px solid #2a55a4;
      position: absolute;
      top: 50%;
      right: 35px;
      margin-top: -7px;
      transform: rotate(-45deg);
      color: #2a55a4;
    }
    &--active {
      color: $colorBlack;
      border-bottom: none;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      &:after {
        transform: rotate(-135deg);
        border-left: 1px solid $colorBlack;
        border-top: 1px solid $colorBlack;
      }
      .filter-index__mobile-block-count {
        display: block;
      }
    }
    &--noarrow {
      &:after {
        display: none;
      }
    }
  }
  @media (max-width: 767px) {
    .form-group {
      margin-right: 0;
      width: 100%;
    }
    .fake-select {
      width: 100%;
    }
    .select-place__button {
      width: 100%;
    }
    .form-button {
      width: 100%;
    }
    .filter-button {
      width: 100%;
    }
  }
}

.tabs__content {
  display: none; /* по умолчанию прячем все блоки */
}

.tabs__content.active {
  display: block; /* по умолчанию показываем нужный блок */
}