.news {
  @media (max-width: 767px) {
    display: none;
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 13px 0;
    @include respond(phone) {
      font-size: 19px;
    }
  }
  &__block {
    margin-right: -24px;
    position: relative;
    .slider-block__link {
      right: 106px;
    }
  }
  &__href {
    text-decoration: none;
    color: $colorBlack;
  }
  &__iteam {
    display: flex;
    border-radius: $defaultBorderRadius;
    border: solid 1px rgba(34, 36, 37, 0.2);
    margin: 15px 24px 62px 0;
    width: 564px;
    &:hover {
      -webkit-box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
      box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
    }
  }
  &__img {
    width: 204px;
    max-height: 191px;
    img {
      max-width: 100%;
    }
  }
  &__info {
    width: 360px;
    padding: 35px 80px 20px 40px;
    min-height: 191px;
    &--fullwidth {
      width: 100%;
    }
    @include respond(phone) {
      min-height: inherit;
    }
  }
  &__name {
    font-size: 15px;
    font-weight: bold;
  }
  &__text {
    font-size: 15px;
    margin: 5px 0 10px;
  }
  &__info {
    font-size: 12px;
  }
  &__date {
    color: rgba(34, 36, 37, 0.4);
  }
}