.our-advantages {
  margin: 0 0 52px 0;

  &__blocks {
    display: flex;
    @media (max-width: 767px) {
      overflow-y: hidden;
      position: relative;
      margin-right: -22px;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      flex-wrap: wrap;
    }
  }

  &__img {
    height: 72px;
    display: flex;
    align-items: center;
  }

  &__block {
    margin: 0 2px 2px 0;
    padding: 30px 39px 29px 29px;

    &:last-child {
      margin-right: 0px;
      border-bottom-right-radius: $defaultBorderRadius;
      border-top-right-radius: $defaultBorderRadius;
      @include respond(planshet) {
        border-bottom-right-radius: $defaultBorderRadius;
        border-top-right-radius: inherit;
      }
    }

    &:first-child {
      border-bottom-left-radius: $defaultBorderRadius;
      border-top-left-radius: $defaultBorderRadius;
      @include respond(planshet) {
        border-top-left-radius: $defaultBorderRadius;
        border-bottom-left-radius: inherit;
      }
    }

    &:nth-child(2) {
      @include respond(planshet) {
        border-top-right-radius: $defaultBorderRadius;
      }
    }

    &:nth-child(3) {
      @include respond(planshet) {
        border-bottom-left-radius: $defaultBorderRadius;
      }
    }

    &--blue {
      background-color: #65c9e9;
    }

    &--sky-blue {
      background-color: #4a90e2;
    }

    &--yellow {
      background-color: #ffe400;
    }

    &--brown {
      background-color: #ff9272;
    }

    &--red {
      background-color: #ff6a7e;
    }

    &--sapphirine {
      background-color: #61a4ea;
    }

    &--orange {
      background-color: #ff9272;
    }

    &--green {
      background-color: #7cd4b0;
    }

    &--gray {
      background-color: rgba(34, 36, 37, 0.2);
    }

    &--purple {
      background-color: #7da7ff;
    }

    @media (max-width: 767px) {
      min-width: 260px;
      padding: 30px 32px 29px 36px;
    }
    @media (min-width: 768px) and (max-width: 1199px) {
      width: 50%;
      margin: 0 0 2px 0;
      &:nth-child(odd) {
        border-right: 2px solid #ffffff;
      }
    }
    @include respond(tablet) {
      width: 25%;
    }

    &--width {
      @include respond(tablet) {
        width: 50%;
        display: flex;
        .our-advantages__img {
          margin-right: 34px;
        }
      }
      .our-advantages__text {
        margin-bottom: 30px;
      }
      @include respond(phone) {
        min-width: 293px;
      }
    }
  }

  &__title {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 34px 0;
    color: $colorBlack;
    @media (max-width: 767px) {
      font-size: 19px;
      margin: 0 0 20px 0;
    }
  }

  &__name {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 4px 0;
    text-transform: uppercase;
  }
}
