.partners {
  margin: 0 0 60px 0; }
  .partners__iteam {
    width: 204px;
    text-align: center;
    margin: 0 12px; }
    .partners__iteam:hover {
      box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4); }
    .partners__iteam img {
      margin: 0 auto; }
  .partners__block {
    margin-left: -24px;
    margin-right: -24px; }

/*# sourceMappingURL=partners.css.map */
