.partners{
  margin: 0 0 60px 0;
  &__iteam{
    width: 204px;
    text-align: center;
    margin: 10px 12px;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px 0;
    &:hover{
      box-shadow: 0 10px 20px -3px rgba(34, 36, 37, 0.4);
    }
    img{
      margin: 0 auto;
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__block{
    margin-left: -24px;
    margin-right: -24px;
  }
}