.promoblock {
  margin: 2px 0 45px 0;

  &__top {
    background-repeat: no-repeat;
    background-position: right;

    &--elit {
      background: #b7c9c3 url('../images/programs/elit.png');
    }

    &--vnewbuild {
      background: url('../images/programs/perrez-small.jpg');
    }

    &--market-price {
      background: url('../images/programs/analytics-cena-mobil.jpg');
      @include respond(tablet) {
        background: url('../images/programs/analytics-cena.jpg');
      }
    }
  }

  &__flats {
    &--flats {
      background: #ff6a7e url("../images/programs/rent_flats.jpg");
      background-size: cover;
      @include respond(phone) {
        background-position: 100%;
      }
    }

    &--kredit {
      background: url("../images/programs/sale-small.jpg");
      background-size: cover;
    }

    &--commerce {
      background: url('../images/programs/commerce-mobile.jpg');
      background-size: cover;
      @include respond(tablet) {
        background: url("../images/programs/commerce.jpg");
      }
    }
  }

  &__house {
    &--house {
      background: #ffe400 url("../images/programs/viber-index.jpg");
      background-size: cover;
      @include respond(phone) {
        background-position: 100%;
      }
    }

    &--excursii {
      background: url("../images/programs/excurs-small.jpg");
      background-size: cover;
      @media (max-width: 767px) {
        background-position: 1% 99%;
      }
    }

    &--residential {
      background: url('../images/programs/analytics-residential-mobile.jpg');
      background-size: cover;
      @include respond(tablet) {
        background: url("../images/programs/analytics-residential.jpg");
      }
    }
  }

  &__w-one {
    width: 264px;
    margin: 0 2px 2px 0;
    text-decoration: none;
    color: $colorBlack;
    @include respond(phone) {
      width: 100%;
      height: 117px;
      margin: 1px 0 0;
      padding: 19px 0 0 22px;
    }
  }
  &__w-two {
    width: 264px;
    margin: 0 0 2px 0;
    text-decoration: none;
    color: $colorBlack;
    @include respond(phone) {
      width: 100%;
      height: 117px;
      margin: 1px 0 0;
      padding: 19px 0 0 22px;
    }
  }
  &__top-block {
    display: flex;
    @include respond(planshet) {
      height: 33.3%;
    }
    @include respond(phone) {
      flex-wrap: wrap;
    }
    .big-images__header {
      @include respond(planshet) {
        font-size: 19px;
      }
      @include respond(phone){
        font-size: 19px;
      }
    }
  }

  &__subtitle {
    font-size: 15px;
    width: 72%;
    @media (min-width: 768px) {
      margin: 5px 0 0 29px;
    }
  }

  &__band {
    text-decoration: none;
    display: block;
    color: #222425;
    font-size: 19px;
  }

  &__pre-header {
    font-size: 15px;
    line-height: 1.4;
    color: #222425;
    margin-bottom: 1px;
    font-weight: bold;
    text-transform: uppercase;
  }

  &__text {
    font-size: 19px;
    line-height: 1.26;
    color: #222425;
  }

  &__iteam {
    text-decoration: none;
    background-size: cover;
  }

  &__header {
    color: $colorBlack;
  }

  @media (min-width: 768px) {
    height: 354px;
    display: flex;
    &__slider {
      margin-right: 2px;
    }
    &__iteam {
      height: 354px;
      width: 666px;
      padding: 25px 38% 25px 29px;
      display: inline-block;
    }

    &__band-item {
      padding: 25px 26% 25px 29px;
      color: #222425;
    }
    &__sub-title {
      font-size: 12px;
      margin-bottom: 5px;
      font-weight: normal;
    }
  }
  @media (max-width: 767px) {
    &__header {
      font-size: 30px;
      font-weight: bold;
      line-height: 1;
      margin: 0 0 4px 0;
    }
    &__iteam {
      min-height: 354px;
      padding: 25px 0 0 22px;
      background-position: top;
    }
    &__band {
      height: 117px;
      margin: 1px 0 0;
      padding: 19px 0 0 22px;
    }
    &__band-text {
      display: none;
    }
    &__title {
      font-size: 19px;
      color: #222425;
      font-weight: bold;
      width: 192px;
      line-height: 1.26;
    }
    &__top {
      background-size: cover;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    &__slider {
      width: 59%;
    }
    &__right {
      width: 41%;
    }
    &__band {
      height: 33.1%;
      margin: 0 0 1px 0;
    }
    &__header {
      font-size: 30px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 25px;
    }
    &__band-text {
      display: none;
    }
    &__title {
      font-size: 19px;
      padding: 17px 0 0 30px;
      font-weight: bold;
    }
  }
  @media (min-width: 1200px) {
    &__slider {
      width: 666px;
      overflow: hidden;
      height: 354px;
    }
    &__right {
      width: 532px;
      display: flex;
      flex-wrap: wrap;
    }
    &__top {
      height: 172px;
      width: 100%;
      margin: 0 0 2px 0;
    }
    &__flats {
      width: 264px;
      height: 180px;
      margin: 0 2px 0 0;
    }
    &__house {
      width: 264px;
      height: 180px;
    }

    &__header {
      font-size: 48px;
      font-weight: bold;
      line-height: 1;
      margin-bottom: 25px;
    }
    &__title {
      font-size: 30px;
      font-weight: bold;
      color: #222425;
      margin: 20px 0 0 29px;
      width: 50%;
      line-height: 1;

      &--width {
        width: 90%;
      }
    }
    &__band-text {
      font-size: 15px;
    }
  }

  .slick-dots li button:before {
    font-size: 12px;
  }

  .slick-dots li {
    width: 10px;
  }

  .slick-dots {
    text-align: left;
    margin-left: 25px;
    margin-bottom: 60px;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0px;
  }
}