.tenant-applications{
  padding-right: 6px;
  @media (max-width: 767px) {
    margin: 0 0 30px 0;
    padding-left: 6px;
  }
  @media (min-width: 1200px) {
    width: 246px;
  }
  &__title{
    color: $colorBlack;
    font-size: 19px;
    font-weight: bold;
    margin: 0 0 7px 0;
  }
  &__link{
    text-decoration: none;
    color: $colorBlueLink;
    font-size: 15px;
    margin: 0 0 9px 0;
    display: inline-block;
    &:hover{
      color: #1358d8;
    }
  }
  &__all{
    color: $colorBlueLink;
    font-size: 15px;
    margin: 26px 0 0;
    display: inline-block;
    text-decoration: none;
  }
}