.urgently{
  padding-left: 6px;
  @media (max-width: 767px) {
    margin: 0 0 30px 0;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 276px;
    margin: 0 43px 35px 0;
    min-height: 224px;
  }
  @media (min-width: 1200px) {
    width: 192px;
    margin: 0 54px 0 0;
  }
  &__all{
    color: $colorBlueLink;
    font-size: 15px;
    margin: 8px 0 0;
    display: inline-block;
    text-decoration: none;
    &:hover{
      color: #1358d8;
    }
  }
}